<ion-header>
  <ion-toolbar>
    <ion-title>KwangaApparel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class='List'>
        <ion-slides #slides [options]="slideOpts" (ionSlideWillChange)="change()"
          style="height: 100%; width: 90%; overflow: visible;">
          <ion-slide style="width: 90vw !important; border-radius: 20px !
                ; overflow: hidden;" >
            <img src="https://i.pinimg.com/564x/be/fa/2b/befa2b288a55907f9a6a17b87db718a4.jpg" 
              >
            <div class="salonName">
                
            </div>
          </ion-slide>

          <ion-slide style="width: 90vw !important; border-radius: 20px !
                ; overflow: hidden;" >
            <img src="https://i.pinimg.com/564x/be/fa/2b/befa2b288a55907f9a6a17b87db718a4.jpg" 
              >
            <div class="salonName">
                
            </div>
          </ion-slide>
          <ion-slide style="width: 90vw !important; border-radius: 20px !
                ; overflow: hidden;" >
            <img src="https://i.pinimg.com/564x/be/fa/2b/befa2b288a55907f9a6a17b87db718a4.jpg" 
              >
            <div class="salonName">
                
            </div>
          </ion-slide>

          <ion-slide style="width: 90vw !important; border-radius: 20px !
                ; overflow: hidden;" >
            <img src="https://i.pinimg.com/564x/be/fa/2b/befa2b288a55907f9a6a17b87db718a4.jpg" 
              >
            <div class="salonName">
                
            </div>
          </ion-slide>

          <ion-slide style="width: 90vw !important; border-radius: 20px !
                ; overflow: hidden;" >
            <img src="https://i.pinimg.com/564x/be/fa/2b/befa2b288a55907f9a6a17b87db718a4.jpg" 
              >
            <div class="salonName">
                
            </div>
          </ion-slide>
        </ion-slides>
      </div>
</ion-content>
