.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: hidden;
  height: 100%;

  .text {
    p {
      font-family: "Poppins";
      font-size: 3vw;
      font-weight: bold;
      letter-spacing: 2px;
    }
  }

  .buttonz {
    ion-button {
      background: rgb(0, 0, 36);
      width: 50vw;
      font-size: 3vw;
    }
  }
}

@media only screen and (min-width: 1025) {
  .container {
    display: none;
    width: 0 !important;
    height: 0 !important;
  }

  .web_view {
    min-width: inherit;
    max-width: inherit;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: center;

    justify-content: center;

    .text {
      p {
        font-family: "Poppins";
        font-weight: bold;
        letter-spacing: 2px;
      }
    }

    .buttonz {
      ion-button {
        background: rgb(0, 0, 36);
        width: 10vw;
      }
    }
  }
}

@media only screen and (max-width: 1024px){
.web_view{
  display: none;
  width: 0 !important;
  height: 0 !important
}
}
