# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/plugins
/www
/platforms

platforms/android/android.json
platforms/android/android.json
platforms/android/app/build.gradle
platforms/android/app/src/main/AndroidManifest.xml
platforms/android/app/src/main/assets/www/11.js
platforms/android/app/src/main/assets/www/11.js.map
platforms/android/app/src/main/assets/www/19.js
platforms/android/app/src/main/assets/www/19.js.map
platforms/android/app/src/main/assets/www/2.js
platforms/android/app/src/main/assets/www/2.js.map
platforms/android/app/src/main/assets/www/21.js
platforms/android/app/src/main/assets/www/21.js.map
platforms/android/app/src/main/assets/www/22.js
platforms/android/app/src/main/assets/www/22.js.map
platforms/android/app/src/main/assets/www/3.js
platforms/android/app/src/main/assets/www/3.js.map
platforms/android/app/src/main/assets/www/cordova_plugins.js
platforms/android/app/src/main/assets/www/main.js
platforms/android/app/src/main/assets/www/main.js.map
platforms/android/app/src/main/assets/www/vendor.js
platforms/android/app/src/main/assets/www/vendor.js.map
platforms/android/app/src/main/java/org/apache/cordova/splashscreen/SplashScreen.java
platforms/android/app/src/main/res/xml/config.xml
platforms/android/build.gradle
platforms/android/cordova/node_modules/.bin/nopt
platforms/android/cordova/node_modules/.bin/nopt.cmd
platforms/android/cordova/node_modules/nopt/package.json
platforms/android/platform_www/cordova_plugins.js
platforms/android/project.properties
