# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www


platforms/android/android.json
platforms/android/project.properties
platforms/android/app/build.gradle
platforms/android/app/src/main/AndroidManifest.xml
platforms/android/app/src/main/assets/www/2.js
platforms/android/app/src/main/assets/www/2.js.map
platforms/android/app/src/main/assets/www/3.js
platforms/android/app/src/main/assets/www/3.js.map
platforms/android/app/src/main/assets/www/11.js
platforms/android/app/src/main/assets/www/11.js.map
platforms/android/app/src/main/assets/www/12.js
platforms/android/app/src/main/assets/www/12.js.map
platforms/android/app/src/main/assets/www/13.js
platforms/android/app/src/main/assets/www/13.js.map
platforms/android/app/src/main/assets/www/14.js
platforms/android/app/src/main/assets/www/14.js.map
platforms/android/app/src/main/assets/www/15.js
platforms/android/app/src/main/assets/www/15.js.map
platforms/android/app/src/main/assets/www/16.js.map
platforms/android/app/src/main/assets/www/18.js
platforms/android/app/src/main/assets/www/18.js.map
platforms/android/app/src/main/assets/www/19.js
platforms/android/app/src/main/assets/www/19.js.map
platforms/android/app/src/main/assets/www/20.js
platforms/android/app/src/main/assets/www/20.js.map
platforms/android/app/src/main/assets/www/21.js
platforms/android/app/src/main/assets/www/21.js.map
platforms/android/app/src/main/assets/www/22.js
platforms/android/app/src/main/assets/www/22.js.map
platforms/android/app/src/main/assets/www/23.js
platforms/android/app/src/main/assets/www/23.js.map
platforms/android/app/src/main/assets/www/24.js.map
platforms/android/app/src/main/assets/www/27.js.map
platforms/android/app/src/main/assets/www/28.js
platforms/android/app/src/main/assets/www/28.js.map
platforms/android/app/src/main/assets/www/index.html
platforms/android/app/src/main/assets/www/main.js
platforms/android/app/src/main/assets/www/main.js.map
platforms/android/app/src/main/assets/www/styles.js
platforms/android/app/src/main/assets/www/styles.js.map
platforms/android/app/src/main/assets/www/vendor.js
platforms/android/app/src/main/assets/www/vendor.js.map
platforms/android/app/src/main/res/xml/config.xml
platforms/android/cordova/node_modules/nopt/package.json
*.js
platforms/android/app/src/main/assets/www/13.js
src/app/profile/profile.page.scss
