<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div>
     <ion-input placeholder="number" [(ngModel)]="number" type="text"></ion-input>
    <!-- <ion-input placeholder="Password" [(ngModel)]="password" type="password"></ion-input> -->
    <ion-button expand="full" id="sign-in-button" (click)="addUser()" >Phone</ion-button>  
    <!-- <ion-button expand="full" id="sign-in-button" (click)="googleSignin()" >Google</ion-button> -->
    <ion-button expand="full" id="sign-in-button" (click)="Facebook()" >Facebook</ion-button>
    <ion-button expand="full" (click)="loginAnon()" >Anon</ion-button>
    <!-- <ion-button expand="full" id="sign-in-button" (click)="Github()" >Github</ion-button> -->
    </div>
    <div id="recaptcha-container"></div>
  </div>

 

</ion-content>
