<ion-header no-border>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content full screen>
    <div [ngClass]="{'loader': loaderAnimate, 'loader-hide': !loaderAnimate}">
        <div class="maploader">
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div><p style="color:white; text-align: center;">{{loaderMessages}}</p>
        </div>
       <!--  <div class="loading-text">
          <p>Loading Map</p>
        </div> -->
      </div>
  <div class="container" slot= "fixed">
    <div class="logo">
      <img src="../../assets/NoPath - Copy.svg">
    </div>

    <div class="desc">
      <p>Est lorem ipsum dolor sit amet consectetur adipiscing elit. Quis
        eleifend quam adipiscing vitae proin sagittis.
      </p>
    </div>
    <div class="login">
      <ion-input placeholder="Phone Number" [(ngModel)]="number" type="number" maxLength="9">+27</ion-input>
      <!-- <ion-input placeholder="Password" [(ngModel)]="password" type="password"></ion-input> -->
    
      <ion-button  id="sign-in-button" color="transparent" (click)="addUser()"> <ion-icon slot="end" name="call"></ion-icon> Sign-in with Phone</ion-button>
      <ion-button  id="sign-in-button" color="transparent" (click)="googleLogin()" > <ion-icon slot="end" name="logo-google"></ion-icon> Sign-in with Google</ion-button>
      <ion-button  id="sign-in-button" color="transparent" (click)="email()" ><ion-icon slot="end" name="logo-facebook"></ion-icon>Sign-in with Email</ion-button>
      <!-- <ion-button expand="full" id="sign-in-button" (click)="twitter()" >Twitter</ion-button> -->
      <!-- <ion-button expand="full" id="sign-in-button" (click)="Github()" >Github</ion-button> -->
    </div>
    <div id="recaptcha-container"></div>
  </div>



</ion-content>