@import url("https://fonts.googleapis.com/css?family=Abel|Poiret+One|Open+Sans+Condensed|Jura|Manjari|Poppins|Raleway|Montserrat ");

ion-toolbar {
  --background: transparent;
  position: absolute;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("https://images.unsplash.com/photo-1530834395125-2a7eb8848ac0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1164&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .logo {
    position: absolute;
    top: 20%;
    img {
      width: 40vw;
      height: 30vw;
    }
  }

  .desc {
    margin: 10px;
    p {
      color: white;
      text-align: center;
      font-size: 0.8em;
      font-family: "Poppins";
    }
  }

  .login {
    position: absolute;
    top: 65%;
    text-align: center;
    width: 100%;
    ion-button {
      width: 60vw;
      border-radius: 30px;
      background: white;
      color: black;
      font-size: 0.8em;
      font-weight: lighter;
      font-family: "Poppins";
      ion-icon {
        color: black;
      }
    }

    ion-input {
      color: white;
    }
  }
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: rgb(0, 27, 63);
  background-repeat: repeat-x;
  transform: scale(1);
  overflow: hidden;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: backgroundmover 30s linear infinite;
  .maploader {
    .lds-ellipsis {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-ellipsis div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #fff;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }
  }
}
.loading-text {
  // color: yellow;
  position: absolute;
  bottom: 50vh;
  left: 0px;
  width: 100vw;
  text-align: center;
  // background: red;
  height: 50vh;
  //z-index: 90;
  margin: auto;
}
.loader-hide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  background: rgb(255, 255, 255);
  transform: scale(0);
  overflow: hidden;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  .maploader {
    .lds-ellipsis {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-ellipsis div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #fff;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }
  }
}
@keyframes maploader {
  0% {
    // transform: rotate(0deg);
    border-color: rgb(182, 70, 95);
    // background: rgb(255, 192, 192);
  }
  50% {
    // background: rgb(206, 206, 255);
    // transform: rotate(360deg);
    border-color: rgb(42, 50, 75);
  }
  100% {
    border-color: rgb(250, 182, 43);
    // background: rgb(255, 167, 167);
    // transform: rotate(360deg);
  }
}
