<ion-header no-border>

    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button id="icon">
          <ion-icon slot="icon-only" name="heart" ></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="secondary">
        <ion-button  id="icon">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    
    </ion-toolbar>

  </ion-header>

<ion-content padding>

  <div class="container">

    <div class="pagename">
      <h1>{{category}} GEAR</h1>
    </div>
    <div class="itemcount">
      <div class="items">
        <p>200 Items</p>
      </div>

      <div class="filter">
    
          <ion-select placeholder="Filter">
            <ion-select-option value="c">Colour</ion-select-option>
            <ion-select-option value="p">Product Type</ion-select-option>
            <ion-select-option value="s">Size</ion-select-option>
         
          </ion-select>
        </div>
    </div>
        <div class="cards" *ngIf="category==='SUMMER'">
        <div class="card" (click)="list('Vests')">
          <img src="https://i.pinimg.com/564x/be/fa/2b/befa2b288a55907f9a6a17b87db718a4.jpg">
          <div class="category">Vests</div>
        </div>
        <div class="card" (click)="list('Shorts')">
            <img src="https://i.pinimg.com/564x/a3/a1/8b/a3a18b4c3a78b3187d70b456cc09ad7e.jpg">
            <div class="category">Shorts</div>
        </div>
        <div class="card" (click)="list('T-shirts')">
            <img src="https://i.pinimg.com/564x/ba/a6/bb/baa6bb4a97859357928cd6b5a6dda6c5.jpg">
            <div class="category">T-shirts</div>
        </div>
        <div class="card" (click)="list('Bucket Hats')">
            <img src="https://i.pinimg.com/564x/96/97/0c/96970c6ee2cb886eb19289a90b6bb35e.jpg">
            <div class="category">Bucket Hats</div>
        </div>
        <div class="card" (click)="list('Crop Tops')">
            <img src="https://i.pinimg.com/564x/a3/a1/8b/a3a18b4c3a78b3187d70b456cc09ad7e.jpg">
            <div class="category">Crop Tops</div>
        </div>

      </div>

      <div class="cards" *ngIf="category==='WINTER'">
        <div class="card" (click)="list('Hoodies')">
          <img src="https://i.pinimg.com/564x/be/fa/2b/befa2b288a55907f9a6a17b87db718a4.jpg">
          <div class="category">Hoodies</div>
        </div>
        <div class="card" (click)="list('Sweaters')">
            <img src="https://i.pinimg.com/564x/a3/a1/8b/a3a18b4c3a78b3187d70b456cc09ad7e.jpg">
            <div class="category">Sweaters</div>
        </div>
        <div class="card" (click)="list('Track Suits')">
            <img src="https://i.pinimg.com/564x/ba/a6/bb/baa6bb4a97859357928cd6b5a6dda6c5.jpg">
            <div class="category">Track Suits</div>
        </div>
        <div class="card" (click)="list('Beanies')">
            <img src="https://i.pinimg.com/564x/96/97/0c/96970c6ee2cb886eb19289a90b6bb35e.jpg">
            <div class="category">Beanies</div>
        </div>
        <div class="card" (click)="list('Sweaters')">
            <img src="https://i.pinimg.com/564x/a3/a1/8b/a3a18b4c3a78b3187d70b456cc09ad7e.jpg">
            <div class="category">Sweaters</div>
        </div>

      </div>
  </div>



</ion-content>

