<ion-header no-border id="nav">

  <ion-toolbar>
    <img src="../../assets/Logo.png" width="150px" height="90px" routerLink="/home">

    <ion-buttons slot="end">
      <div class="icon1">
        <ion-button id="icon" routerLink="/home">
          Home
        </ion-button>

        <ion-button id="icon" *ngIf="category==='sales'" class="active">
          Sales and Specials
        </ion-button>
        <ion-button id="icon" (click)="goList('sales')" *ngIf="category!=='sales'">
          Sales and Specials
        </ion-button>

        <ion-button id="icon" *ngIf="category==='SUMMER'" class="active">
          Summer Gear
        </ion-button>
        <ion-button id="icon" (click)="categories('summer')" *ngIf="category!=='SUMMER'">
          Summer Gear
        </ion-button>
        <ion-button id="icon" *ngIf="category==='WINTER'" class="active">
          Winter Gear
        </ion-button>
        <ion-button id="icon" (click)="categories('winter')" *ngIf="category!=='WINTER'">
          Winter Gear
        </ion-button>
        <ion-button id="icon" *ngIf="category==='KWANGA'" class="active">
          Kwanga Apparel
        </ion-button>
        <ion-button id="icon" (click)="categories('kwanga')" routerLink="/view" *ngIf="category!=='KWANGA'">
          Kwanga Apparel
        </ion-button>
        <ion-button id="icon" href="https://broken-stool.firebaseapp.com/home/About%20Company">
          About Us
        </ion-button>

      </div>

     

      <ion-button id="icon" (click)="wish()" class="notification">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
        <span class="badge" *ngIf="myWish>0">{{myWish}}</span>
      </ion-button>

      <ion-button id="icon" (click)="getSideMenu()" class="sidemenu">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- <ion-title style="font-family: 'Poiret One'; font-size: 20px; letter-spacing: 2px;">DankieJesu</ion-title> -->
  </ion-toolbar>
<p id="crumbs"><i><span (click)="back()">Home</span> / Categories</i></p>

</ion-header>
<!-- <p id="crumbs"><i><span (click)="back()">Home</span> / Categories</i></p> -->
<ion-header no-border id="mobile">

  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button id="icon" (click)="wishlist()">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
        <p id="number" *ngIf="myWish>0">{{myWish}}</p>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button id="icon" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="container">

    <div class="pagename">
      <h1 *ngIf="category==='KWANGA'">{{category}} APPAREL</h1>
      <h1 *ngIf="category!=='KWANGA'">{{category}} GEAR</h1>
    </div>
    <div class="itemcount">
      <br><br>
    </div>
    <div class="cards" *ngIf="category==='SUMMER'" >
      <div *ngFor="let cat of prodArray">
        <div class="card" (click)="list(cat.name)" >
            <img src="{{cat.pictureLink}}">
          <div class="category">{{cat.name}}</div>
        </div>
    </div>
      <!-- <div class="card" (click)="list('Shorts')">
        <img src="https://i.pinimg.com/564x/1f/d2/e5/1fd2e5a2ccd92d25b0f5d560f08f77f2.jpg">
        <div class="category">Shorts</div>
      </div>
      <div class="card" (click)="list('T-Shirts')">
        <img src="https://i.pinimg.com/564x/ac/62/93/ac62932edd87f40fb5298ea76ebe6ba9.jpg">
        <div class="category">T-shirts</div>
      </div>
      <div class="card" (click)="list('Bucket Hats')">
        <img src="https://i.pinimg.com/564x/65/e0/fc/65e0fc8d58aab5f18731cc8cb1f703cf.jpg">
        <div class="category">Bucket Hats</div>
      </div>
      <div class="card" (click)="list('Crop Tops')">
        <img src="https://i.pinimg.com/564x/c8/1b/aa/c81baa4f14e6a9890b03b78c412c2f91.jpg">
        <div class="category">Crop Tops</div>
      </div>
      <div class="card" (click)="list('Bags')">
        <img src="https://i.pinimg.com/564x/45/e3/d2/45e3d28ac6d8241dcb85a0b8389da557.jpg">
        <div class="category">Bags</div>
      </div> -->
    </div>

    <div class="cards" *ngIf="category==='WINTER'">
      <div *ngFor="let cat of prodArray">
        <div class="card" (click)="list(cat.name)">
            <img src="{{cat.pictureLink}}">
          <div class="category">{{cat.name}}</div>
        </div>
    </div>

    </div>

    <div class="cards" *ngIf="category==='KWANGA'">
      <div *ngFor="let cat of prodArray">
        <div class="card" (click)="list(cat.name)" >
            <img src="{{cat.pictureLink}}">
          <div class="category">{{cat.name}}</div>
        </div>
    </div>
   

    </div>
  </div>

  <div class="web_view">
    <div class="pagename">
      <h1 *ngIf="category==='KWANGA'">{{category}} APPAREL</h1>
      <h1 *ngIf="category!=='KWANGA'">{{category}} GEAR</h1>
    </div>
    <div class="itemcount">
      <div class="items">
        <!-- <p id="lorem" style="font-size: 15px;">
          We understand that the economy is holding us on a choke hold, because of that, we have a little something for you on Sales and Specials.
          Find your ideal clothing items at lowered prices here.</p> -->

        <p id="lorem" style="font-size: 15px;" *ngIf="category==='SUMMER'">For a wide range of summery, sunny and bright
          summer clothing to keep you cool in this heat, check our wide range out.</p>

        <p id="lorem" style="font-size: 15px;" *ngIf="category==='WINTER'">For those cold days, frosty days and the cozy
          days, we've got your back with put range of winter gear that will have you and your loved ones nice and warm
        </p>

        <p id="lorem" style="font-size: 15px;">Shop Kwanga and find your ideal outfit for every occasion, for every
          event and even just to look your best. DAILY</p>
      </div>




    </div>
    <div class="cards" *ngIf="category==='SUMMER'">
      <div *ngFor="let cat of prodArray">
        <div class="data" >
          <div class="card" (click)="list(cat.name)">
              <img src="{{cat.pictureLink}}">
            <div class="category">{{cat.name}}</div>
          </div>
        </div>
      </div>
      

    </div>

    <div class="cards" *ngIf="category==='WINTER'" id="winter">
      <div *ngFor="let cat of winterArray">
        <div class="data" >
        <div class="card" (click)="list(cat.name)">
            <img src="{{cat.pictureLink}}">
          <div class="category">{{cat.name}}</div>
        </div>
        </div>
    </div>


    </div>

    <div class="cards" *ngIf="category==='KWANGA'" id="kwanga">
      <div *ngFor="let cat of prodArr">
        <div class="card" (click)="list(cat.name)">
            <img src="{{cat.pictureLink}}">
          <div class="category">{{cat.name}}</div>
        </div>
    </div>

      <!-- <div class="card" (click)="list('Traditional')">
        <img src="https://i.pinimg.com/564x/45/60/09/4560091dba34204379150440c77cfb58.jpg">
        <div class="category">Traditional</div>
      </div>
      <div class="card" (click)="list('Formal')">
        <img src="https://i.pinimg.com/564x/c6/41/b6/c641b6e1559ae0f2f432576d811ff172.jpg">
        <div class="category">Formal</div>
      </div>
      <div class="card" (click)="list('Casual')">
        <img src="https://i.pinimg.com/564x/52/3c/09/523c0965f3d8b0fedcfdfd240ae9db12.jpg">
        <div class="category">Casual</div>
      </div>
      <div class="card" (click)="list('Sport')">
        <img src="https://i.pinimg.com/564x/97/a7/60/97a760a30c2711fad0213978e10a9a34.jpg">
        <div class="category">Sport</div>
      </div>


    </div>
  </div>


  <div id="wish" [ngClass]="{'viewwishlist': viewPrice, 'closewishlist': !viewPrice}">

    <div class="heading">
      <p>Wishlist ({{myWishlist.length}})</p>

      <ion-icon slot="icon-only" name="close" (click)="wish()"></ion-icon>

    </div>


    <div class="wishlist_items">
      <div class="div">
        <div class="items" *ngFor="let w of myWishlist; let i = index">
          <div class="left">
            <div class="img">
              <img src="{{w.info.image}}" alt="">
            </div>

            <div class="item_details">
              <p> {{w.info.name}} </p>
              <p>{{w.info.price | currency:'R'}}</p>
              <p style="color: maroon;"><i>{{itemAvailable[i] }}</i></p>
            </div>
          </div>

          <div class="right">
            <div class="trash_icon" (click)="delete(w.id)">
              <ion-icon slot="start" name="trash"></ion-icon>
            </div>

            <div class="add_to_basket">
              <ion-button [disabled]="itemAvailable[i]==='Out of stock'" (click)="addtoBusket(w.info.id, w.info, w.id, itemAvailable[i])" color="transparent">
                Add<ion-icon slot="end" name="basket"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>

        <div class="items" id="noItems" *ngIf="myWishlist.length===0">
          <p>Wishlist Empty</p>
          <img src="../../assets/sad_smile.svg" alt="">
        </div>


      </div>

    </div>
  </div>
  <div class="backdrop1" *ngIf="viewBackdrop"></div>
  <div id="sidezzz" [ngClass]="{'viewMenu': viewSideMenu, 'closeMenu': !viewSideMenu}">
    <div class="heading">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </div>

    <div class="side_buttons">

      <ion-button id="icon" routerLink= "/home" class="active" color="transparent">
        Home
      </ion-button>

      <ion-button id="icon" (click)="goList('sales')" color="transparent">
        Sales and Specials
      </ion-button>

      <ion-button id="icon" (click)="categories('summer')" color="transparent">
        Summer Gear
      </ion-button>

      <ion-button id="icon" (click)="categories('winter')" color="transparent">
        Winter Gear
      </ion-button>

      <ion-button id="icon" (click)="categories('kwanga')" color="transparent">
        Kwanga Apparel
      </ion-button>

      <ion-button id="icon" href="https://broken-stool.firebaseapp.com/home/About%20Company" color="transparent">
        About Us
      </ion-button>
-->
     
    </div>
  </div>

  <ion-footer id="webview">
    <div class="footer">
      <div class="heading">
         <h1>Dankie Jesu</h1> 
        <img src="../../assets/NoPath - Copy.svg" alt="">
      </div>

      <div class="contact_details">
        <h1>CONTACT US</h1>
        <p>dankiejesu@gmail.com</p>
        <p>061 446 4674</p>
        <p class="address">5630 Moilwa Drive <br>
          Kagiso <br>
          MOGALE CITY <br>
          1754</p>
      </div>

      <div class="info">
        <h1>INFO</h1>
        <ion-button href="https://broken-stool.firebaseapp.com/home/FAQs" color="transparent">
          <span>FAQs</span>
        </ion-button>
        <ion-button href="https://broken-stool.firebaseapp.com/home/Terms%20and%20Privacy%20Policy" color="transparent">
          <span>Terms and Privacy Policy</span>
        </ion-button>
        <ion-button href="https://broken-stool.firebaseapp.com/home/Disclaimer" color="transparent">
          <span>Disclaimer</span>
        </ion-button>
        <ion-button href="https://broken-stool.firebaseapp.com/home/Payment%20Process" color="transparent">
          <span>Payment Process</span>
        </ion-button>
        <ion-button href="https://broken-stool.firebaseapp.com/home/About%20Company" color="transparent">
          <span>Developers</span>
        </ion-button>
      </div>

      <div class="connect">
        <h1>CONNECT</h1>
        <ion-button href="https://www.facebook.com/brokenstoolbrand/" color="transparent">
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
          Facebook
        </ion-button>
        <ion-button href="https://www.instagram.com/dankiejesu/" color="transparent">
          <ion-icon slot="start" name="logo-instagram"></ion-icon>
          Instagram
        </ion-button>
      </div>

      <div class="app_store">
        <img src="../../assets/android.png" alt="App Store">
      </div>
    </div>
  </ion-footer>

</ion-content>