ion-toolbar {
  --background: white;
  #icon {
    color: maroon;
  }

  #number {
    font-size: 0.8em;
    position: relative;
    top: 8px;
    right: 5px;
  }
}

.card:nth-child(1) {
  width: 57vw;
  height: 30vh;
}

.card:nth-child(2) {
  width: 30vw;
  height: 30vh;
}

.card:nth-child(3) {
  width: 30vw;
  height: 30vh;
}

.card:nth-child(4) {
  width: 57vw;
  height: 30vh;
}
.card:nth-child(5) {
  width: 90vw;
  height: 25vh;
}

.card:nth-child(6) {
  width: 30vw;
  height: 25vh;
}

.card:nth-child(7) {
  width: 57vw;
  height: 25vh;
}

.card:nth-child(8) {
  width: 89vw;
  height: 25vh;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;

  .itemcount {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-family: "Poppins";
    width: 100%;
    padding: 10px;
    position: relative;
    bottom: 40px;
    align-items: baseline;
    .items {
      p {
        font-size: 3.5vw;
      }
    }
  }

  .pagename {
    font-family: "Poppins";
    font-weight: normal;
    letter-spacing: 2px;
    width: 100%;
    text-align: left;
    padding: 10px;
    // position: relative;
    // bottom: 30px;
    h1 {
      font-size: 4vw;
    }
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: auto;
    // border: 1px solid red;
    justify-content: space-evenly;
    justify-items: center;
    position: relative;
    bottom: 50px;

    .card {
      margin: 6px;
      border-radius: 5px;
      position: relative;
      // border: 1px solid green;
      box-shadow: 5px 5px 10px lightslategrey;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
      }

      .category {
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: rgb(255, 255, 255);
        text-shadow: 5px 5px 5px black;
        font-family: "Poppins";
      }
    }
  }
}

@media only screen and (min-width: 1330px) {
  .container {
    display: none;
    width: 0 !important;
    height: 0 !important;
  }

  #mobile {
    display: none;
    width: 0 !important;
    height: 0 !important;
  }

  ion-toolbar {
    --background: rgb(255, 255, 255);
    width: 100%;
    #icon {
      color: rgb(131, 131, 131);
    }
    font-family: "Raleway";
    letter-spacing: 2px;
    color: rgb(131, 131, 131);
    #number {
      font-size: 0.8em;
      position: relative;
      top: 8px;
      right: 5px;
    }

    .icon1 {
      margin: 0 25vw;
    }
  }

  .pagename {
    width: 100%;
    color: rgb(221, 221, 221);
    height: 62px;
    display: grid;
    align-items: center;
    text-align: center;
    font-family: "Poiret One";
    margin: 10px;
  
    h1 {
      margin: 5px;
      font-size: 40px;
    }
  }
  
  .itemcount {
    text-align: center;
    width: 100%;
    font-family: "Poiret One";
    color: rgb(221, 221, 221);
    font-size: 20px;
  }
  
  .web_view {
    min-width: 800px;
    max-width: 1200px;
    margin: auto;
    // height: 100%;
    margin-bottom: 30px;
    .cards {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      overflow-y: auto;
      position: relative;
    }
  
    .card:nth-child(1) {
      width: 31.5%;
      height: 40vh;
    }
  
    .card:nth-child(2) {
      width: 31.5%;
      height: 40vh;
    }
  
    .card:nth-child(3) {
      width: 31.5%;
      height: 40vh;
    }
  
    .card:nth-child(4) {
      width: 30%;
      height: 42vh;
    }
    .card:nth-child(5) {
      width: 65.5%;
      height: 42vh;
    }
  
    .card:nth-child(6) {
      width: 30vw;
      height: 25vh;
    }
  
    .card:nth-child(7) {
      width: 57vw;
      height: 25vh;
    }
  
    .card:nth-child(8) {
      width: 89vw;
      height: 25vh;
    }
  
    .card {
      margin: 5px;
      border-radius: 5px;
      position: relative;
      // border: 1px solid green;
      box-shadow: 5px 5px 10px lightslategrey;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
  
      .category {
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: rgb(255, 255, 255);
        text-shadow: 5px 5px 5px black;
        font-family: "Poppins";
      }
    }
  }
  
  .viewwishlist {
    position: absolute;
    z-index: 150;
    background: rgb(201, 201, 201);
    width: 20vw;
    height: 100%;
    top: 50px;
    bottom: 40%;
    right: 0;
    align-items: center;
    display: flex;
    flex-flow: column;
    overflow: hidden;
  
    .heading {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      width: 100%;
      // text-align: center;
      margin: 5px;
  
      ion-icon {
        color: white;
        position: relative;
        right: 20px;
        top: 2.2vh;
        font-size: 1em;
        background: rgb(0, 0, 0);
        border-radius: 50%;
      }
  
      p {
        letter-spacing: 1px;
        margin: 5px;
        position: relative;
        left: 2vw;
        font-size: 1em;
      }
    }
  
    .wishlist_items {
      display: flex;
      flex-flow: column;
      overflow-y: auto;
      margin: 10px;
      width: 20vw;

      .div{
        height: 80vh;
        overflow-y: auto;
        scrollbar-width: 2px;
        width: 100%;
      }

      #noItems{
        display: flex;
        flex-flow: column;
        background: none;
        align-items: center;
        box-shadow:  none;
        justify-content: center;
        margin-top: 200px;
        img{
          width: 5vw;
          height: 5vw;
        }
        p{
          text-align: center;
          font-size: 15px;
          color: grey;
        }
      }
      .items {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        margin: 10px;
        min-height: 7vh;
        margin: 5px;
        background: rgb(255, 255, 255);
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgb(158, 158, 158);
        .left {
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          margin: 5px;
          .img {
            width: 5vw;
            height: 5.5vw;
            margin: 3px;
            border-radius: 5px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 5px;
            }
          }
  
          .item_details {
            width: 8vw;
          }
        }
  
        .right {
          width: 6vw;
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          text-align: right;
          margin: 5px;
          ion-button {
            font-size: 12px;
            width: 4vw;
            height: 20px;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            ion-icon {
              font-size: 12px;
            }
          }
  
          .trash_icon {
            ion-icon {
              color: rgb(148, 14, 14);
            }
          }
          .add_to_basket {
            background: rgb(2, 2, 37);
            color: white;
          }
        }
      }
    }
  }
  
  .closewishlist {
    position: absolute;
    z-index: 150;
    background: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 0vw;
    height: 85vh;
    top: 10%;
    bottom: 40%;
    right: 0;
    align-items: center;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    .heading{
      display: none;
    }
  }
}



@media only screen and (max-width: 799px) {
  .web_view {
    display: none;
    width: 0%;
    height: 0%;
  }
  #webview {
    display: none;
  }

  #nav {
    display: none;
    width: 0 !important;
    height: 0 !important;
  }

  #wish{
    display: none;
    width: 0 !important;
    height: 0 !important;
  }
}



ion-footer {
  text-align: center;
  .footer {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width: 100vw;
    background: rgb(0, 0, 32);
    color: white;

    .heading {
      width: 10vw;
      height: 5vw;
      margin: 15px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .app_store {
      width: 10vw;
      height: 5vw;
    }

    .contact_details {
      font-size: 13px;
      text-align: left;
      p {
        font-size: 13px;
      }
      h1 {
        font-size: 20px;
      }
    }

    .info {
      font-size: 13px;
      text-align: left;
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      ion-button {
        font-size: 13px;
        color: white;
        margin-left: -8%;
        padding-left: 0 !important;
        span {
          text-align: left;
          width: 100%;
          left: 0px !important;
        }
      }

      h1 {
        font-size: 20px;
      }
    }

    .connect {
      display: flex;
      flex-flow: column;
      ion-button {
        overflow: hidden;
      }
      h1 {
        font-size: 20px;
      }
    }
  }
}
