ion-toolbar {
  --background: white;
  #icon {
    color: maroon;
  }

  #number {
    font-size: 0.8em;
    position: relative;
    top: 8px;
    right: 5px;
  }
}

.card:nth-child(1) {
  width: 57vw;
  height: 30vh;
}

.card:nth-child(2) {
  width: 30vw;
  height: 30vh;
}

.card:nth-child(3) {
  width: 30vw;
  height: 30vh;
}

.card:nth-child(4) {
  width: 57vw;
  height: 30vh;
}
.card:nth-child(5) {
  width: 90vw;
  height: 25vh;
}

.card:nth-child(6) {
  width: 30vw;
  height: 25vh;
}

.card:nth-child(7) {
  width: 57vw;
  height: 25vh;
}

.card:nth-child(8) {
  width: 89vw;
  height: 25vh;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;

  .itemcount {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-family: "Poppins";
    width: 100%;
    padding: 10px;
    position: relative;
    bottom: 40px;
    align-items: baseline;
    .items {
      p {
        font-size: 3.5vw;
      }
    }
  }

  .pagename {
    font-family: "Poppins";
    font-weight: normal;
    letter-spacing: 2px;
    width: 100%;
    text-align: left;
    padding: 10px;
    // position: relative;
    // bottom: 30px;
    h1 {
      font-size: 4vw;
    }
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    overflow-y: auto;
    // border: 1px solid red;
    justify-content: space-evenly;
    justify-items: center;
    position: relative;
    bottom: 50px;

    .card {
      margin: 6px;
      border-radius: 5px;
      position: relative;
      // border: 1px solid green;
      box-shadow: 5px 5px 10px lightslategrey;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
      }

      .category {
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: rgb(255, 255, 255);
        text-shadow: 5px 5px 5px black;
        font-family: "Poppins";
      }
    }
  }
}
