<ion-header no-border id="nav">

  <ion-toolbar>

    <ion-buttons slot="end">
      <div class="icon1">

        <ion-button id="icon" href="https://broken-stool.firebaseapp.com/home/Terms%20and%20Privacy%20Policy" >
          Terms and Privacy Policy
        </ion-button>

        <ion-button id="icon" href="https://broken-stool.firebaseapp.com/home/Disclaimer">
          Disclaimer
        </ion-button>

        <ion-button id="icon" href="https://broken-stool.firebaseapp.com/home/FAQs">
          FAQs
        </ion-button>

        <ion-button id="icon" href="https://broken-stool.firebaseapp.com/home/Payment%20Process">
          Payment Process
        </ion-button>

        <ion-button id="icon" href="https://broken-stool.firebaseapp.com/home/About%20Company">
          About Us
        </ion-button>


      </div>

   
    </ion-buttons>

    <ion-title style="font-family: 'Poiret One'; font-size: 20px; letter-spacing: 2px;">DankieJesu</ion-title>
  </ion-toolbar>

</ion-header>

<ion-header no-border id="mobile">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)=" goback()">
        <ion-icon slot="icon-only" name="arrow-back" id="icon"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="wishlist()">
        <ion-icon slot="icon-only" name="heart" id="icon"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<div [ngClass]="{'loader': loaderAnimate, 'loader-hide': !loaderAnimate}">
  <div class="maploader">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <p style="color:white; text-align: center;">{{loaderMessages}}</p>
  </div>
  <!--  <div class="loading-text">
        <p>Loading Map</p>
      </div> -->
</div>

<ion-content fullscreen>

  <div class="container">
    <div class="pagename" style="margin: 10px; font-family: 'Raleway';">
      <h1>BASKET ({{cartCount}})</h1>
    </div>

    <p style="font-family: 'Raleway'; margin: 5px; font-size: 3.5vw">Please note that delivery to your door is R100</p>

    <div class="cards">
      <div class="card" *ngFor="let cp of prodCart; let i of index">
        <div class="image" *ngFor="let prod of cp.data.product">
          <img src="{{prod.picture}}">
        </div>
        <div class="details" *ngFor="let prod of cp.data.product">
          <div class="left">
            <p id="item" style="font-size:3vw">{{prod.product_name}}</p>
            <p>Size: {{prod.size}} &nbsp; Color: {{prod.color}}</p>
            <p>{{cp.data.timestamp | date: "mediumDate"}}</p>
            <p style="font-size: 1em; margin: 5px; display: flex; flex-flow: row; align-items: baseline;">
              <ion-icon name="remove-circle-outline" (click)="minus(prod, i)"></ion-icon>&nbsp; {{prod.quantity}} &nbsp;
              <ion-icon name="add-circle-outline" (click)="plus(prod, i)">
              </ion-icon>
            </p>
          </div>

          <div class="right">
            <p>{{prod.cost*prod.quantity | currency:'R'}}</p>
            <P (click)="removeProd(cp.id)">
              <ion-icon name="trash"></ion-icon>
            </P>
          </div>

        </div>
      </div>


      <div class="card" id="msg" *ngIf="prodCart.length==0">
        <p> Oh no! Your Basket is empty</p>
        <img src="../../assets/empty-cart.svg">

      </div>


    </div>

    <div class="total">
      <div class="carttotal">
        <p>TOTAL</p>
        <p>{{getTotal() | currency:'R'}}</p>
      </div>

      <div class="btn">
        <ion-button [disabled]="prodCart.length==0" (click)="placeOrder()" color="transparent">
          PLACE ORDER
        </ion-button>
      </div>
    </div>
  </div>

  <div class="web_view">
    <div class="pagename" style="margin: 10px; font-family: 'Raleway';">
      <h1 style="font-size: 25px; width: 100%; text-align: center; color: grey; font-family: 'poiret One';">BASKET ({{cartCount}})</h1>
    </div>

    <p style="font-size: 13px; width: 100%; text-align: center; color: rgb(196, 196, 196);">Please note that delivery to your door is R100</p>

    <div class="cards">
      <div class="card" *ngFor="let cp of prodCart; let i of index">
        <div class="image" *ngFor="let prod of cp.data.product">
          <img src="{{prod.picture}}">
        </div>
        <div class="details" *ngFor="let prod of cp.data.product">
          <div class="left">
            <p id="item">{{prod.product_name}}</p>
            <p>Size: {{prod.size}} &nbsp; Color: {{prod.color}}</p>
            <p>{{cp.data.timestamp | date: "mediumDate"}}</p>
            <p style=" margin: 5px; display: flex; flex-flow: row; align-items: baseline;">
              <ion-icon name="remove-circle-outline" (click)="minus(prod, i)"></ion-icon>&nbsp; {{prod.quantity}} &nbsp;
              <ion-icon name="add-circle-outline" (click)="plus(prod, i)">
              </ion-icon>
            </p>
          </div>

          <div class="right">
            <p>{{prod.cost*prod.quantity | currency:'R'}}</p>
            <P (click)="removeProd(cp.id)">
              <ion-icon name="trash"></ion-icon>
            </P>
          </div>

        </div>
      </div>


      <div class="card" id="msg" *ngIf="prodCart.length==0">
        <p> Oh no! Your Basket is empty</p>
        <img src="../../assets/empty-cart.svg">

      </div>
    </div>

    <div class="bottom">
      <div class="baskettotal">
        <p>TOTAL</p>
        <p>{{getTotal() | currency:'R'}}</p>
      </div>

      <div class="btn" >
        <ion-button [disabled]="prodCart.length==0" (click)="placeOrder()" color="transparent">
          PLACE ORDER
        </ion-button>
      </div>
    </div>
  </div>

  <ion-footer id="webview">
    <div class="footer">
      <div class="heading">
        <!-- <h1>Dankie Jesu</h1> -->
        <img src="../../assets/NoPath - Copy.svg" alt="">
      </div>
  
      <div class="contact_details">
        <h1>CONTACT US</h1>
        <p>dankiejesu@gmail.com</p>
        <p>061 446 4674</p>
        <p class="address">5630 Moilwa Drive <br>
          Kagiso <br>
          MOGALE CITY <br>
          1754</p>
      </div>
  
      <div class="info">
        <h1>INFO</h1>
        <ion-button href="https://broken-stool.firebaseapp.com/home/FAQs" color="transparent">
         <span>FAQs</span> 
        </ion-button>
        <ion-button href="https://broken-stool.firebaseapp.com/home/Terms%20and%20Privacy%20Policy" color="transparent">
          <span>Terms and Privacy Policy</span>
        </ion-button>
        <ion-button href="https://broken-stool.firebaseapp.com/home/Disclaimer" color="transparent">
          <span>Disclaimer</span>
        </ion-button>
        <ion-button href="https://broken-stool.firebaseapp.com/home/Payment%20Process" color="transparent">
          <span>Payment Process</span>
        </ion-button>
        <ion-button href="https://broken-stool.firebaseapp.com/home/About%20Company" color="transparent">
        <span>Developers</span>
        </ion-button> 
      </div>
  
      <div class="connect">
        <h1>CONNECT</h1>
        <ion-button href="https://www.facebook.com/brokenstoolbrand/" color="transparent">
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
          Facebook
        </ion-button>
        <ion-button href="https://www.instagram.com/dankiejesu/" color="transparent">
          <ion-icon slot="start" name="logo-instagram"></ion-icon>
          Instagram
        </ion-button>
      </div>
  
      <div class="app_store">
        <img src="../../assets/android.png" alt="App Store">
      </div>
    </div>
  </ion-footer>

</ion-content>