ion-toolbar {
  --background: transparent;
  #icon {
    color: maroon;
  }
  font-family: "Raleway";
}

.container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;

  .cards {
    display: flex;
    flex-flow: column;
    height: fit-content;
    overflow-y: auto;
    height: 85vh;
    overflow-y: auto;
    .card {
      display: flex;
      flex-flow: row;
      box-shadow: 5px 5px 10px rgb(211, 211, 211);
      margin: 5px;

      .image {
        width: 50vw;
        height: 28vw;
        margin: 10px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .details {
        display: flex;
        flex-flow: row;
        width: 100%;
        padding: 5px;
        justify-content: space-between;
        align-items: baseline;

        .left {
          margin: 10px;
          // text-align: left;
          p {
            font-size: 0.7em;
            align-items: baseline;
            padding: 0;
            margin: 4px 0px;
            ion-icon {
              font-size: 5vw;
            }
          }

          #item {
            font-weight: bold;
            letter-spacing: 1px;
            font-size: 0.8em;
          }
        }

        .right {
          margin: 5px;
          text-align: right;
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          p {
            font-size: 0.9em;

            ion-icon {
              font-weight: lighter;
              font-size: 6vw;
              color: maroon;
            }
          }
        }
      }
    }

    #msg {
      display: flex;
      flex-flow: column;
      position: absolute;
      align-items: center;
      justify-content: space-evenly;
      top: 30%;
      width: 95vw;
      margin: 10px;
      font-family: "Poppins";
      box-shadow: none !important;
      img {
        width: 50vw;
        height: 50vw;
      }
      p {
        color: #c6cbdb;
        font-size: 5vw;
      }
    }
  }

  .total {
    position: fixed;
    bottom: 0;
    background: white;
    display: flex;
    flex-flow: column;

    .carttotal {
      display: flex;
      flex-flow: row;
      width: 100vw;
      padding: 5px;
      justify-content: space-between;
      p {
        font-family: "Raleway";
        font-size: 3.5vw;
      }
    }

    .btn {
      ion-button {
        color: white;
        background: rgb(0, 0, 59);
        width: 99%;
        padding: 5px;
        font-family: "Raleway";
        letter-spacing: 2px;
        font-size: 3vw;
      }
    }
  }
}
