<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)=" goback()">
        <ion-icon slot="icon-only" name="arrow-back" id="icon"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="wishlist()">
        <ion-icon slot="icon-only" name="heart" id="icon"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div [ngClass]="{'loader': loaderAnimate, 'loader-hide': !loaderAnimate}">
        <div class="maploader">
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div><p style="color:white; text-align: center;">{{loaderMessages}}</p>
        </div>
       <!--  <div class="loading-text">
          <p>Loading Map</p>
        </div> -->
      </div>
  <div class="container">
    <div class="pagename" style="margin: 10px; font-family: 'Raleway';">
      <h1>BASKET ({{cartCount}})</h1>
    </div>

    <p style="font-family: 'Raleway'; margin: 5px; font-size: 3.5vw">Please note that delivery to your door is R100</p>

    <div class="cards">
      <div class="card" *ngFor="let cp of prodCart; let i of index">
        <div class="image">
          <img src="https://i.pinimg.com/564x/b8/5c/b4/b85cb489b8ff0c57acfe77b110dec4c7.jpg">
        </div>
        <div class="details" *ngFor="let prod of cp.data.product">
          <div class="left">
            <p id="item">{{prod.product_name}}</p>
            <p>Size: {{prod.size}}</p>
            <p>Color: {{prod.color}}</p>
            <p>{{cp.data.timestamp | date: "mediumDate"}}</p>
            <p style="font-size: 1em; margin: 5px; display: flex; flex-flow: row; align-items: baseline;">
              <ion-icon name="remove-circle-outline" (click)="minus(prod, i)"></ion-icon>&nbsp; {{prod.quantity}} &nbsp;
              <ion-icon name="add-circle-outline" (click)="plus(prod, i)">
              </ion-icon>
            </p>
          </div>

          <div class="right">
            <p>{{prod.cost*prod.quantity | currency:'R'}}</p>
            <P (click)="removeProd(cp.id)">
              <ion-icon name="trash"></ion-icon>
            </P>
          </div>

        </div>
      </div>


      <div class="card" id="msg" *ngIf="prodCart.length==0">
        <p> Oh no! Your Basket is empty</p>
        <img src="../../assets/empty-cart.svg">

      </div>

      <!--  <div class="card">
        <div class="image">
          <img src="https://i.pinimg.com/564x/a3/a1/8b/a3a18b4c3a78b3187d70b456cc09ad7e.jpg">
        </div>
        <div class="details">
          <div class="left">
            <p id="item">Dankie Jesu Sweater</p>
            <p>Size: XS</p>
            <p>12 November 2019</p>
            <p style="font-size: 4vw; margin: 5px; display: flex; flex-flow: row; align-items: flex-start;">
              <ion-icon name="remove-circle-outline"></ion-icon>&nbsp; 2 &nbsp;<ion-icon name="add-circle-outline">
              </ion-icon>
            </p>
          </div>

          <div class="right">
            <p>R350</p>
            <P>
              <ion-icon name="trash"></ion-icon>
            </P>
          </div>

        </div>
      </div> -->

    </div>

    <div class="total">
      <div class="carttotal">
        <p>TOTAL</p>
        <p>{{getTotal() | currency:'R'}}</p>
      </div>

      <div class="btn">
        <ion-button [disabled]="prodCart.length==0" (click)="placeOrder(prodCart)" color="transparent">
          PLACE ORDER
        </ion-button>
      </div>
    </div>
  </div>


</ion-content>