ion-toolbar {
  --background: transparent;
  #icon {
    color: maroon;
  }
  font-family: "Raleway";
}

.container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;

  .cards {
    display: flex;
    flex-flow: column;
    height: fit-content;
    overflow-y: auto;
    height: 85vh;
    overflow-y: auto;
    .card {
      display: flex;
      flex-flow: row;
      box-shadow: 5px 5px 10px rgb(211, 211, 211);
      margin: 5px;
      min-height: 28vw;
      .image {
        width: 45vw;
        min-height: 25vw;
        max-height: 28vw;
        margin: 10px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .details {
        display: flex;
        flex-flow: row;
        width: 100%;
        padding: 5px;
        justify-content: space-between;
        align-items: baseline;

        .left {
          margin: 10px;
          // text-align: left;
          p {
            font-size: 3vw;
            align-items: baseline;
            padding: 0;
            margin: 4px 0px;
            ion-icon {
              font-size: 5vw;
            }
          }

          #item {
            font-weight: bold;
            letter-spacing: 1px;
            font-size: 4vw;
          }
        }

        .right {
          margin: 5px;
          text-align: right;
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          p {
            font-size: 4vw;

            ion-icon {
              font-weight: lighter;
              font-size: 6vw;
              color: maroon;
              margin-top: 30px;
            }
          }
        }
      }
    }

    #msg {
      display: flex;
      flex-flow: column;
      position: absolute;
      align-items: center;
      justify-content: space-evenly;
      top: 30%;
      width: 95vw;
      margin: 10px;
      font-family: "Poppins";
      box-shadow: none !important;
      img {
        width: 50vw;
        height: 50vw;
      }
      p {
        color: #c6cbdb;
        font-size: 5vw;
      }
    }
  }

  .total {
    position: fixed;
    bottom: 0;
    background: white;
    display: flex;
    flex-flow: column;

    .carttotal {
      display: flex;
      flex-flow: row;
      width: 100vw;
      padding: 5px;
      justify-content: space-between;
      p {
        font-family: "Raleway";
        font-size: 3.5vw;
      }
    }

    .btn {
      ion-button {
        color: white;
        background: rgb(0, 0, 59);
        width: 99%;
        padding: 5px;
        font-family: "Raleway";
        letter-spacing: 2px;
        font-size: 3vw;
      }
    }
  }
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: rgb(0, 27, 63);
  background-repeat: repeat-x;
  transform: scale(1);
  overflow: hidden;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: backgroundmover 30s linear infinite;
  .maploader {
    .lds-ellipsis {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-ellipsis div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #fff;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }
  }
}
.loading-text {
  // color: yellow;
  position: absolute;
  bottom: 50vh;
  left: 0px;
  width: 100vw;
  text-align: center;
  // background: red;
  height: 50vh;
  //z-index: 90;
  margin: auto;
}
.loader-hide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  background: rgb(255, 255, 255);
  transform: scale(0);
  overflow: hidden;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  .maploader {
    .lds-ellipsis {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-ellipsis div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #fff;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }
  }
}
@keyframes maploader {
  0% {
    // transform: rotate(0deg);
    border-color: rgb(182, 70, 95);
    // background: rgb(255, 192, 192);
  }
  50% {
    // background: rgb(206, 206, 255);
    // transform: rotate(360deg);
    border-color: rgb(42, 50, 75);
  }
  100% {
    border-color: rgb(250, 182, 43);
    // background: rgb(255, 167, 167);
    // transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1024px) {
  .web_view {
    display: none;
    width: 0%;
    height: 0%;
  }
}

@media only screen and (min-width: 1330px) {
  .container {
    display: none;
    width: 0 !important;
    height: 0 !important;
  }

  .web_view {
    min-width: 800px;
    max-width: 1000px;
    margin: auto;

    
      .cards {
        display: flex;
        flex-flow: column;
        height: fit-content;
        overflow-y: auto;
        height: 70vh;
        overflow-y: auto;
        // border: 1px solid green;
        .card {
          display: flex;
          flex-flow: row;
          box-shadow: 5px 5px 10px rgb(211, 211, 211);
          margin: 5px;
          min-height: 20vh;
          .image {
            width:15vw;
            min-height: 15vh;
            max-height: 19vh;
            margin: 10px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
    
          .details {
            display: flex;
            flex-flow: row;
            width: 100%;
            padding: 5px;
            justify-content: space-between;
            align-items: baseline;
    
            .left {
              margin: 10px;
              // text-align: left;

              p {
                display: grid;
                align-items: center;
                // align-items: baseline;
                padding: 0;
                margin: 4px 0px;
                ion-icon {
                font-size: 30px;
                }
              }
    
              #item {
                font-weight: bold;
                letter-spacing: 1px;
              
              }
            }
    
            .right {
              margin: 5px;
              text-align: right;
              display: flex;
              flex-flow: column;
              justify-content: space-between;
              p {
               
    
                ion-icon {
                  font-weight: lighter;
                 font-size: 40px;
                  color: maroon;
                  margin-top: 30px;
                }
              }
            }
          }
        }
    
        #msg {
          display: flex;
          flex-flow: column;
          align-items: center;
          justify-content: space-evenly;
          margin: 10px;
          font-family: "Poppins";
          box-shadow: none !important;
          img {
            width: 30vw;
            height: 30vw;
          }
          p {
            color: #c6cbdb;
            
          }
        }
      }
    
      .total {
        position: fixed;
        bottom: 0;
        background: white;
        display: flex;
        flex-flow: column;
    
        .carttotal {
          display: flex;
          flex-flow: row;
          width: 60vw;
          padding: 5px;
          justify-content: space-between;
          p {
            font-family: "Raleway";
            
          }
        }
    
        .btn {
          ion-button {
            color: white;
            background: rgb(0, 0, 59);
            padding: 5px;
            font-family: "Raleway";
            letter-spacing: 2px;
          width: 60vw;
          }
        }
      }
    
  }
}
