ion-toolbar {
  --background: transparent;
  #icon {
    color: maroon;
  }
}

.sizeStyle {
  background: rgba(128, 0, 0, 0.712);
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .top {
    width: 100%;
    padding: 10px;
    .pagename {
      font-family: "Poppins";
      font-weight: normal;
      letter-spacing: 2px;
      width: 100%;
      text-align: left;
      padding: 8px;
      // position: relative;
      // bottom: 30px;
      h1 {
        font-size: 4vw;
      }
    }

    .itemcount {
      margin-top: -10px;
      padding: 5px;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: baseline;
      position: relative;
      bottom: 25px;

      .items {
        p {
          font-size: 3.5vw;
        }
      }
    }
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    padding: 16px;
    // border: 1px solid green;
    justify-content: space-evenly;
    justify-items: center;
    position: relative;
    bottom: 50px;

    .card {
      width: 47%;
      // border: 1px solid red;
      height: fit-content;
      display: flex;
      flex-flow: column;
      margin: 4px 0px;

      img {
        width: 100%;
        height: 50vw;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgb(184, 184, 184);
      }

      .itemdetails {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: baseline;
        align-items: flex-end;
        font-size: 0.8em;
        p {
          font-weight: bold;
          span {
            font-weight: normal;
          }
        }

        #icon {
          position: relative;
          bottom: 15px;
          right: 10px;
        }
      }
    }
  }

  // .cards {
  //   width: 100%;
  //   display: flex;
  //   flex-wrap: wrap;
  //   height: 80vh;
  //   overflow-y: auto;
  //   padding: 10px;

  //   .card {
  //     width: 45%;
  //     height: 45vh;
  //     margin: 5px;
  //     border-radius: 10px;

  //     img {
  //       width: 100%;
  //       height: 75%;
  //       object-fit: cover;
  //       border-radius: 10px;
  //     }

  //     .itemdetails {
  //       position: relative;
  //       bottom: 20px;
  //       display: flex;
  //       flex-flow: row;
  //       justify-content: space-between;
  //       align-items: baseline;

  //       #icon {
  //         position: absolute;
  //         bottom: 15px;
  //         right: 10px;
  //       }
  //     }
  //   }
  // }
}
