<ion-header no-border id="nav">

  <ion-toolbar>

    <ion-buttons slot="end">
      <div class="icon1">
     
        <ion-button id="icon" href="https://broken-stool.firebaseapp.com/home/Terms%20and%20Privacy%20Policy" >
          Terms and Privacy Policy
        </ion-button>

        <ion-button id="icon" href="https://broken-stool.firebaseapp.com/home/Disclaimer">
          Disclaimer
        </ion-button>

        <ion-button id="icon" href="https://broken-stool.firebaseapp.com/home/FAQs">
          FAQs
        </ion-button>

        <ion-button id="icon" href="https://broken-stool.firebaseapp.com/home/Payment%20Process">
          Payment Process
        </ion-button>

        <ion-button id="icon" href="https://broken-stool.firebaseapp.com/home/About%20Company">
          About Us
        </ion-button>


      
      </div>
      <ion-button id="icon" (click)="wish()">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
        <p id="number">{{myWish}}</p>
      </ion-button>
    </ion-buttons>

    <ion-title style="font-family: 'Poiret One'; font-size: 20px; letter-spacing: 2px;">DankieJesu</ion-title>
  </ion-toolbar>

</ion-header>

<ion-header no-border id="mobile">

  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button id="icon" (click)="wishlist()">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
        <p id="number">{{myWish}}</p>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button id="icon" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
  <!-- <ion-toolbar color="primary">
      <ion-button (click)="logout()" slot="end">Logout</ion-button>
      <ion-title>
        Broken Stool
      </ion-title>
    </ion-toolbar> -->
</ion-header>

<ion-content fullscreen>
  <div [ngClass]="{'loader': loaderAnimate, 'loader-hide': !loaderAnimate}">
    <div class="maploader">
      <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <p style="color:white; text-align: center;">{{loaderMessages}}</p>
    </div>

  </div>

  <div class="container">
    <div class="top">
      <div class="pagename">
        <h1 style="text-transform: uppercase; letter-spacing: 2px;"><b>{{collectionName}}</b></h1>
      </div>
      <div class="itemcount">
        <div class="items" *ngIf="collectionName!=='sales'">
          <p>{{myProduct.length}} item(s)</p>
        </div>
        <div class="items" *ngIf="collectionName==='sales'">
          <p>{{promo.length}} item(s)</p>
        </div>
        <div class="filter"  style="cursor: pointer;">

          <p (click)="reviewed()" style="opacity: 0.5; cursor: pointer;">Filter <ion-icon slot="end" name="funnel"></ion-icon></p>
        </div>

      </div>
    </div>
    <div class="cards" *ngIf="collectionName!=='sales'">
      <div class="card" *ngFor="let p of myProduct, let i=index">
        <img src="{{p.info.pictureLink}}" (click)="viewitem(p.id, p.info)">
        <div class="itemdetails">
          <div class="name">
            <p>{{p.info.name}} <br> <span>{{p.info.price | currency:'R'}}</span></p>
          </div>
          <div id="icon">

            <ion-icon slot="end" name="heart-empty" (click)="wishList(p.id, p.info, i)"></ion-icon>
          </div>

        </div>
      </div>

    </div>
    <div class="cards" *ngIf="collectionName==='sales'">
      <div class="card" *ngFor="let s of promo; let i = index">
        <img src="{{s.info.pictureLink}}" (click)="viewitem(s.id, s.info)">
        <div class="itemdetails">
          <div class="name">
            <p>{{s.info.name}} <br> <span>{{s.info.saleprice | currency:'R'}}</span></p>
          </div>
          <div id="icon">

            <ion-icon slot="end" name="heart-empty" (click)="wishListSale(s.id, s.info,i)"></ion-icon>
          </div>
          <!-- [ngClass]="{'sizeStyle':heartIndex==i}" -->

        </div>
      </div>
    </div>

    <div class="cards" id="msg" *ngIf= "myProduct.length === 0 && collectionName!=='sales'">
      <p>No Items</p>
      <img src="../../assets/empty-cart.svg">
    </div>

    <div [ngClass]="{'viewreviews': viewReviews, 'closereviews': !viewReviews}">

      <div class="heading">
        <p>Filter Items By:</p>

        <ion-icon slot="icon-only" name="close" (click)="reviewed()"></ion-icon>

      </div>
      <div class="line"></div>

      <div class="filtering">

        <div class="color" (click)="filtered()">
          <h4>Colour</h4>
        </div>
        <div class="colors" *ngIf="viewFilter" (click)="colorOpt($event)">
          <p>Red</p>
          <p>Blue</p>
          <p>Orange</p>
          <p>Green</p>
          <p>Purple</p>
        </div>

        <div class="price" (click)="priced()">
          <h4>Price</h4>
        </div>
        <div class="prices" >
          <ion-item *ngIf="viewPrice">
            <ion-range style="width: 50%" pin="true" min="0" max="1000" step="10" color="secondary" [(ngModel)]="price"
              (ionChange)="setPriceRange(price)">
              <ion-label slot="start">{{price | currency:'R'}}</ion-label>
              <ion-label slot="end">{{1000 | currency:'R'}}</ion-label>
            </ion-range>
          </ion-item>
        </div>

      </div>


    </div>


  </div>


  <div class="web_view">
    <div class="top">
      <div class="pagename">
        <h1 style="text-transform: uppercase; letter-spacing: 2px;"><b>{{collectionName}}</b></h1>
      </div>
      <div class="itemcount">
        <p id="lorem" style="font-size: 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
   
        <div class="filter"  style="cursor: pointer;"> 

          <p (click)="reviewed()" style="opacity: 0.5; cursor: pointer;">Filter <ion-icon slot="end" name="funnel"></ion-icon></p>
        </div>

      </div>
    </div>
    <div class="cards" *ngIf="collectionName!=='sales'">
      <div class="card" *ngFor="let p of myProduct, let i=index">
        <img src="{{p.info.pictureLink}}" (click)="viewitem(p.id, p.info)">
        <div class="itemdetails">
          <div class="name">
            <p>{{p.info.name}} <br> <span>{{p.info.price | currency:'R'}}</span></p>
          </div>
          <div id="icon">

            <ion-icon slot="end" name="heart-empty" (click)="wishList(p.id, p.info,i)"></ion-icon>
          </div>

        </div>
      </div>

    </div>
    <div class="cards" *ngIf="collectionName==='sales'">
      <div class="card" *ngFor="let s of promo;let i = index">
        <img src="{{s.info.pictureLink}}" (click)="viewitem(s.id, s.info)">
        <div class="itemdetails">
          <div class="name">
            <p>{{s.info.name}} <br> <span>{{s.info.saleprice | currency:'R'}}</span></p>
          </div>
          <div id="icon">

            <ion-icon slot="end" name="heart-empty" (click)="wishListSale(s.id, s.info, i)"></ion-icon>
          </div>
          <!-- [ngClass]="{'sizeStyle':heartIndex==i}" -->

        </div>
      </div>
    </div>

    <div class="cards" id="msg" *ngIf= "myProduct.length === 0 && collectionName!=='sales'">
      <p>No Items</p>
      <img src="../../assets/empty-cart.svg">
    </div>

    <div [ngClass]="{'viewreviews': viewReviews, 'closereviews': !viewReviews}">

      <div class="heading">
        <p>Filter Items By:</p>

        <ion-icon slot="icon-only" name="close" (click)="reviewed()"></ion-icon>

      </div>
      <div class="line"></div>

      <div class="filtering">

        <div class="color" (click)="filtered()">
          <h4>Colour</h4>
        </div>
        <div class="colors" *ngIf="viewFilter" (click)="colorOpt($event)">
          <p>Red</p>
          <p>Blue</p>
          <p>Orange</p>
          <p>Green</p>
          <p>Purple</p>
        </div>

        <div class="price" (click)="priced()">
          <h4>Price</h4>
        </div>
        <div class="prices" >
          <ion-item *ngIf="viewPrice">
            <ion-range style="width: 50%" pin="true" min="0" max="1000" step="10" color="secondary" [(ngModel)]="price"
              (ionChange)="setPriceRange(price)">
              <ion-label slot="start">{{price | currency:'R'}}</ion-label>
              <ion-label slot="end">{{1000 | currency:'R'}}</ion-label>
            </ion-range>
          </ion-item>
        </div>

      </div>


    </div>
  </div>

  <div class="backdrop1" *ngIf="viewBackdrop"></div>

  <div id="wish" [ngClass]="{'viewwishlist': viewwish, 'closewishlist': !viewwish}">

    <div class="heading">
      <p>Wishlist ({{myWishlist.length}})</p>

      <ion-icon slot="icon-only" name="close" (click)="wish()"></ion-icon>

    </div>


    <div class="wishlist_items">
      <div class="div">
      <div class="items" *ngFor="let w of myWishlist">
        <div class="left">
          <div class="img">
            <img src="{{w.info.image}}" alt="">
          </div>

          <div class="item_details">
            <p> {{w.info.name}} </p>
            <p>{{w.info.price | currency:'R'}}</p>
          </div>
        </div>

        <div class="right">
          <div class="trash_icon" (click)="delete(w.id)">
            <ion-icon slot="start" name="trash" ></ion-icon>
          </div>

          <div class="add_to_basket">
            <ion-button (click)="addtoBusket(w.info.id, w.info, w.id)" color="transparent">
              Add<ion-icon slot="end" name="basket"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>

      <div class="items" id="noItems">
        <p>Wishlist Empty</p>
        <img src="../../assets/sad_smile.svg" alt="">
           </div>
    </div>
  </div>

  </div>

  <ion-footer id="webview" >
    <div class="footer">
      <div class="heading">
        <!-- <h1>Dankie Jesu</h1> -->
        <img src="../../assets/NoPath - Copy.svg" alt="">
      </div>
  
      <div class="contact_details">
        <h1>CONTACT US</h1>
        <p>(011) 954-7865</p>
        <p>081 123 4566</p>
        <p class="address">123 Motswaledi Street <br>
          Diepkloof Ext 3 <br>
          SOWETO <br>
          1805</p>
      </div>
  
      <div class="info">
        <h1>INFO</h1>
        <ion-button href="https://broken-stool.firebaseapp.com/home/FAQs" color="transparent">
         <span>FAQs</span> 
        </ion-button>
        <ion-button href="https://broken-stool.firebaseapp.com/home/Terms%20and%20Privacy%20Policy" color="transparent">
          <span>Terms and Privacy Policy</span>
        </ion-button>
        <ion-button href="https://broken-stool.firebaseapp.com/home/Disclaimer" color="transparent">
          <span>Disclaimer</span>
        </ion-button>
        <ion-button href="https://broken-stool.firebaseapp.com/home/Payment%20Process" color="transparent">
          <span>Payment Process</span>
        </ion-button>
        <ion-button href="https://broken-stool.firebaseapp.com/home/About%20Company" color="transparent">
        <span>Developers</span>
        </ion-button>
      </div>
  
      <div class="connect">
        <h1>CONNECT</h1>
        <ion-button href="https://www.facebook.com/brokenstoolbrand/" color="transparent">
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
          Facebook
        </ion-button>
        <ion-button href="https://www.instagram.com/dankiejesu/" color="transparent">
          <ion-icon slot="start" name="logo-instagram"></ion-icon>
          Instagram
        </ion-button>
      </div>
  
      <div class="app_store">
        <img src="../../assets/android.png" alt="App Store">
      </div>
    </div>
  </ion-footer>

</ion-content>
