<ion-header no-border>

    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button id="icon">
          <ion-icon slot="icon-only" name="heart" ></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="secondary">
        <ion-button  id="icon">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    
    </ion-toolbar>
    <!-- <ion-toolbar color="primary">
      <ion-button (click)="logout()" slot="end">Logout</ion-button>
      <ion-title>
        Broken Stool
      </ion-title>
    </ion-toolbar> -->
  </ion-header>

<ion-content padding>

    <div class="cards">
        <div class="card">
          <img src="../../assets/yellow.jpg">
          <div class="category">JEANS</div>
        </div>
        <div class="card">
            <img src="../../assets/yellow.jpg">
        </div>
        <div class="card">
            <img src="../../assets/yellow.jpg">
        </div>
        <div class="card">
            <img src="../../assets/yellow.jpg">
        </div>
        <div class="card">
            <img src="../../assets/yellow.jpg">
        </div>
        <div class="card">
            <img src="../../assets/yellow.jpg">
        </div>
        <div class="card">
            <img src="../../assets/yellow.jpg">
        </div>
        <div class="card">
                <img src="../../assets/yellow.jpg">
        </div>

    
      </div>

</ion-content>
