<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back" id="icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  
    <ion-title>Pending Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <div class="cards">
      <div class="card" *ngFor="let o of myOrder">
        <div class="top" *ngFor="let p of o.info.product">
          <div class="image">
            <img src="https://i.pinimg.com/564x/81/0e/0e/810e0e4002f62a4b5563489386d84b72.jpg">
          </div>
          <div class="info">
            <p id="name" style="font-family: 'Poppins'; font-size: 0.8em; "><span style="letter-spacing: 1.5px;"><b>{{p.product_name}}</b></span> <br> <i>QTY{{p.quantity}}</i></p>
            <p id="costs" style="font-size: 0.8em; line-height:6px;">
              {{p.cost * p.quantity | currency:'R'}} <br>
              {{p.timestamp | date:'medium'}} <br>
              {{o.id}}</p>
          </div>
        </div>

        <div class="butt">
          <ion-button (click)="orderTrack(od.id, o.info)" color="transparent">
            Track My Order({{o.info.product.length}})
          </ion-button>
        </div>

      </div>

    </div>
  </div>

</ion-content>