<ion-header no-border id="mobile">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back" id="icon"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Pending Orders</ion-title>
  </ion-toolbar>
</ion-header>

<div [ngClass]="{'loader': loaderAnimate, 'loader-hide': !loaderAnimate}">

  <div class="loader">
    <span>Loading...</span>
  </div>

</div>

<ion-content fullscreen>

  <div class="container">


    <div class="cards">
      <div class="card" *ngFor="let o of myOrder">
        <div class="top" *ngFor="let p of o.info.product">
          <div class="image">
            <img src="{{p.picture}}" (click)="getOrder()">
          </div>
          <div class="info">
            <p id="name" style="font-family: 'Poppins'; font-size: 3vw; "><span
                style="letter-spacing: 1.2px; text-transform: uppercase;"><b>{{p.product_name}}</b></span> <br> <i>QTY.
                {{p.quantity}}</i></p>
            <p id="costs" style="font-size: 2.5vw;">
              {{p.cost * p.quantity | currency:'R'}} <br>
              <span style="line-height: 10px;">
                {{p.timestamp | date:'medium'}} <br>
                {{o.id}}

              </span>

            </p>
          </div>
        </div>



        <div class="butt">
          <ion-button (click)="orderTrack(o.id,o.info)" color="transparent">
            Track My Order({{o.info.product.length}})
          </ion-button>
        </div>

      </div>

      <div class="card" id="msg" *ngIf="myOrder.length==0">
        <p> You have no pending orders</p>
        <img src="../../assets/sad_smile.svg">
      </div>

    </div>
  </div>

  <div class="web_view">
    <p id="lorem" style="font-size: 25px; width: 100%; text-align: center; color: grey; font-family: 'poiret One';">
      Pending Orders</p>
    <p id="lorem" style="font-size: 13px; width: 100%; text-align: center; color: rgb(196, 196, 196);">Lorem ipsum dolor
      sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
      ad minim veniam</p>

    <div class="cards">
      <div class="card" *ngFor="let o of myOrder">
        <div class="card1">
          <div class="top" *ngFor="let p of o.info.product">
            <div class="image">
              <img src="{{p.picture}}" (click)="getOrder()">
            </div>
            <div class="info">
              <p id="name" style="font-family: 'Poppins';"><span
                  style="letter-spacing: 1.2px; text-transform: uppercase;"><b>{{p.product_name}}</b></span> <br>
                <i>QTY.
                  {{p.quantity}}</i></p>
              <p id="costs">
                {{p.cost * p.quantity | currency:'R'}} <br>
                <span style="line-height: 10px;">
                  {{p.timestamp | date:'medium'}} <br>
                  {{o.id}}

                </span>

              </p>
            </div>
          </div>

        </div>

        <div class="tracking">
          <div class="left">
            <div class="total">
              <p id="tot">TOTAL</p>
              <p id="price" *ngIf="delCost===0"> {{getTotal() | currency:'R'}}</p>
              <p id="price" *ngIf="delCost===100"><span><i>incl delivery</i></span> {{getTotal() | currency:'R'}}</p>
            </div>
            <div class="bankingDets">
              <p>
                <b>Banking Details:</b><br>
                Account Holder Name: Lunga <br>
                Account Number: 1234567890<br>
                Branch Name: Dube <br>
                Branch Number: 47100<br>
                Reference No.: {{o.id}}</p>
            </div>

            <div class="orderstatus">
              <p><span>Order Status</span> <br> <i>Your order is {{o.info.status}}</i></p>
            </div>
          </div>

          <div class="tracks">
            <div class="circles-container">
              <div id="one" style="font-size: 13px;">Order Received - {{o.info.timestamp | date:"medium"}}</div>
              <div id="two" style="font-size: 13px;" *ngIf="!o.info.time">Order last updated - {{o.info.timestamp | date:"medium"}}</div>
              <div id="two" style="font-size: 13px;" *ngIf="o.info.time">Order last updated - {{o.info.time | date:"medium"}}</div>
              <!-- <div id="two" style="font-size: 13px;">Order is being processed - 13 January 2020</div> -->
              <!-- <div id="three" style="font-size: 13px;">Order ready for delivery - 15 January 2020</div> -->
              <!-- <div id="four" style="font-size: 13px;">Order Collected - 16 January 2020</div> -->
            </div>

            <!-- <div class="text">
              <div id="txt">Order <br> Received</div>
              <div id="txt">Order is <br> being processed</div>
              <div id="txt">Order ready <br> for delivery</div>
              <div id="txt">Order <br> Collected</div>

            </div> -->
          </div>
        </div>

      </div>


      <div class="card" id="msg" *ngIf="myOrder.length==0">
        <p> You have no pending orders</p>
        <img src="../../assets/no-data.png">
      </div>
    </div>
  </div>

</ion-content>