<ion-header>
  <ion-toolbar>
    <ion-title>pending-orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <div class="cards">
      <div class="card">
        <div class="top">
          <div class="image">
            <img src="https://i.pinimg.com/564x/02/15/af/0215af48f423c587849d4ea7cb30068f.jpg">
          </div>
          <div class="info">
            <p><span>Kwanga Navy Sweater </span> <br> <i style="font-size: 3.5vw;">QTY. 1</i>
            </p>
            <p style="font-size: 3vw;"> R540.00 <br>11 January 2020 <br>NHD2126546515</p>

          </div>
        </div>
        
      </div>
      <div class="butt">
          <ion-button (click)="onClick()" color="transparent">
            Track My Order
          </ion-button>
        </div>
     
    </div>


    <div class="cards">
      <div class="card">
        <div class="top">
          <div class="image">
            <img src="https://i.pinimg.com/564x/c9/42/19/c9421948101040ad6fcc44b0f091a18c.jpg">
          </div>
          <div class="info">
            <p><span>Dankie Jesu Crop-Top </span> <br> <i style="font-size: 3.5vw;">QTY. 1</i>
            </p>
            <p style="font-size: 3vw;"> R540.00 <br>11 January 2020 <br>NHD2126546515</p>

          </div>
        </div>

      </div>

      <div class="card">
        <div class="top">
          <div class="image">
            <img src="https://i.pinimg.com/564x/9e/ce/1a/9ece1a7112172c0b0d571694517ffb1b.jpg">
          </div>
          <div class="info">
            <p><span>Dankie Jesu Hoody </span> <br> <i style="font-size: 3.5vw;">QTY. 1</i>
            </p>
            <p style="font-size: 3vw;"> R540.00 <br>11 January 2020 <br>NHD2126546515</p>

          </div>
        </div>

        <div class="butt">
          <ion-button (click)="onClick()" color="transparent">
            Track My Order
          </ion-button>
        </div>

      </div>

    </div>
  </div>

</ion-content>