ion-toolbar {
  --background: white;
  font-family: "Poppins";
  #icon {
    color: maroon;
  }
}

.container {
  display: flex;
  flex-flow: column;

  .cards {
    display: flex;
    flex-flow: column;
    height: auto;
    align-items: center;

    border-radius: 5px;
    margin: 6px;
    position: relative;
    .card {
      display: flex;
      flex-flow: column;
      position: relative;
      top: 10px;
      padding: 5px;
      width: 95vw;
      min-height: fit-content;
      margin: 10px;
      box-shadow: 5px 5px 10px rgb(190, 190, 190);
      border-radius: 5px;

      .top {
        display: flex;
        flex-flow: row;
        height: 60%;
        width: 90vw;
        margin: 5px;
        .image {
          width: 30vw;
          height: 30vw;
          margin: 5px;
          border-radius: 5px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
          }
          .info {
            // height: 30vw;
            width: 55vw;
            padding: 10px;
            margin: 15px;
            display: grid;
            align-items: center;

            #name {
              font-family: "Poppins";
              span {
                font-weight: bold;
              }
            }

            #costs {
              font-size: 0.8em;
              line-height: 0.2px;
            }
            p {
              font-family: "Poppins";
              span {
                font-weight: bold;
              }
            }
          }
        }
      }
    }

    .butt {
      width: 100%;
      height: 30%;
      margin: 18px 0px 20px 0px;
      ion-button {
        font-family: "Poppins";
        letter-spacing: 1px;
        color: white;
        background: rgb(0, 0, 26);
        width: 80%;
        position: absolute;
        left: 10%;
        bottom: 2px;
        font-size: 0.8em;
      }
    }

    #msg {
      display: flex;
      flex-flow: column;
      position: absolute;
      align-items: center;
      justify-content: space-evenly;
      top: 25vh;
      width: 95vw;
      margin: 10px;
      font-family: "Poppins";
      box-shadow: none !important;
      img {
        width: 80vw;
        height: 50vw;
      }
      p {
        color: #b2b2b2;
        font-size: 5vw;
      }
    }
  }
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: rgb(0, 27, 63);
  background-repeat: repeat-x;
  transform: scale(1);
  overflow: hidden;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: backgroundmover 30s linear infinite;
  .maploader {
    .lds-ellipsis {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-ellipsis div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #fff;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }
  }
}
.loading-text {
  // color: yellow;
  position: absolute;
  bottom: 50vh;
  left: 0px;
  width: 100vw;
  text-align: center;
  // background: red;
  height: 50vh;
  //z-index: 90;
  margin: auto;
}
.loader-hide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  background: rgb(255, 255, 255);
  transform: scale(0);
  overflow: hidden;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  .maploader {
    .lds-ellipsis {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-ellipsis div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #fff;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }
  }
}
@keyframes maploader {
  0% {
    // transform: rotate(0deg);
    border-color: rgb(182, 70, 95);
    // background: rgb(255, 192, 192);
  }
  50% {
    // background: rgb(206, 206, 255);
    // transform: rotate(360deg);
    border-color: rgb(42, 50, 75);
  }
  100% {
    border-color: rgb(250, 182, 43);
    // background: rgb(255, 167, 167);
    // transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1024px) {
  .web_view {
    display: none;
    width: 0%;
    height: 0%;
  }


  #nav {
    display: none;
    width: 0 !important;
    height: 0 !important;
  }
}

@media only screen and (min-width: 1330px) {
  .container {
    display: none;
    width: 0 !important;
    height: 0 !important;
  }

  #mobile {
    display: none;
    width: 0 !important;
    height: 0 !important;
  }

  ion-toolbar {
    --background: rgb(255, 255, 255);
    width: 100%;
    #icon {
      color: rgb(131, 131, 131);
    }
    font-family: "Raleway";
    letter-spacing: 2px;
    color: rgb(131, 131, 131);
    #number {
      font-size: 0.8em;
      position: relative;
      top: 8px;
      right: 5px;
    }
    .icon1 {
      margin: 0 20vw;
    }
  }
  
}

.web_view {
  min-width: 100%;
  max-width: 100%;
  margin: auto;

  .cards {
    display: flex;
    flex-flow: column;
    height: auto;
    align-items: center;
    border-radius: 5px;
    margin: 6px;
    position: relative;

    .card {
      display: flex;
      flex-flow: row;
      position: relative;
      top: 10px;
      padding: 5px;
      width: 100%;
      overflow-x: auto;
      min-height: 30vh;
      margin: 10px;
      box-shadow: 5px 5px 10px rgb(190, 190, 190);
      border-radius: 5px;

      .card1 {
        display: flex;
        flex-flow: column;
        position: relative;
      }

      .top {
        display: flex;
        flex-flow: row;
        min-width: 20vw;
        height: fit-content;
        margin: 5px;
        box-shadow: 3px 3px 3px 3px rgb(209, 209, 209);
        font-size: 12px;
        .image {
          width: 6vw;
          height: 6vw;
          margin: 5px;
          border-radius: 5px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
          }
          .info {
            width: 100%;
            padding: 10px;
            margin: 15px;
            display: grid;
            align-items: center;

            #name {
              font-family: "Poppins";
              font-size: 12px;
              span {
                font-weight: bold;
              }
            }

            #costs {
              line-height: 0.2px;
            }
            p {
              font-size: 12px;
              font-family: "Poppins";
              span {
                font-weight: bold;
              }
            }
          }
        }
      }
    }

    .butt {
      width: 100%;
      height: 30%;
      margin: 18px 0px 20px 0px;
      ion-button {
        font-family: "Poppins";
        letter-spacing: 1px;
        color: white;
        background: rgb(0, 0, 26);
        width: 80%;
        position: absolute;
        left: 10%;
        bottom: 2px;
      }
    }

    #msg {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-evenly;
      margin: 10px;
      margin-top: 60px;
      font-family: "Poppins";
      box-shadow: none !important;
      img {
        width: 30vw;
        height: 40vh;
      }
      p {
        color: #c6cbdb;
        font-size: 40px;
      }
    }
  }

  .tracking {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 20px;
    width: 100%;
    color: rgb(143, 143, 143);

    .orderstatus{
      p{
        span{
          font-size: 12px;
        }
      }
    }
    .left {
      flex: 1;
    }

    .bankingDets {
      p{
         font-size: 12px;
    
      }
     
    }

    .tracks {
      width: 20vw;
   
      .text {
        position: relative;
        right: 8px;
        top: 10px;
        display: flex;
        flex-flow: row;
        width: 30vw;
        justify-content: space-between;
        font-weight: lighter;
        text-align: center;
        margin: 5px;
        font-size: 15px;
        // line-height: 20px;
        // font-size: 1em;
        #txt{
          font-size: 12px;
        }
      }
      flex: 2;
      .circle-container {
        width: 30vw;
        margin: 0 auto;
        display: flex;
        flex-flow: row;
        // border: 1px solid red;
        text-align: center;
      }
      .circle-container > #one {
        cursor: pointer;
        width: 2vw;
        height: 2vw;
        border-radius: 50px;
        border: 1px solid grey;
        transition: 700ms;
        font-weight: lighter;
        font-size: 1em;
      }
      .circle-container > #two {
        cursor: pointer;
        width: 2vw;
        height: 2vw;
        border-radius: 50px;
        border: 1px solid grey;
        font-size: 1em;
        transition: 700ms;
        font-weight: lighter;
      }
      .circle-container > #three {
        cursor: pointer;
        width: 2vw;
        height: 2vw;
        border-radius: 50px;
        border: 0.5px solid grey;
        transition: 700ms;
        font-size: 1em;
        font-weight: lighter;
      }
      .circle-container > #four {
        cursor: pointer;
        width: 2vw;
        height: 2vw;
        border-radius: 50px;
        border: 1px solid grey;
        font-size: 1em;
        transition: 700ms;
        font-weight: lighter;
      }
      #line1,
      #line2,
      #line3 {
        width: calc(33.33333333% - 28px);
        height: 0;
        margin-top: 13px;
        transition: 700ms;
        font-size: 0.8em;
      }
      #line1 {
        border: 0.5px solid grey;
      }
      #line2 {
        border: 0.5px solid grey;
      }
      #line3 {
        border: 0.5px solid grey;
      }

      #one,
      #two,
      #three,
      #four {
        display: grid;
        align-items: center;
      }
    }
  }
}
