.container {
  display: flex;
  flex-flow: column;

  .cards {
    display: flex;
    flex-flow: column;
 height: auto;
    align-items: center;
    box-shadow: 2px 2px 20px rgb(206, 206, 206);
    border-radius: 5px;
    margin: 6px;
    // padding: 0px 10px 10px 5px;
    position: relative;
    .card {
      display: flex;
      flex-flow: column;
      position: relative;
      top: 10px;
      padding: 5px;
      width: 95vw;
     
      .top {
        display: flex;
        flex-flow: row;
        // height: 30vw;
        width: 90vw;
        .image {
          width: 30vw;
          height: 30vw;
          margin: 5px;
          border-radius: 5px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
            
          }
          .info {
            height: 30vw;
            width: 55vw;
            padding: 10px;
            margin: 10px;
            p {
              line-height: 0.2px;
              font-family: "Poppins";
              span {
                font-weight: bold;
              }
            }
          }
        }
      }
 
    }

    .butt {
        width: 100%;
        margin: 10px;
        ion-button {
          color: white;
          background: rgb(0, 0, 26);
          width: 80%;
          position: absolute;
          left: 10%;
          font-size: 0.8em;
        }
      }
  }
}
