ionic4-star-rating {
  button {
    outline: none !important;
  }
}

.sizeStyle {
  background: rgba(175, 175, 175, 0.712);
  border: 2px solid rgb(146, 146, 146);
  color: white;
  ion-button {
    color: white;
  }
}

.colorStyle {
  border: 2px solid rgb(146, 146, 146);
  color: rgb(99, 99, 99);
}
ion-toolbar {
  --background: transparent;
  position: absolute;
  top: 0;

  #icon {
    color: maroon;
  }

  #rate {
    color: white;
    font-size: 0.7em;
    background: rgb(0, 0, 39);
    padding: 0 !important;
    margin-right: -5px !important;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    ion-icon {
      font-size: 1em;
    }
  }
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;

  .image {
    position: relative;
    display: flex;
    flex-flow: column;
    width: 100vw;
    height: 70vh;
    background: black;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.8;
    }

    .iteminfo {
      z-index: 5;
      position: absolute;
      top: 45%;
      left: 5vw;
      display: flex;
      flex-flow: row;
      text-align: center;
      align-items: flex-end;
      justify-content: space-between;
      width: 70%;
      margin: 5px;
      padding: 5px;
      color: white;
      font-family: "Raleway";
      line-height: 10px;

      .appname {
        display: block;
        width: 170px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left !important;
      }
    }
  }

  .productinfo {
    display: flex;
    flex-flow: column;
    width: 90vw;
    // height: 60vh;
    background: white;
    z-index: 5;
    position: absolute;
    top: 50%;

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 5px 5px 10px rgb(184, 184, 184);

    .add {
      position: absolute;
      right: -5px;
      top: -25px;
      ion-fab-button {
        background: maroon;
        border-radius: 50%;
        ion-icon {
          color: white;
        }
      }
    }

    .about {
      margin: 5px;
      font-size: 0.7em;
    }

    .sizes {
      margin: 5px;
      font-size: 0.7em;
      ion-button {
        font-size: 1em;
        width: 14vw;
        color: black;
        margin: 0 !important;
        padding: 0 !important;
        border: 0.5px solid rgb(173, 173, 173);
      }
    }

    .colours {
      // position: relative;
      // bottom: 20px;
      margin: 5px;
      font-size: 0.7em;
      ion-button {
        margin: 2px;
        width: 14vw;
        // height: 8vw;
        font-size: 1em;
      }
    }

    .quantity {
      // position: relative;
      // bottom: 40px;
      margin: 5px;
      font-size: 0.7em;
      align-items: baseline;

      ion-button {
        font-size: 1em;
        width: 10vw;
        color: black;
        margin: 0 !important;
        padding: 0 !important;
        border: 0.5px solid black;
      }
    }

    .shipping {
      // position: relative;
      // bottom: 40px;
      margin: 5px;
      font-size: 0.7em;
    }

    .delivery {
      position: relative;
      bottom: 40px;
      margin: 5px;
      font-size: 0.7em;
    }

    .buttonz {
      width: 100%;
      text-align: right;
      font-size: 1em;
      ion-button {
        font-size: 1em;
        color: white;
        background: rgb(1, 1, 54);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        font-family: "Raleway";

        ion-icon {
          font-size: 1em;
          color: white;

          #book {
            color: maroon;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  #nav {
    display: none;
    width: 0 !important;
    height: 0 !important;
  }
  .web_view {
    display: none;
  }

  #webview {
    display: none;
    width: 0 !important;
    height: 0 !important;
  }

  #cart {
    display: none;
    width: 0 !important;
    height: 0 !important;
  }
}

@media only screen and (min-width: 1025px){
  .sidemenu{
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    display: none;
    width: 0 !important;
    height: 0 !important;
  }

  #crumbs {
    color: grey;
    cursor: pointer;
    margin: 20px;
    margin-top: 110px;
    z-index: 10;
    span {
      color: maroon;
    }
  }

  #mobile {
    display: none;
  }

  ion-toolbar {
    img {
      margin-left: 5%;
    }
    --background: #000324;
    width: 100%;
    #icon {
      color: rgb(255, 255, 255);
      font-size: 12.5px;
    }
    font-family: "Raleway";
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    #number {
      position: relative;
      top: 8px;
      right: 5px;
    }

    .icon1 {
      margin: 0 20vw 0 10vw;

      ion-button:hover {
        border: 2px solid maroon;
        border-radius: 5px;
        padding: 5px;
      }

      ion-button.active {
        border: 2px solid maroon;
        border-radius: 5px;
      }

      ion-button {
        transition: 0.6s ease;
      }
    }
  }

  .web_view {
    min-width: 600px;
    max-width: 1000px;
    // height: 100%;
    margin: auto;
    display: flex;
    flex-flow: row;
    margin-top: 80px;
    box-shadow: 5px 5px 10px rgb(190, 190, 190);
    padding: 20px;
    margin-bottom: 20px;

    .image {
      width: 40vw;
      height: 30%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .buttonz {
      width: 100%;
      text-align: right;
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
      ion-button {
        width: 20vw;
        color: white;
        background: rgb(1, 1, 54);
        border-radius: 20px;
        font-family: "Raleway";
        ion-icon {
          color: white;
          #book {
            color: maroon;
          }
        }
      }
    }

    .shipping {
      margin: 5px;
      font-size: 15px;
    }

    .delivery {
      position: relative;
      bottom: 40px;
      margin: 5px;
      font-size: 15px;
    }

    .add {
      ion-button {
        font-size: 12px;
      }
    }

    .about {
      margin: 5px;
    }

    .sizes {
      margin: 5px;
      ion-button {
        color: black;
        margin: 0 !important;
        padding: 0 !important;
        border: 0.5px solid rgb(173, 173, 173);
      }
    }

    .colours {
      // position: relative;
      // bottom: 20px;
      margin: 5px;
      ion-button {
        margin: 2px;

        // height: 8vw;
      }
    }

    .quantity {
      margin: 5px;
      align-items: baseline;
      ion-button {
        color: black;
        margin: 0 !important;
        padding: 0 !important;
        border: 0.5px solid black;
      }
    }

    .productinfo {
      margin: 20px;
    }
  }

  .backdrop1 {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: 0.5;
  }

  .viewcart {
    position: fixed;
    z-index: 150;
    background: rgb(201, 201, 201);
    width: 25%;
    height: 90%;
    top: 98px;
    // bottom: 40%;
    right: 0;
    align-items: center;
    display: flex;
    flex-flow: column;
    overflow: hidden;

    .heading {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      width: 100%;
      // text-align: center;
      margin: 5px;

      ion-icon {
        color: white;
        position: relative;
        right: 20px;
        top: 2.2vh;
        font-size: 1em;
        background: rgb(0, 0, 0);
        border-radius: 50%;
      }

      p {
        letter-spacing: 1px;
        margin: 5px;
        position: relative;
        left: 2vw;
        font-size: 1em;
      }
    }

    .wishlist_items {
      display: flex;
      flex-flow: column;
      overflow-y: auto;
      margin: 5px;
      width: 90%;
      height: 100%;
      position: relative;
      left: 5px;
      // align-items: center;
      #noItems {
        display: flex;
        flex-flow: column;
        background: none;
        align-items: center;
        box-shadow: none;
        justify-content: center;
        margin-top: 200px;
        img {
          width: 5vw;
          height: 5vw;
        }
        p {
          text-align: center;
          font-size: 15px;
          color: grey;
        }
      }
      .div {
        height: 65vh;
        overflow-y: auto;
        scrollbar-width: 2px;
        width: 100vh;
      }
      .items {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        margin: 5px;
        min-height: 7vh;
        width: fit-content;
        background: rgb(255, 255, 255);
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgb(158, 158, 158);
        .left {
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          //margin: 5px;
          .img {
            width: 5vw;
            height: 5.5vw;
            margin: 3px;
            border-radius: 5px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 5px;
            }
          }

          .item_details {
            width: 12vw;
            p {
              font-size: 13px;
            }
          }
        }

        .right {
          width: 3vw;
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          text-align: right;
          margin: 5px;
          ion-button {
            font-size: 12px;
            width: 4vw;
            height: 20px;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            ion-icon {
              font-size: 12px;
            }
          }

          .trash_icon {
            ion-icon {
              color: rgb(148, 14, 14);
            }
          }
        }
      }

      .add_to_basket {
        color: white;
        position: absolute;
        right: 5px;
        bottom: 0;
        width: 90%;
        margin: 20px;
        p {
          color: rgb(0, 0, 43);
        }
        ion-button {
          background: rgb(2, 2, 37);
          width: 100%;
          object-fit: cover;
          text-align: center;
        }
        .delivery_options {
          display: flex;
          flex-flow: row;
          justify-content: space-evenly;
          margin: 5px;
          ion-button {
            font-size: 13px;
            color: grey;
            width: 20vw;
            height: 2vw;
          }

          .line {
            width: 20vw;
            height: 1.5px;
            background: grey;
          }
        }

        .delivery {
          width: 50%;
          height: 100%;
          align-items: center;
          overflow: hidden;
          background: rgb(184, 184, 184);
          ion-button {
            border-bottom: 2px solid black;
          }
        }
        .delivery-inactive {
          width: 50%;
          height: 100%;
          align-items: center;
          overflow: hidden;
          opacity: 0.5;
          background: rgb(250, 250, 250);
          ion-button {
            width: 100%;
            height: 100%;
            border-radius: 30px;
            font-family: "Poiret One";
            font-weight: bold;
            letter-spacing: 3px;
            background: #bf967e;
            color: white;
            border: none;
          }
        }
        .collection {
          width: 50%;
          height: 100%;
          overflow: hidden;
          background: rgb(184, 184, 184);
          ion-button {
            width: 100%;
            height: 100%;
            border-radius: 30px;
            font-family: "Poiret One";
            font-weight: bold;
            letter-spacing: 3px;
            background: #bf967e;
            color: white;
            border: none;
          }
        }
        .collection-inactive {
          background: rgb(250, 250, 250);
          width: 50%;
          height: 100%;
          overflow: hidden;
          opacity: 0.5;
          ion-button {
            width: 100%;
            height: 100%;
            border-radius: 30px;
            font-family: "Poiret One";
            font-weight: bold;
            letter-spacing: 3px;
            background: #bf967e;
            color: white;
            border: none;
          }
        }
      }
    }
  }

  .closecart {
    position: absolute;
    z-index: 150;
    background: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 0vw;
    height: 85vh;
    top: 10%;
    bottom: 40%;
    right: 0;
    align-items: center;
    display: flex;
    flex-flow: column;
    overflow: hidden;
  }
}

@media only screen and (max-width: 1024px){
  .icon1{
display: none ;
  }

  .viewMenu {
    position: fixed;
    z-index: 150;
    background: rgb(201, 201, 201);
    min-width: 40%;
    height: 100vh;
    top: 98px;
    // bottom: 40%;
    right: 0;
    align-items: center;
    display: flex;
    flex-flow: column;
    overflow: hidden;
  
    .heading {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      width: 100%;
      // text-align: center;
      margin: 5px;
  
      ion-icon {
        color: white;
        position: relative;
        right: 20px;
        top: 2.2vh;
        font-size: 1em;
        background: rgb(0, 0, 0);
        border-radius: 50%;
      }
  
      p {
        letter-spacing: 1px;
        margin: 5px;
        position: relative;
        left: 2vw;
        font-size: 1em;
      }
    }

    .side_buttons{
      display: flex;
      flex-flow: column;
      position: relative;
      top: 150px;
      ion-button{
        color: rgb(82, 82, 82);
        margin: 5px;
        height: 50px;
        width: 30vw;
        font-size: 15px;
        border-bottom: 2px solid rgb(255, 255, 255);
      }
    }
  
  }
  
  .closeMenu {
    position: absolute;
    z-index: 150;
    background: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 0vw;
    height: 85vh;
    top: 10%;
    bottom: 40%;
    right: 0;
    align-items: center;
    display: flex;
    flex-flow: column;
    overflow: hidden;
  }
}

ion-footer {
  text-align: center;
  // position: absolute;
  // bottom: 0;
  .footer {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width: 100vw;
    background: rgb(0, 0, 32);
    color: white;

    .heading {
      width: 10vw;
      height: 5vw;
      margin: 15px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .app_store {
      width: 10vw;
      height: 5vw;
    }

    .contact_details {
      font-size: 13px;
      text-align: left;
      p {
        font-size: 13px;
      }
      h1 {
        font-size: 20px;
      }
    }

    .info {
      font-size: 13px;
      text-align: left;
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      ion-button {
        font-size: 13px;
        color: white;
        margin-left: -8%;
        padding-left: 0 !important;
        span {
          text-align: left;
          width: 100%;
          left: 0px !important;
        }
      }

      h1 {
        font-size: 20px;
      }
    }

    .connect {
      display: flex;
      flex-flow: column;
      ion-button {
        overflow: hidden;
      }
      h1 {
        font-size: 20px;
      }
    }
  }
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: rgb(0, 27, 63);
  background-repeat: repeat-x;
  transform: scale(1);
  overflow: hidden;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: backgroundmover 30s linear infinite;
  .maploader {
    .lds-ellipsis {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-ellipsis div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #fff;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }
  }
}
.loading-text {
  // color: yellow;
  position: absolute;
  bottom: 50vh;
  left: 0px;
  width: 100vw;
  text-align: center;
  // background: red;
  height: 50vh;
  //z-index: 90;
  margin: auto;
}
.loader-hide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  background: rgb(255, 255, 255);
  transform: scale(0);
  overflow: hidden;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  .maploader {
    .lds-ellipsis {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-ellipsis div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #fff;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }
  }
}
@keyframes maploader {
  0% {
    // transform: rotate(0deg);
    border-color: rgb(182, 70, 95);
    // background: rgb(255, 192, 192);
  }
  50% {
    // background: rgb(206, 206, 255);
    // transform: rotate(360deg);
    border-color: rgb(42, 50, 75);
  }
  100% {
    border-color: rgb(250, 182, 43);
    // background: rgb(255, 167, 167);
    // transform: rotate(360deg);
  }
}
