<ion-header no-border id="nav">

  <ion-toolbar>
    <img src="../../assets/Logo.png" width="150px" height="90px" routerLink="/home">

    <ion-buttons slot="end">
      <div class="icon1">

        <ion-button id="icon" routerLink="/home" class="active">
          Home
        </ion-button>

        <ion-button id="icon">
          Sales and Specials
        </ion-button>

        <ion-button id="icon">
          Summer Gear
        </ion-button>

        <ion-button id="icon">
          Winter Gear
        </ion-button>

        <ion-button id="icon">
          Kwanga Apparel
        </ion-button>

        <ion-button id="icon" href="https://broken-stool.firebaseapp.com/home/About%20Company">
          About Us
        </ion-button>

      </div>

      <ion-buttons slot="end">

        
        <!-- <ion-button id="icon" (click)="gotocart()">
          <ion-icon slot="start" name="basket"></ion-icon> 
        </ion-button> -->

        <ion-button id="rate" (click)="presentPopover($event)">
          <ion-icon slot="start" name="star"></ion-icon> Rate This Product
        </ion-button>

        <ion-button id="icon" (click)="getSideMenu()" class="sidemenu">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>

      </ion-buttons>
    </ion-buttons>


  </ion-toolbar>


  <p id="crumbs"> <span (click)="home()"> Home</span> / <span (click)="back()"> List</span> / View Product</p>
</ion-header>



<ion-header no-border id="mobile">

  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button id="rate" (click)="presentPopover($event)">
        <ion-icon slot="start" name="star"></ion-icon> Rate This Product
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<div [ngClass]="{'loader': loaderAnimate, 'loader-hide': !loaderAnimate}">
  <!-- <div class="maploader">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <p style="color:white; text-align: center;">{{loaderMessages}}</p>
  </div> -->

  <div class="loader">
    <span>Loading...</span>
  </div>
</div>

<ion-content fullscreen>

  <div class="container" *ngIf="col!=='Specials'">
    <div class="image" *ngFor="let prod of unitProduct">
      <img src="{{prod.data.pictureLink}}">



    </div>

    <div class="productinfo" *ngFor="let prod of unitProduct;let j = index">

      <div class="iteminfo">
        <div class="itemname">
          <ionic4-star-rating id="rating" #rating activeIcon="ios-star" defaultIcon="ios-star-outline"
            activeColor="#E48D0C" defaultColor="#aaaaaa" readonly="true" rating="{{myRate}}" style="overflow: hidden;">
          </ionic4-star-rating>

          <div class="appname" style="line-height: 20px; font-weight: normal;">
            <p style="font-size: 14px"><b> <span style="font-size: 15px">{{prod.data.name}}</span></b> <br> By {{prod.data.brand}}</p>
          </div>
        </div>

        <div class="price">
          <p style="font-size: 13px;">{{prod.data.price  | currency:'R' }}</p>
        </div>
      </div>

      <div class="add">
        <ion-fab-button color="transparent" (click)="toBusket()">
          <ion-icon name="basket"></ion-icon>

        </ion-fab-button>
      </div>
      <div class="about">
        <p><b>About Product</b></p>
        <p>{{prod.data.description}}</p>
      </div>
      <div class="sizes">
        <p style="margin: 5px; font-weight: bold">Available sizes</p>

        <ion-button *ngFor="let size of prod.data.size;let i=index" (click)="sizeChosen(size, i)" color="transparent"
          [ngClass]="{'sizeStyle':sizeIndex==i}">
          {{size}}
        </ion-button>

      </div>
      <div class="colours">
        <p style="margin: 5px; font-size: 12px; font-weight: bold">Colours</p>
        <ion-button *ngFor="let c of prod.data.color; let i=index" style="background: whitesmoke; border-radius: 6px;"
          (click)="colorChosen(c, i)" color="transparent" [ngClass]="{'colorStyle':colorIndex==i}">
          <p style="color: rgb(146, 146, 146);">{{c}}</p>
        </ion-button>

      </div>
      <div class="quantity">
        <p style=" font-weight: bold">Quantity</p>
        <ion-button (click)="minus()" color="transparent" style="background: rgb(212, 212, 212);
         color: maroon;
         border-top-left-radius: 7px;
         border-bottom-left-radius: 7px;">
          <ion-icon name="remove"></ion-icon>
        </ion-button>
        <ion-button color="transparent" style="background: rgb(212, 250, 255);">
          {{quantity}}
        </ion-button>
        <ion-button (click)="plus()" color="transparent" style="background: rgb(212, 212, 212); 
        color: maroon;
         border-top-right-radius: 7px;
         border-bottom-right-radius: 7px;">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </div>
      <div class="shipping">
        <p><b>Shipping Information</b></p>
        <p>Delivery to your door will cost you R100 and pick up is free. You can contact Dankie Jesu during business
          hours at the following number
          061 446 4674. Ask for Lunga </p>
      </div>
      <br>
      <div class="delivery">
        <p><b>Delivery Information</b></p>
        <p>Items are available for pick up at the following Address</p>
        <p>5630 Moilwa Drive <br>
          Kagiso <br>
          MOGALE CITY <br>
          1754
        </p>
      </div>

      <div class="buttonz">
        <ion-button (click)="addToCart(prod.id, prod.data)" color="transparent">
          <ion-icon slot="start" name="basket"></ion-icon> Add to basket <ion-icon name="bookmark" id="book"
            style="color: maroon; font-size: 8vw;position: relative; bottom: 13px;"></ion-icon>
          {{prod.data.price * quantity | currency:'R'  }}
        </ion-button>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="col==='Specials'">
    <div class="image" *ngFor="let prod of mySale">
      <img src="{{prod.data.pictureLink}}">



    </div>

    <div class="productinfo" *ngFor="let prod of mySale">
      <div class="iteminfo">
        <div class="itemname">
          <ionic4-star-rating style="outline: none !important;" #rating activeIcon="ios-star"
            defaultIcon="ios-star-outline" activeColor="#ff0000" defaultColor="#aaaaaa" readonly="true"
            rating="{{myRate}}">
          </ionic4-star-rating>

          <div class="appname" style="line-height: 20px; font-weight: normal;">
            <p><b><span style="font-size: 13px;">{{prod.data.name}}</span></b> <br> On promotion</p>
          </div>
        </div>

        <div class="price">
          <p style="text-decoration: line-through; font-size: 15px">{{prod.data.price | currency:'R'  }} </p>
          <p style="font-size: 15px; color: maroon; ">{{(prod.data.price)-(prod.data.price*(prod.data.discount/100))  | currency:'R' }}</p>
        </div>
      </div>
      <div class="add">
        <ion-fab-button color="transparent" (click)="toBusket()">
          <ion-icon name="basket"></ion-icon>

        </ion-fab-button>
      </div>
      <div class="about">
        <p><b>About Product</b></p>
        <p>{{prod.data.description}}</p>
      </div>
      <div class="sizes">
        <p style="margin: 5px; font-weight: bold;">Available sizes</p>

        <ion-button *ngFor="let size of prod.data.size;let i=index" (click)="sizeChosen(size, i)" color="transparent"
          [ngClass]="{'sizeStyle':sizeIndex==i}">
          {{size}}
        </ion-button>

      </div>
      <div class="colours">
        <p style="margin: 5px; font-size: 12px; font-weight: bold;">Colours</p>
        <ion-button *ngFor="let c of prod.data.color; let i=index" style="background: whitesmoke; border-radius: 6px;"
          (click)="colorChosen(c, i)" color="transparent" [ngClass]="{'colorStyle':colorIndex==i}">
          <p style="color: rgb(146, 146, 146);">{{c}}</p>
        </ion-button>
      </div>
      <div class="quantity">
        <p style="font-weight: bold;">Quantity</p>
        <ion-button (click)="minus()" color="transparent" style="background: rgb(212, 212, 212);
         color: maroon;
         border-top-left-radius: 7px;
         border-bottom-left-radius: 7px;">
          <ion-icon name="remove"></ion-icon>
        </ion-button>
        <ion-button color="transparent" style="background: rgb(212, 250, 255);">
          {{quantity}}
        </ion-button>
        <ion-button (click)="plus()" color="transparent" style="background: rgb(212, 212, 212); 
        color: maroon;
         border-top-right-radius: 7px;
         border-bottom-right-radius: 7px;">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </div>
      <div class="shipping">
        <p><b>Shipping Information</b></p>
        <p>Delivery to your door will cost you R100 and pick up is free. You can contact Dankie Jesu during business
          hours at the following number
          061 446 4674. Ask for Lunga </p>
      </div>
      <br>
      <div class="delivery">
        <p><b>Delivery Information</b></p>
        <p>Items are available for pick up at the following Address</p>
        <p>5630 Moilwa Drive <br>
          Kagiso <br>
          MOGALE CITY <br>
          1754
        </p>
      </div>

      <div class="buttonz">
        <ion-button (click)="addSaleToCart(prod.id, prod.data)" color="transparent">
          <ion-icon slot="start" name="basket"></ion-icon> Add to basket <ion-icon name="bookmark" id="book"
            style="color: maroon; font-size: 8vw;position: relative; bottom: 13px;"></ion-icon>
          {{prod.data.saleprice * quantity | currency:'R'  }}
        </ion-button>
      </div>
    </div>
  </div>

  <div class="web_view" *ngIf="col!=='Specials'">
    <div class="image" *ngFor="let prod of unitProduct">
      <img src="{{prod.data.pictureLink}}">

      <div class="iteminfo">
        <div class="itemname">
          <ionic4-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#ff0000"
            defaultColor="#aaaaaa" readonly="true" rating="{{myRate}}">
          </ionic4-star-rating>

          <div class="appname" style="line-height: 20px; font-weight: normal;">
            <p><b> {{prod.data.name}}</b> <br> By {{prod.data.brand}}</p>
          </div>
        </div>

        <div class="price">
          <p>{{prod.data.price  | currency:'R' }}</p>
        </div>
      </div>


    </div>

    <div class="productinfo" *ngFor="let prod of unitProduct">

      <div class="about">
        <p><b>About Product</b></p>
        <p>{{prod.data.description}}</p>
      </div>
      <div class="sizes">
        <p>Available sizes</p>

        <ion-button *ngFor="let size of prod.data.size;let i=index" (click)="sizeChosen(size, i)" color="transparent"
          [ngClass]="{'sizeStyle':sizeIndex==i}">
          {{size}}
        </ion-button>

      </div>
      <div class="colours">
        <p>Colours</p>
        <ion-button *ngFor="let c of prod.data.color; let i=index" style="background: whitesmoke; border-radius: 6px;"
          (click)="colorChosen(c, i)" color="transparent" [ngClass]="{'colorStyle':colorIndex==i}">
          <p style="color: rgb(146, 146, 146);">{{c}}</p>
        </ion-button>

      </div>
      <div class="quantity">
        <p>Quantity</p>
        <ion-button (click)="minus()" color="transparent" style="background: rgb(212, 212, 212);
         color: maroon;
         border-top-left-radius: 7px;
         border-bottom-left-radius: 7px;">
          <ion-icon name="remove"></ion-icon>
        </ion-button>
        <ion-button color="transparent" style="background: rgb(212, 250, 255);">
          {{quantity}}
        </ion-button>
        <ion-button (click)="plus()" color="transparent" style="background: rgb(212, 212, 212); 
        color: maroon;
         border-top-right-radius: 7px;
         border-bottom-right-radius: 7px;">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </div>
      <div class="shipping">
        <p><b>Shipping Information</b></p>
        <p>Delivery to your door will cost you R100 and pick up is free. You can contact Dankie Jesu during business
          hours at the following number
          061 446 4674. Ask for Lunga </p>
      </div>
      <br>
      <div class="delivery">
        <p><b>Delivery Information</b></p>
        <p>Items are available for pick up at the following Address</p>
        <p>5630 Moilwa Drive <br>
          Kagiso <br>
          MOGALE CITY <br>
          1754
        </p>
      </div>

      <div class="buttonz">
        <!-- <div class="add">
          <ion-fab-button color="transparent" (click)="gotocart()">
            <ion-icon name="basket"></ion-icon>
          </ion-fab-button>
        </div> -->

        <ion-button (click)="addToCart(prod.id, prod.data)" color="transparent">
          <ion-icon slot="start" name="basket"></ion-icon> Add to basket <ion-icon name="bookmark" id="book"
            style="color: maroon; position: relative; bottom: 13px;"></ion-icon>
          {{prod.data.price * quantity | currency:'R'  }}
        </ion-button>

        <div class="add">
          <ion-button (click)="gotocart()" color="transparent" style="background: rgb(5, 5, 29); width: 10vw;">
           Go to basket
          </ion-button>
          <!-- <ion-fab-button color="transparent" (click)="gotocart()">
            <ion-icon name="basket"></ion-icon>

          </ion-fab-button> -->
        </div>
      </div>
    </div>
  </div>

  <div class="web_view" *ngIf="col==='Specials'">
    <div class="image" *ngFor="let prod of mySale">
      <img src="{{prod.data.pictureLink}}">

      <div class="iteminfo">
        <div class="itemname">
          <ionic4-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#ff0000"
            defaultColor="#aaaaaa" readonly="true" rating="{{myRate}}">
          </ionic4-star-rating>

          <div class="appname" style="line-height: 20px; font-weight: normal;">
            <p><b> {{prod.data.name}}</b> <br> By Dankie Jesu</p>
          </div>
        </div>

        <div class="price">
          <p style="text-decoration: line-through; font-size: 20px">{{prod.data.price  | currency:'R' }} </p>
          <p style="font-size: 20px; color: maroon">{{(prod.data.price)-(prod.data.price*(prod.data.discount/100))  | currency:'R' }}</p>
        </div>
      </div>


    </div>

    <div class="productinfo" *ngFor="let prod of mySale">

      <div class="about">
        <p><b>About Product</b></p>
        <p>{{prod.data.description}}</p>
      </div>
      <div class="sizes">
        <p>Available sizes</p>

        <ion-button *ngFor="let size of prod.data.size;let i=index" (click)="sizeChosen(size, i)" color="transparent"
          [ngClass]="{'sizeStyle':sizeIndex==i}">
          {{size}}
        </ion-button>

      </div>
      <div class="colours">
        <p>Colours</p>
        <ion-button *ngFor="let c of prod.data.color; let i=index" style="background: whitesmoke; border-radius: 6px;"
          (click)="colorChosen(c, i)" color="transparent" [ngClass]="{'colorStyle':colorIndex==i}">
          <p style="color: rgb(146, 146, 146);">{{c}}</p>
        </ion-button>

      </div>
      <div class="quantity">
        <p>Quantity</p>
        <ion-button (click)="minus()" color="transparent" style="background: rgb(212, 212, 212);
         color: maroon;
         border-top-left-radius: 7px;
         border-bottom-left-radius: 7px;">
          <ion-icon name="remove"></ion-icon>
        </ion-button>
        <ion-button color="transparent" style="background: rgb(212, 250, 255);">
          {{quantity}}
        </ion-button>
        <ion-button (click)="plus()" color="transparent" style="background: rgb(212, 212, 212); 
        color: maroon;
         border-top-right-radius: 7px;
         border-bottom-right-radius: 7px;">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </div>
      <div class="shipping">
        <p><b>Shipping Information</b></p>
        <p>Delivery to your door will cost you R100 and pick up is free. You can contact Dankie Jesu during business
          hours at the following number
          061 446 4674. Ask for Lunga </p>
      </div>
      <br>
      <div class="delivery">
        <p><b>Delivery Information</b></p>
        <p>Items are available for pick up at the following Address</p>
        <p>5630 Moilwa Drive <br>
          Kagiso <br>
          MOGALE CITY <br>
          1754
        </p>
      </div>

      <div class="buttonz">

        <div class="add">

          <ion-button (click)="addSaleToCart(prod.id, prod.data)" color="transparent">
            <ion-icon slot="start" name="basket"></ion-icon> Add to basket <ion-icon name="bookmark" id="book"
              style="color: maroon; font-size: 30px; position: relative; bottom: 13px;"></ion-icon>
            {{((prod.data.price)-(prod.data.price*(prod.data.discount/100))) * quantity | currency:'R'}}
          </ion-button>

          <ion-button (click)="gotocart()" color="transparent" style="background: rgb(0, 0, 37); width: 10vw">
            show cart
          </ion-button>
          <!-- <ion-fab-button color="transparent" (click)="gotocart()" vertical="bottom">
            <ion-icon name="basket"></ion-icon>

          </ion-fab-button> -->
        </div>



      </div>
    </div>
  </div>

  <div class="backdrop1" *ngIf="viewBackdrop"></div>

  <div id="cart" [ngClass]="{'viewcart': viewCart, 'closecart': !viewCart}">

    <div class="heading">
      <p>Basket({{prodCart.length}})</p>

      <ion-icon slot="icon-only" name="close" (click)="gotocart()"></ion-icon>

    </div>


    <div class="wishlist_items">
      <div class="div">


        <div class="items" *ngFor="let c of prodCart; let i of index">
          <div class="left" *ngFor="let p of c.data.product">
            <div class="img">
              <img src="{{p.picture}}" alt="">
            </div>

            <div class="item_details">
              <p> <b>{{p.product_name}} &nbsp; {{p.cost | currency:'R'}}</b><br>
                size: {{p.size}} &nbsp; color: {{p.color}} <br>
                {{c.data.timestamp | date}}</p>

              <p>
                <ion-icon slot="start" name="remove-circle-outline" (click)="minuss(p, i)"></ion-icon>
                {{p.quantity}} <ion-icon slot="end" name="add-circle-outline" (click)="pluss(p, i)"></ion-icon>
              </p>

            </div>
          </div>

          <div class="right">
            <div class="trash_icon" (click)="removeProd(c.id)">
              <ion-icon slot="start" name="trash"></ion-icon>
            </div>


          </div>
        </div>

        <div class="items" id="noItems" *ngIf="prodCart.length === 0">
          <p>Basket Empty</p>
          <img src="../../assets/empty-cart.svg" alt="">
        </div>


        <div class="add_to_basket">

          <div class="delivery_options">
            <ion-button (click)="switchView('d')" color="transparent"
              [ngClass]="{'delivery':buttonActive, 'delivery-inactive': !buttonActive}">
              Delivery
            </ion-button>
            <ion-button (click)="switchView('c')" color="transparent"
              [ngClass]="{'collection': !buttonActive, 'collection-inactive': buttonActive}">
              Collection
            </ion-button>
          </div>
          <p style="width: 100%; text-align: right; font-size: 13px;" *ngIf="!delType"><i>Cart Total -
              {{getTotal() | currency:'R'}}</i></p>
          <p *ngIf="delType==='Delivery'" style="width: 100%; text-align: right; font-size: 13px;"><i>Cart Total -
              {{Delivery(getTotal()) | currency:'R'}} Incl delivery</i></p>
          <p *ngIf="delType==='Collection'" style="width: 100%; text-align: right; font-size: 13px;"><i>Cart Total -
              {{notDelivery(getTotal()) | currency:'R'}} Excl delivery</i></p>
          <ion-button color="transparent" [disabled]="prodCart.length==0" (click)="presentAlertConfirm()">
            PLACE ORDER
          </ion-button>
        </div>

      </div>

    </div>
  </div>

  <div id="sidezzz" [ngClass]="{'viewMenu': viewSideMenu, 'closeMenu': !viewSideMenu}">
    <div class="heading">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </div>

    <div class="side_buttons">

      <ion-button id="icon" routerLink="/home" class="active" color="transparent">
        Home
      </ion-button>

      <ion-button id="icon" (click)="goList('sales')" color="transparent">
        Sales and Specials
      </ion-button>

      <ion-button id="icon" (click)="categories('summer')" color="transparent">
        Summer Gear
      </ion-button>

      <ion-button id="icon" (click)="categories('winter')" color="transparent">
        Winter Gear
      </ion-button>

      <ion-button id="icon" (click)="categories('kwanga')" color="transparent">
        Kwanga Apparel
      </ion-button>

      <ion-button id="icon" href="https://broken-stool.firebaseapp.com/home/About%20Company" color="transparent">
        About Us
      </ion-button>


    </div>
  </div>

  <ion-footer id="webview">
    <div class="footer">
      <div class="heading">
        <img src="../../assets/NoPath - Copy.svg" alt="">
      </div>

      <div class="contact_details">
        <h1>CONTACT US</h1>
        <p>dankiejesu@brokenstool.co.za</p>
        <p>061 446 4674</p>
        <p class="address">5630 Moilwa Drive <br>
          Kagiso <br>
          MOGALE CITY <br>
          1754</p>
      </div>

      <div class="info">
        <h1>INFO</h1>
        <ion-button href="https://broken-stool.firebaseapp.com/home/FAQs" color="transparent">
          <span>FAQs</span>
        </ion-button>
        <ion-button href="https://broken-stool.firebaseapp.com/home/Terms%20and%20Privacy%20Policy" color="transparent">
          <span>Terms and Privacy Policy</span>
        </ion-button>
        <ion-button href="https://broken-stool.firebaseapp.com/home/Disclaimer" color="transparent">
          <span>Disclaimer</span>
        </ion-button>
        <ion-button href="https://broken-stool.firebaseapp.com/home/Payment%20Process" color="transparent">
          <span>Payment Process</span>
        </ion-button>
        <ion-button href="https://broken-stool.firebaseapp.com/home/About%20Company" color="transparent">
          <span>Developers</span>
        </ion-button>
      </div>

      <div class="connect">
        <h1>CONNECT</h1>
        <ion-button href="https://www.facebook.com/brokenstoolbrand/" color="transparent">
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
          Facebook
        </ion-button>
        <ion-button href="https://www.instagram.com/dankiejesu/" color="transparent">
          <ion-icon slot="start" name="logo-instagram"></ion-icon>
          Instagram
        </ion-button>
      </div>

      <div class="app_store">
        <img src="../../assets/android.png" alt="App Store">
      </div>
    </div>
  </ion-footer>

</ion-content>