<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon slot="start" id="icon" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button id="rate" (click)="presentPopover($event)">
        <ion-icon slot="start" name="star"></ion-icon> Rate This Product
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="container">
    <div class="image" *ngFor="let prod of unitProduct">
      <img src="https://i.pinimg.com/564x/59/e2/11/59e211cb4bdc56c35c8a5d4dcbdf7305.jpg">

      <div class="iteminfo">
        <div class="itemname">
          <div class="stars">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </div>

          <div class="appname" style="line-height: 20px; font-weight: normal;">
            <p><b> {{prod.data.name}}</b> <br> By Dankie Jesu</p>
          </div>
        </div>

        <div class="price">
          <p>{{prod.data.price  | currency:'R' }}</p>
        </div>
      </div>


    </div>

    <div class="productinfo" *ngFor="let prod of unitProduct">
      <div class="add">
        <ion-fab-button color="transparent" (click)="toBusket()">
          <ion-icon name="basket"></ion-icon>

        </ion-fab-button>
      </div>
      <div class="about">
        <p>About Product</p>
        <p>{{prod.data.description}}</p>
      </div>
      <div class="sizes">
        <p>Available sizes</p>

        <ion-button *ngFor="let size of prod.data.size" (click)="sizeChosen(size)" color="transparent">
          {{size}}
        </ion-button>

      </div>
      <div class="colours">
        <p>colours</p>

        <ion-button (click)="onClick()" color="transparent" style="background: blue; border-radius: 6px;">
        </ion-button>
        <ion-button (click)="onClick()" color="transparent" style="background: green; border-radius: 6px;">
        </ion-button>
        <ion-button (click)="onClick()" color="transparent" style="background: red; border-radius: 6px;">
        </ion-button>
      </div>
      <div class="quantity">
        <p>Quantity</p>
        <ion-button (click)="minus(quantity)" color="transparent" style="background: rgb(212, 212, 212);
         color: maroon;
         border-top-left-radius: 7px;
         border-bottom-left-radius: 7px;">
          <ion-icon name="remove"></ion-icon>
        </ion-button>
        <ion-button color="transparent" style="background: rgb(212, 250, 255);">
          {{quantity}}
        </ion-button>
        <ion-button (click)="plus(quantity)" color="transparent" style="background: rgb(212, 212, 212); 
        color: maroon;
         border-top-right-radius: 7px;
         border-bottom-right-radius: 7px;">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </div>
      <div class="shipping">
        <p>Shipping Information</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown</p>
      </div>
      <div class="delivery">
        <p>Delivery Information</p>
        <p>Items are available for pick up at the following Address</p>
        <p>123 Orlando East<br>
          SOWETO<br>
          1804
        </p>
      </div>

      <div class="buttonz">
        <ion-button (click)="addToCart(prod.id, prod.data)" color="transparent">
          <ion-icon slot="start" name="basket"></ion-icon> Add to basket <ion-icon name="bookmark" id="book"
            style="color: maroon; font-size: 8vw;position: relative; bottom: 13px;"></ion-icon>
          {{prod.data.price * quantity | currency:'R'  }}
        </ion-button>
      </div>
    </div>
  </div>

</ion-content>


<!-- <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCart()" #cart>
      <div class="cart-length">{{ cartItemCount | async }}</div>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-card *ngFor="let p of products">
      <ion-card-header>
        <ion-card-title>{{ p.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-label color="secondary">
              <b>{{ p.price | currency:'R' }}</b>
            </ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-button fill="clear" (click)="addToCart(p)">
              <ion-icon name="cart"></ion-icon>
            </ion-button>
            <ion-button fill="clear">
              <ion-icon name="heart"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list> -->

<!--  <ion-fab vertical="top" horizontal="end" slot="fixed">
          <ion-fab-button (click)="openCart()" #cart>
            <div class="cart-length">{{ cartItemCount | async }}</div>
            <ion-icon name="cart" class="cart-icon"></ion-icon>
          </ion-fab-button>
        </ion-fab> -->