<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="secondary">
          <ion-button>
            <ion-icon slot="icon-only" name="arrow-back" id="icon"></ion-icon>
          </ion-button>
        </ion-buttons>
      
        <ion-title>Track Your Order</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <div class="cards">
      <div class="card">
        <div class="left">
          <div class="image">
            <img src="" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>
