<ion-header no-border id="nav">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button id="icon" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end" (click)="logout()">
      Logout<ion-icon slot="start" name="exit" id="icon"></ion-icon>
    </ion-buttons>

    <ion-title style="font-family: 'Poiret One'; font-size: 20px; letter-spacing: 2px;">DankieJesu</ion-title>
  </ion-toolbar>

</ion-header>



<ion-header no-border id="mobile">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon slot="start" name="arrow-back" id="icon"></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end" (click)="logout()">
        <ion-icon slot="start" name="exit" id="icon"></ion-icon>
      </ion-buttons>
      <ion-title >PROFILE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div [ngClass]="{'loader': loaderAnimate, 'loader-hide': !loaderAnimate}">
        <div class="maploader">
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div><p style="color:white; text-align: center;">{{loaderMessages}}</p>
        </div>
       <!--  <div class="loading-text">
          <p>Loading Map</p>
        </div> -->
      </div>
  

  <div class="container">

    <div class="image" >
      <img src="{{profilePic}}">
      <div class="name">
        <!-- <ion-progress-bar type="indeterminate"></ion-progress-bar> -->
        <p>{{name }} &nbsp; {{ surname}} <br><span>{{email}}</span></p>

      </div>
      <div class="camera">
        <ion-fab-button color="transparent" (click)="selectImage()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </div>
    </div>

    <div class="btnz">
      <ion-button (click)="showEdit()" color="transparent">
        <span *ngIf="!editprofile">Account Details <ion-icon slot="end" name="add"></ion-icon></span>
        <span *ngIf="editprofile">Account Details <ion-icon slot="end" name="remove" ></ion-icon></span>
      </ion-button>

      <div class="edit" *ngIf="editprofile">
        <div class="inputs" >
          
            <ion-input [(ngModel)]="name" placeholder="Name"></ion-input>

            <ion-input [(ngModel)]="surname" placeholder="Surname"></ion-input>

            <ion-input [(ngModel)]="email" placeholder="Email"></ion-input>

            <ion-input [(ngModel)]="address" placeholder="address"></ion-input>
        </div>
        <div class="buttonz" >
          <ion-button (click)="showEdit()" color="transparent" id="cancel" style="border-radius: 20px;">
            CANCEL
          </ion-button>
          <ion-button (click)="updateProfile()" color="transparent" id="update">
            UPDATE
          </ion-button>
        </div>
      </div>
      <ion-button (click)="pendingOrders()" color="transparent">
        <span>Pending Orders <ion-icon slot="end" name="arrow-forward"></ion-icon></span>
      </ion-button>

      <ion-button (click)="orderhistory()" color="transparent">
        <span>Order History <ion-icon slot="end" name="arrow-forward"></ion-icon></span>
      </ion-button>
    </div>


    <div class="files">
      <div class="backdrop"></div>
      <div class="wishlist" (click)="wishlist()">
        <div class="backdrop"></div>
        <img src="https://i.pinimg.com/564x/d6/91/5b/d6915bda9b337db69c69cbd217c3b307.jpg">

        <div class="right">
          <div class="heart">
          
            <ion-icon slot="start" name="heart"></ion-icon>
          </div>

          <div class="clock">
            <p>{{myWish}} items</p>
          </div>

        </div>
      </div>

      <div class="basket" (click)="basket()">
        <div class="backdrop"></div>
        <img src="https://i.pinimg.com/564x/91/2b/7c/912b7c0f897888c8ae8d24dce149da34.jpg">

        <div class="right">
          <div class="heart">
            <ion-icon slot="start" name="basket"></ion-icon>
          </div>

          <div class="clock">
            <p>{{myCart}} items</p>
          </div>

        </div>
      </div>



    </div>

  </div>

  <div class="web_view">
    <div class="image" >
      <img src="{{profilePic}}">
      <div class="name">
        <!-- <ion-progress-bar type="indeterminate"></ion-progress-bar> -->
        <p>{{name }} &nbsp; {{ surname}} <br><span>{{email}}</span></p>

      </div>
      <div class="camera">
        <ion-fab-button color="transparent" (click)="selectImage()" size="small">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </div>
    </div>
<div class="stuff">
    <div class="btnz" (ionBlur)="check('open')" (ionFocus)="check('close')">
      <ion-button (click)="showEdit()" color="transparent" >
        <span *ngIf="!editprofile" (ionBlur)="check('open')" (ionFocus)="check('close')">Account Details <ion-icon slot="end" name="add" ></ion-icon></span>
        <span *ngIf="editprofile" (ionBlur)="check('open')" (ionFocus)="check('close')">Account Details <ion-icon slot="end" name="remove" ></ion-icon></span>
      </ion-button>

      <div class="edit" *ngIf="editprofile">
        <div class="inputs" >
          
            <ion-input [(ngModel)]="name" placeholder="Name"></ion-input>

            <ion-input [(ngModel)]="surname" placeholder="Surname"></ion-input>

            <ion-input [(ngModel)]="email" placeholder="Email"></ion-input>

            <ion-input [(ngModel)]="address" placeholder="address"></ion-input>
        </div>
        <div class="buttonz" >
          <ion-button (click)="showEdit()" color="transparent" id="cancel" style="border-radius: 20px;">
            CANCEL
          </ion-button>
          <ion-button (click)="updateProfile()" color="transparent" id="update">
            UPDATE
          </ion-button>
        </div>
      </div>
      <ion-button (click)="pendingOrders()" color="transparent">
        <span>Pending Orders <ion-icon slot="end" name="arrow-forward"></ion-icon></span>
      </ion-button>

      <ion-button (click)="orderhistory()" color="transparent">
        <span>Order History <ion-icon slot="end" name="arrow-forward"></ion-icon></span>
      </ion-button>
    </div>


    <div class="files" >
      <div class="backdrop"></div>
      <div class="wishlist" (click)="wishlist()" >
        <div class="backdrop"></div>
        <img src="https://i.pinimg.com/564x/d6/91/5b/d6915bda9b337db69c69cbd217c3b307.jpg">

        <div class="right">
          <div class="heart">
            Wishlist
            <ion-icon slot="start" name="heart"></ion-icon>
          </div>

          <div class="clock">
            <p>{{myWish}} items</p>
          </div>

        </div>
      </div>

      <div class="basket" (click)="basket()" >
        <div class="backdrop"></div>
        <img src="https://i.pinimg.com/564x/91/2b/7c/912b7c0f897888c8ae8d24dce149da34.jpg">

        <div class="right">
          <div class="heart">
            Basket
            <ion-icon slot="start" name="basket"></ion-icon>
          </div>

          <div class="clock">
            <p>{{myCart}} items</p>
          </div>

        </div>
      </div>



    </div>
  </div>
  </div>

</ion-content>