<ion-header no-border id="nav">

  <ion-toolbar>

    <img src = "../../assets/Logo.png" width="150px" height="90px">

    <ion-buttons slot="end" (click)="logout()">
      <div class="icon1">

        <ion-button id="icon" routerLink= "/home" >
          Home
        </ion-button>

        <ion-button id="icon" routerLink= "/home">
          Sales and Specials
        </ion-button>

        <ion-button id="icon" routerLink= "/categories">
          Summer Gear
        </ion-button>

        <ion-button id="icon" routerLink= "/list">
          Winter Gear
        </ion-button>

        <ion-button id="icon" routerLink= "/view">
          Kwanga Apparel
        </ion-button>

        <ion-button id="icon" href="https://broken-stool.firebaseapp.com/home/About%20Company">
          About Us
        </ion-button>

      </div>

      Logout<ion-icon slot="start" name="exit" id="icon"></ion-icon>
    </ion-buttons>

    <!-- <ion-title style="font-family: 'Poiret One'; font-size: 20px; letter-spacing: 2px;">DankieJesu</ion-title> -->
  </ion-toolbar>

</ion-header>

<ion-header no-border id="mobile">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon slot="start" name="arrow-back" id="icon"></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end" (click)="settings()">
      <ion-icon slot="start" name="settings" id="icon"></ion-icon>
    </ion-buttons>
    <ion-title>PROFILE</ion-title>
  </ion-toolbar>
</ion-header>
<div [ngClass]="{'loader': loaderAnimate, 'loader-hide': !loaderAnimate}">
  <div class="maploader">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <p style="color:white; text-align: center;">{{loaderMessages}}</p>
  </div>
  <!--  <div class="loading-text">
        <p>Loading Map</p>
      </div> -->
</div>
<ion-content fullscreen>

  <p id="lorem" style="font-size: 35px; width: 100%; text-align: center; color: grey; font-family: 'poiret One';">My
    Profile</p>
  <!-- ====================================== Mobile View ============================================= -->
  <div class="container">
    <div class="image">
      <img src="{{profilePic}}">
      <div class="name">
        <!-- <ion-progress-bar type="indeterminate"></ion-progress-bar> -->
        <p>{{name }} &nbsp; {{ surname}} <br><span>{{email}}</span></p><br>
      </div>
      <div class="camera">
        <ion-fab-button color="transparent" id="image" (click)="selectImage()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </div>
    </div>

    <div class="btnz">
      <ion-button (click)="showEdit()" color="transparent">
        <span *ngIf="!editprofile">Account Details <ion-icon slot="end" name="add"></ion-icon></span>
        <span *ngIf="editprofile">Account Details <ion-icon slot="end" name="remove"></ion-icon></span>
      </ion-button>

      <div class="edit" *ngIf="editprofile">
        <div class="inputs">

          <ion-input [(ngModel)]="name" placeholder="Name"></ion-input>

          <ion-input [(ngModel)]="surname" placeholder="Surname"></ion-input>

          <ion-input [(ngModel)]="email" placeholder="Email" readonly></ion-input>

          <ion-input [(ngModel)]="address" placeholder="address"></ion-input>


        </div>
        <div class="buttonz">
          <ion-button (click)="showEdit()" color="transparent" id="cancel" style="border-radius: 20px;">
            CANCEL
          </ion-button>
          <ion-button (click)="updateProfile()" color="transparent" id="update">
            UPDATE
          </ion-button>
        </div>
      </div>
      <ion-button (click)="pendingOrders()" color="transparent">
        <span>Pending Orders <ion-icon slot="end" name="arrow-forward"></ion-icon></span>
      </ion-button>

      <ion-button (click)="orderhistory()" color="transparent">
        <span>Order History <ion-icon slot="end" name="arrow-forward"></ion-icon></span>
      </ion-button>
    </div>


    <div class="files">
      <div class="backdrop"></div>
      <div class="wishlist" (click)="wishlist()">
        <div class="backdrop"></div>
        <img src="https://i.pinimg.com/564x/d6/91/5b/d6915bda9b337db69c69cbd217c3b307.jpg">

        <div class="right">
          <div class="heart">
            <ion-icon slot="start" name="heart"></ion-icon>
          </div>

          <div class="clock">
            <p>Wishlist {{myWish}}</p>
          </div>

        </div>
      </div>

      <div class="basket" (click)="basket()">
        <div class="backdrop"></div>
        <img src="https://i.pinimg.com/564x/91/2b/7c/912b7c0f897888c8ae8d24dce149da34.jpg">

        <div class="right">
          <div class="heart">
            <ion-icon slot="start" name="basket"></ion-icon>
          </div>

          <div class="clock">
            <p>Basket {{myCart}}</p>
          </div>

        </div>
      </div>



    </div>

  </div>
  <!-- ====================================== Web View ================================================ -->
  <div class="web_view">

    <div class="image">
      <img src="{{profilePic}}">
      <div class="name">
        <!-- <ion-progress-bar type="indeterminate"></ion-progress-bar> -->
        <p>{{name }} &nbsp; {{ surname}} <br><span>{{email}}</span></p>
      </div>
    </div>
    <div class="stuff">
      <div class="btnz" (ionBlur)="check('open')" (ionFocus)="check('close')">
        <ion-button (click)="showEdit()" color="transparent" *ngIf="!editprofile" (ionBlur)="check('open')"
          (ionFocus)="check('close')">
          <span>Account Details <ion-icon slot="end" name="add"></ion-icon></span>
          <!-- <span *ngIf="editprofile" (ionBlur)="check('open')" (ionFocus)="check('close')">Account Details <ion-icon slot="end" name="minus" ></ion-icon> <p style="color:grey"> UPDATE &nbsp; &nbsp; CANCEL</p> </span> -->
        </ion-button>
        <div class="update_cancel" *ngIf="editprofile" (ionBlur)="check('open')" (ionFocus)="check('close')">
          <p class="acc">Account Details</p>
          <p class="update" (click)="updateProfile()">UPDATE &nbsp; &nbsp; <span (click)="showEdit()">CANCEL</span></p>

        </div>

        <div class="edit" *ngIf="editprofile">
          <div class="inputs">

            <ion-input [(ngModel)]="name" placeholder="Name"></ion-input>

            <ion-input [(ngModel)]="surname" placeholder="Surname"></ion-input>

            <ion-input [(ngModel)]="email" placeholder="Email" readonly></ion-input>

            <ion-input [(ngModel)]="address" placeholder="address"></ion-input>

            <ion-input type="file" id="file" (change)="featuredPhotoSelected($event)"></ion-input>
          </div>

        </div>
        <ion-button (click)="presentModal()" color="transparent">
          <span>Pending Orders <ion-icon slot="end" name="arrow-forward"></ion-icon></span>
        </ion-button>

        <ion-button (click)="presentPending() " color="transparent">
          <span>Order History <ion-icon slot="end" name="arrow-forward"></ion-icon></span>
        </ion-button>
      </div>


      <div class="files">
        <div class="backdrop"></div>
        <div class="wishlist" (click)=" reviewed()">
          <div class="backdrop"></div>
          <img src="https://i.pinimg.com/564x/d6/91/5b/d6915bda9b337db69c69cbd217c3b307.jpg">

          <div class="right">
            <div class="heart">
              Wishlist
              <ion-icon slot="start" name="heart"></ion-icon>
            </div>

            <div class="clock">
              <p>{{myWish}} items</p>
            </div>

          </div>
        </div>

        <div class="basket" (click)="gotocart()">
          <div class="backdrop"></div>
          <img src="https://i.pinimg.com/564x/91/2b/7c/912b7c0f897888c8ae8d24dce149da34.jpg">

          <div class="right">
            <div class="heart">
              Basket
              <ion-icon slot="start" name="basket"></ion-icon>
            </div>

            <div class="clock">
              <p>{{myCart}} items</p>
            </div>

          </div>
        </div>



      </div>
    </div>


  </div>
  <!-- ====================================== Backdrop ============================================== -->
  <div class="backdrop1" *ngIf="viewBackdrop"></div>
  <!-- ====================================== View Wishlist =========================================== -->
  <div id="wish" [ngClass]="{'viewreviews': viewReviews, 'closereviews': !viewReviews}">

    <div class="heading">
      <p>Wishlist ({{myWishlist.length}})</p>

      <ion-icon slot="icon-only" name="close" (click)="reviewed()"></ion-icon>

    </div>


    <div class="wishlist_items">
      <div class="div">
        <div class="items" *ngFor="let w of myWishlist">
          <div class="left">
            <div class="img">
              <img src="{{w.info.image}}" alt="">
            </div>

            <div class="item_details">
              <p> {{w.info.name}} </p>
              <p>{{w.info.price | currency:'R'}}</p>
            </div>
          </div>

          <div class="right">
            <div class="trash_icon" (click)="delete(w.id)">
              <ion-icon slot="start" name="trash"></ion-icon>
            </div>

            <div class="add_to_basket">
              <ion-button (click)="addtoBusket(w.info.id, w.info, w.id)" color="transparent">
                Add<ion-icon slot="end" name="basket"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>

        <div class="items" id="noItems">
          <p>Wishlist Empty</p>
          <img src="../../assets/sad_smile.svg" alt="">
        </div>

      </div>

    </div>
  </div>

  <!-- ====================================== View Basket ============================================= -->
  <div id="cart" [ngClass]="{'viewcart': viewCart, 'closecart': !viewCart}">

    <div class="heading">
      <p>Basket ({{prodCart.length}})</p>

      <ion-icon slot="icon-only" name="close" (click)="gotocart()"></ion-icon>

    </div>


    <div class="wishlist_items">
      <div class="div">


        <div class="items" *ngFor="let c of prodCart; let i of index">
          <div class="left" *ngFor="let p of c.data.product">
            <div class="img">
              <img src="{{p.picture}}" alt="">
            </div>

            <div class="item_details">
              <p> <b>{{p.product_name}} &nbsp; {{p.cost | currency:'R'}}</b><br>
                size: {{p.size}} &nbsp; color: {{p.color}} <br>
                jan 23, 2020</p>

              <p>
                <ion-icon slot="start" name="remove-circle-outline" (click)="minuss(p, i)"></ion-icon>
                {{p.quantity}} <ion-icon slot="end" name="add-circle-outline" (click)="pluss(p, i)"></ion-icon>
              </p>

            </div>
          </div>

          <div class="right">
            <div class="trash_icon" (click)="removeProd(c.id)">
              <ion-icon slot="start" name="trash"></ion-icon>
            </div>


          </div>
        </div>

        <div class="items" id="noItems" *ngIf="prodCart.length === 0">
          <p>Wishlist Empty</p>
          <img src="../../assets/sad_smile.svg" alt="">
        </div>


        <div class="add_to_basket">

          <div class="delivery_options">
            <ion-button (click)="switchView('d')" color="transparent"
              [ngClass]="{'delivery':buttonActive, 'delivery-inactive': !buttonActive}">
              Delivery
            </ion-button>
            <ion-button (click)="switchView('c')" color="transparent"
              [ngClass]="{'collection': !buttonActive, 'collection-inactive': buttonActive}">
              Collection
            </ion-button>
          </div>
          <p style="width: 100%; text-align: right; font-size: 13px;" *ngIf="!delType"><i>Cart Total -
              {{getTotal() | currency:'R'}}</i></p>
          <p *ngIf="delType==='Delivery'" style="width: 100%; text-align: right; font-size: 13px;"><i>Cart Total -
              {{Delivery(getTotal()) | currency:'R'}} Incl delivery</i></p>
          <p *ngIf="delType==='Collection'" style="width: 100%; text-align: right; font-size: 13px;"><i>Cart Total -
              {{notDelivery(getTotal()) | currency:'R'}} Excl delivery</i></p>
          <ion-button color="transparent" [disabled]="prodCart.length==0" (click)="presentAlertConfirm()">
            PLACE ORDER
          </ion-button>
        </div>

      </div>

    </div>
  </div>

  <!-- ====================================== Settings Menu =========================================== -->
  <div id="settings" [ngClass]="{'viewsettings': viewSettings, 'closesettings': !viewSettings}">
    <div class="heading">
      <ion-icon slot="icon-only" name="close" (click)="settings()"></ion-icon>
    </div>

    <div class="btnz1">


      <ion-button id="icon" href="https://broken-stool.firebaseapp.com/home/Terms%20and%20Privacy%20Policy"
        color="transparent">
        <span style="margin: 5px;">Terms and Privacy Policy</span>
      </ion-button>

      <ion-button id="icon" href="https://broken-stool.firebaseapp.com/home/Disclaimer" color="transparent">
        Disclaimer
      </ion-button>

      <ion-button id="icon" href="https://broken-stool.firebaseapp.com/home/FAQs" color="transparent">
        FAQs
      </ion-button>

      <ion-button id="icon" href="https://broken-stool.firebaseapp.com/home/Payment%20Process" color="transparent">
        Payment Process
      </ion-button>

      <ion-button id="icon" href="https://broken-stool.firebaseapp.com/home/About%20Company" color="transparent">
        About Us
      </ion-button>

      <ion-button (click)="logout()" color="transparent">
        Sign-Out
      </ion-button>
    </div>


    <p slot="bottom">Version 1.0.0</p>
  </div>
</ion-content>