@import url("https://fonts.googleapis.com/css?family=Abel|Poiret+One|Open+Sans+Condensed|Jura|Manjari|Poppins|Raleway|Montserrat ");

ion-toolbar {
  --background: transparent;
  position: absolute;
  #icon {
    color: maroon;
  }
}

.container {
  display: flex;
  flex-flow: column;
  width: 100%;
  position: absolute;
  //   height: 100%;

  .image {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-flow: column;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .name {
      width: 80vw;
      height: 15vw;
      background: white;
      text-align: center;
      color: grey;
      font-family: "Poppins";
      font-size: 4vw;
      border-radius: 10px;
      z-index: 10;
      position: absolute;
      left: 10%;
      bottom: 15px;
      display: grid;
      align-items: center;
      box-shadow: 5px 5px 10px grey;

      p {
        margin: 0 !important;
        font-weight: bold;
        span {
          font-size: 3vw;
          font-weight: normal;
        }
      }
    }

    .camera {
      position: absolute;
      bottom: 0;
      right: 10px;
      z-index: 15;
      border-radius: 50%;
      ion-fab-button{
        background: maroon;
        border-radius: 50%;
        color: white;
      }

    }
  }

  .btnz {
    display: flex;
    flex-flow: column;
    width: 100vw;
    margin: 5px 0px;
    ion-button {
      margin: 0;
      padding: 0;
      height: 7vh;
      border-radius: 0 !important;
      text-align: left;
      border-bottom: 0.1px solid rgb(212, 212, 212);
      border-top: 0.1px solid rgb(212, 212, 212);
      background: #f2f2f2;
      color: black;
      font-weight: lighter;
      overflow: hidden;
      letter-spacing: 1px;
      font-family: "Poppins";
      span {
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
      }
    }

    .edit {
      width: 100%;
      padding: 5px;
      ion-input {
        width: 93vw;
        border: 1px solid rgb(255, 255, 255);
        margin: 5px;
        padding: 3px;
        border-radius: 7px;
        font-size: 0.8em;
        box-shadow: 2px 2px 20px rgb(165, 165, 165);
      }

      .buttonz {
        width: 100%;
        display: flex;
        flex-flow: row;
        #cancel {
          width: 45vw;
          background: red;
          border-radius: 8px;
        }

        #update {
          width: 45vw;
          background: green;
          border-radius: 8px;
        }
        ion-button {
          font-size: 0.8em;
          margin: 5px;
          height: 10vw;
          border-radius: 10px;
          color: white;
          font-family: "Poppins";
          letter-spacing: 2px;
        }
      }
    }
  }

  .files {
    width: 100%;
    padding: 5px;
    position: relative;
    justify-content: space-evenly;
    justify-items: center;
    display: flex;
    flex-flow: row;

    .wishlist {
      width: 45vw;
      height: 25vh;
      position: relative;
      border-radius: 8px;
      margin: 5px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }

      .right {
        display: flex;
        height: 100%;
        flex-flow: column;
        text-align: right;
        justify-content: space-between;
        z-index: 10;
        position: absolute;
        top: 10px;
        right: 10px;
        color: white;
        font-family: "Poppins";
        font-weight: lighter;

        .heart {
          ion-icon {
            text-shadow: 5px 5px 10px grey;
          }
        }
      }

      .backdrop {
        backdrop-filter: blur(3px);
        background: rgba(0, 0, 0, 0.39);
        width: 100%;
        height: 30px;
        position: absolute;
        bottom: 0;

        z-index: 10;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }

    .basket {
      margin: 5px;
      width: 45vw;
      height: 25vh;
      position: relative;
      border-radius: 8px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }

      .right {
        display: flex;
        height: 100%;
        flex-flow: column;
        text-align: right;
        justify-content: space-between;
        z-index: 10;
        position: absolute;
        top: 10px;
        right: 10px;
        color: white;
        font-family: "Poppins";
        font-weight: lighter;
      }

      .backdrop {
        backdrop-filter: blur(3px);
        background: rgba(0, 0, 0, 0.39);
        width: 100%;
        height: 30px;
        position: absolute;
        bottom: 0;

        z-index: 10;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background:rgb(0, 27, 63);
  background-repeat: repeat-x;
  transform: scale(1);
  overflow: hidden;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: backgroundmover 30s linear infinite;
  .maploader {
    .lds-ellipsis {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-ellipsis div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #fff;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }
  }
 }
 .loading-text {
  // color: yellow;
  position: absolute;
  bottom: 50vh;
  left: 0px;
  width: 100vw;
  text-align: center;
  // background: red;
  height: 50vh;
  //z-index: 90;
  margin: auto;
 }
 .loader-hide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  background: rgb(255, 255, 255);
  transform: scale(0);
  overflow: hidden;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  .maploader {
    .lds-ellipsis {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-ellipsis div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #fff;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }
  }
 }
 @keyframes maploader {
  0% {
    // transform: rotate(0deg);
    border-color: rgb(182, 70, 95);
    // background: rgb(255, 192, 192);
  }
  50% {
    // background: rgb(206, 206, 255);
    // transform: rotate(360deg);
    border-color: rgb(42, 50, 75);
  }
  100% {
    border-color: rgb(250, 182, 43);
    // background: rgb(255, 167, 167);
    // transform: rotate(360deg);
  }
 }