<ion-header no-border id="mobile">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back" id="icon"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Order History</ion-title>
  </ion-toolbar>
</ion-header>

<div [ngClass]="{'loader': loaderAnimate, 'loader-hide': !loaderAnimate}">
  <div class="maploader">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <p style="color:white; text-align: center;">{{loaderMessages}}</p>
  </div>
  <!--  <div class="loading-text">
        <p>Loading Map</p>
      </div> -->
</div>

<ion-content fullscreen>

  <div class="container">
    <div class="cards" *ngFor="let o of orderHistory;">

      <div class="card" *ngFor="let b of o.orders" (click)="viewReceipt(o.refNo)">
        <!-- <p style=" text-align: right;">{{o.refNo[0]}}</p> -->
        <div class="image">
          <img src="{{b.picture}}" alt="">
        </div>

        <div class="right">
          <div class="itemname">
            <p>{{b.product_name}}</p>
          </div>

          <div class="costs">
            <p><i>QTY. {{b.quantity}}</i> <br> {{b.cost | currency:'R'}}</p>
          </div>
        </div>
      </div>

      <p style="font-style: italic; margin-bottom: 10px">{{o.timestamp | date:"medium"}}</p>
    </div>
    <div class="card" id="msg" *ngIf="orderHistory.length==0">
      <p> No History Yet</p>
      <img src="../../assets/sad_smile.svg">
    </div>
  </div>

  <div class="web_view">

    <p id="lorem" style="font-size: 20px; width: 100%; text-align: center; color: grey; font-family: 'poiret One';">
      Order History</p>
    <p id="lorem" style="font-size: 13px; width: 100%; text-align: center; color: rgb(196, 196, 196);">Lorem ipsum dolor
      sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
      ad minim veniam</p>

    <div class="cards" *ngFor="let o of orderHistory; let z = index">

      <div class="card" >
        <div class="left">
          <div class="itemz" *ngFor="let b of o.orders" >
            <div class="image">
              <img src="{{b.picture}}" alt="">
            </div>

            <div class="right">
              <div class="itemname">
                <p>{{b.product_name}}</p>
              </div>

              <div class="costs">
                <p><i>QTY. {{b.quantity}}</i> <br> {{b.cost | currency:'R'}} <br> </p>
              </div>
            </div>
          </div>
        </div>


        <div id="receipt">
          <div class="receipt">
            <h1>Your Receipt</h1>
          </div>

          <div class="name">
            <p>{{userProfile.name}} {{userProfile.surname}} <br> <span>{{userProfile.cellno}}</span></p>
          </div>

          <div class="ref">
            <p>REF NO: <span><i>{{o.refNo}}</i></span></p>
          </div>

          <div class="cart">
            <p><b>Date of Puchase: </b><i>{{o.timestamp | date:"medium"}}</i> <br>
              <b>Items</b></p>
          </div>

          <div class="table" >
            <div class="list" *ngFor="let prod of o.orders;">
              <p style="width: 70vw">{{prod.product_name}}</p>
              <p>{{prod.quantity}}</p>
            </div>


            <br>
            <div class="total" >
              <p style="width: 70vw"><b>Total Quantity</b></p>
              <p>{{getQuantity(z)}}</p>
            </div>
          </div>

          <div class="grand">
            <p>Grand Total</p>
            <p>{{getTotal() | currency:'R'}}</p>
          </div>
          <div class="ordertype">
            <p>Order Type</p>
            <p id="del"><i>Delivery</i></p>
          </div>

          <div class="address">
            <p>Order Address <br> <span>{{userProfile.address}}</span></p>

          </div>

          <div class="status">
            <p>Order Status: &nbsp; <i>{{o.status}}</i></p>
          </div>

          <div class="timeline">
            <p>Order Received - 20 January 2020<br>
              Order Processed - 21 January 2020<br>
              Order Ready for Delivery - 23 January 2020 <br>
              Order Delivered - 25 January 2020</p>
          </div>
          <!-- </div> -->
          
          <div class="buttonz">
            <ion-button color="transparent" (click)="downloadFile(selectedFile.value)">
              DOWNLOAD COPY
            </ion-button>
          </div>
        </div>

      </div>

      <p style="font-style: italic;">{{o.timestamp | date:"medium"}}</p>
    </div>
    <!-- <div class="card" id="msg" *ngIf="orderHistory.length==0">
      <p> No History Yet</p>
      <img src="../../assets/sad_smile.svg">
    </div> -->




  </div>


</ion-content>