<ion-header no-border id="nav">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button id="icon" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons> 

    <ion-title style="font-family: 'Poiret One'; font-size: 20px; letter-spacing: 2px;">Order History</ion-title>
  </ion-toolbar>

</ion-header>


<ion-header no-border id="mobile">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back" id="icon"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Order History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div [ngClass]="{'loader': loaderAnimate, 'loader-hide': !loaderAnimate}">
    <div class="maploader">
      <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <p style="color:white; text-align: center;">{{loaderMessages}}</p>
    </div>
    <!--  <div class="loading-text">
          <p>Loading Map</p>
        </div> -->
  </div>
  <div class="container">
    <div class="cards" *ngFor="let o of orderHistory;">

      <div class="card" *ngFor="let b of o.orders" (click)="viewReceipt(o.refNo)">
        <!-- <p style=" text-align: right;">{{o.refNo[0]}}</p> -->
        <div class="image">
          <img src="{{b.picture}}" alt="">
        </div>

        <div class="right">
          <div class="itemname">
            <p>{{b.product_name}}</p>
          </div>

          <div class="costs">
            <p><i>QTY. {{b.quantity}}</i> <br> {{b.cost | currency:'R'}}</p>
          </div>
        </div>
      </div>

      <p style="font-style: italic; margin-bottom: 10px">{{o.timestamp | date:"medium"}}</p>
    </div>
    <div class="card" id="msg" *ngIf="orderHistory.length==0">
      <p> No History Yet</p>
      <img src="../../assets/sad_smile.svg">
    </div>
  </div>

  <div class="web_view">
    <div class="cards" *ngFor="let o of orderHistory;">

      <div class="card" *ngFor="let b of o.orders" (click)="viewReceipt(o.refNo)">
        <div class="image">
          <img src="{{b.picture}}" alt="">
        </div>

        <div class="right">
          <div class="itemname">
            <p>{{b.product_name}}</p>
          </div>

          <div class="costs">
            <p><i>QTY. {{b.quantity}}</i> <br> {{b.cost | currency:'R'}} <br> </p>
          </div>
        </div>
      </div>

      <p style="font-style: italic;">{{o.timestamp | date:"medium"}}</p>
    </div>
    <div class="card" id="msg" *ngIf="orderHistory.length==0">
      <p> No History Yet</p>
      <img src="../../assets/sad_smile.svg">
    </div>
  </div>


</ion-content>