<div [ngClass]="{'loader': loaderAnimate, 'loader-hide': !loaderAnimate}">
  <!-- <div class="maploader">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <p style="color:white; text-align: center;">{{loaderMessages}}</p>
  </div> -->
   <div class="loader">
        <p style="color: white !important;">Loading...</p>
      </div>
</div>

<ion-content>

  <div class="container" >
    <div class="container2" slot="fixed">
      <div class="search">
        <div class="back" (click)="goBack()">
          <ion-icon slot="start" name="arrow-back" ></ion-icon>
        </div>
        <div class="bar">
          <ion-item>
            <ion-label>Category</ion-label>
            <ionic-selectable [(ngModel)]="port" [items]="ports" itemValueField="id" itemTextField="name"
              [canSearch]="true" (onChange)="portChange($event)">
            </ionic-selectable>
          </ion-item>
          <!-- <ion-searchbar [(ngModel)]="txtSearch" placeholder="Search Items" color="transparent" (ionInput)="inputChange($event)"></ion-searchbar> -->
        </div>
      </div>

      <div class="quantity">
        <p><i>Found ({{mySearch.length}})</i></p>
      </div>
      <div class="line"></div>


      <div class="cards">
        <div class="list" *ngFor="let s of mySearch" (click)="viewitem(s.id, s.info)">
          <div class="image">
            <img src="{{s.info.pictureLink}}" alt="">
          </div>
          <div class="itemname">
            <p>{{s.info.name}}</p>
          </div>
          <div class="amount">
            <p>{{s.info.price | currency:'R'}}</p>
          </div>
        </div>

        <div class="list"  *ngIf="mySearch.length==0" style="border: none; background: none; text-align: center;">
          <p>No items found</p>
        </div>


      </div>

    </div>
  </div>

  <div class="web_view">
    <div class="container2" slot="fixed">
      <div class="search">
        <div class="back" (click)="goBack()">
          <ion-icon slot="start" name="arrow-back" ></ion-icon>
        </div>
        <div class="bar">
          <ion-item>
            <ion-label>Category</ion-label>
            <ionic-selectable [(ngModel)]="port" [items]="ports" itemValueField="id" itemTextField="name"
              [canSearch]="true" (onChange)="portChange($event)">
            </ionic-selectable>
          </ion-item>
          <!-- <ion-searchbar [(ngModel)]="txtSearch" placeholder="Search Items" color="transparent" (ionInput)="inputChange($event)"></ion-searchbar> -->
        </div>
      </div>

      <div class="quantity">
        <p><i>Found ({{mySearch.length}})</i></p>
      </div>
      <div class="line"></div>


      <div class="cards">
        <div class="list" *ngFor="let s of mySearch" (click)="viewitem(s.id, s.info)">
          <div class="image">
            <img src="{{s.info.pictureLink}}" alt="">
          </div>
          <div class="itemname">
            <p>{{s.info.name}}</p>
          </div>
          <div class="amount">
            <p>{{s.info.price | currency:'R'}}</p>
          </div>
        </div>

        <div class="list"  *ngIf="mySearch.length==0" style="border: none; background: none; text-align: center;">
          <p>No items found</p>
        </div>


      </div>

    </div>
  </div>

</ion-content>