<!-- <ion-header>
    <ion-toolbar>
        <ion-buttons slot="secondary">
          <ion-button (click)="profile()" id="icon">
            <ion-icon slot="icon-only" name="person"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-searchbar placeholder="Filter Pizza" inputmode="email" type="decimal" (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>
      </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="container">
<div class="container2" slot="fixed">
    <div class="search">
      <div class="back">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </div>
      <div class="bar">
        <ion-searchbar placeholder="Search Items" color="transparent"></ion-searchbar>
      </div>
    </div>

    <div class="quantity">
      <p><i>Found (5)</i></p>
    </div>
    <div class="line"></div>


    <div class="cards">
    <div class="list">
      <div class="image">
        <img src="https://i.pinimg.com/564x/7a/6e/1a/7a6e1a774679f1e530512f3782a791af.jpg" alt="">
      </div>
      <div class="itemname">
        <p>Maroon t-shirt</p>
      </div>
      <div class="amount">
        <p>R200.90</p>
      </div>
    </div>

    <div class="list">
      <div class="image">
        <img src="https://i.pinimg.com/564x/28/5e/64/285e64b6b2b01c6169cdb824220c2f58.jpg" alt="">
      </div>
      <div class="itemname">
        <p>Maroon t-shirt</p>
      </div>
      <div class="amount">
        <p>R200.90</p>
      </div>
    </div>

    <div class="list">
      <div class="image">
        <img src="https://i.pinimg.com/564x/3d/34/dd/3d34dde23a288494e2dbc8ed0935d945.jpg" alt="">
      </div>
      <div class="itemname">
        <p>Maroon t-shirt</p>
      </div>
      <div class="amount">
        <p>R200.90</p>
      </div>
    </div>
  </div>

  </div>
</div>

</ion-content>