<!-- <ion-header no-border id="nav">

  <ion-toolbar>
    <img src = "../../assets/navylogo.jpg " width="150px" height="90px">

    <ion-buttons slot="end">
      <div class="icon1">

        <ion-button id="icon" routerLink= "/home" class="active">
          Home
        </ion-button>

        <ion-button id="icon" (click)="goList('sales')">
          Sales and Specials
        </ion-button>

        <ion-button id="icon" (click)="categories('summer')">
          Summer Gear
        </ion-button>

        <ion-button id="icon" (click)="categories('winter')">
          Winter Gear
        </ion-button>

        <ion-button id="icon" (click)="categories('kwanga')">
          Kwanga Apparel
        </ion-button>

        <ion-button id="icon" href="https://broken-stool.firebaseapp.com/home/About%20Company">
          About Us
        </ion-button>

      </div>

  
      <ion-button id="icon" (click)="gotocart()" class="notification">
        <ion-icon slot="icon-only" name="basket"></ion-icon> 
        <span class="badge" *ngIf="prodCart.length>0">{{prodCart.length}}</span>

      </ion-button>

      <ion-button (click)="profile()" class="icon2" id="icon">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
  
      <ion-button id="icon" (click)="search('Dankie Jesu')">
        <ion-icon slot="icon-only" name="search" id="search1"></ion-icon>
      </ion-button>
      

      <ion-button id="icon" (click)="reviewed()" class="notification">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
        <span class="badge" *ngIf="myWish>0">{{myWish}}</span>
    
      </ion-button>

      <ion-button id="icon" (click)="getSideMenu()" class="sidemenu">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>

    </ion-buttons> 

  </ion-toolbar>

</ion-header>

<ion-header no-border id="mobile">

  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button id="icon" (click)="search('Dankie Jesu')">
        <ion-icon slot="icon-only" name="search" id="search1"></ion-icon>
      </ion-button>
      <ion-button id="icon" (click)="wishlist()" class="notification">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
        <span class="badge" *ngIf="myWish>0">{{myWish}}</span>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="profile()" id="icon">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>DankieJesu
    </ion-title>


  </ion-toolbar>


</ion-header>
<div [ngClass]="{'loader': loaderAnimate, 'loader-hide': !loaderAnimate}">
  <div class="loader">
    <span>Loading...</span>
  </div>
</div>

<ion-content fullscreen>

  <div id="background"> 
    <div class="b_left"> 
  

    </div>

    <div class="b_middle">
   
    </div>

    <div class="b_right">

    </div>
    
  </div>
  <p style="margin: 10px ; font-family: 'Poppins'" id="welcome">Welcome <i>{{name}} {{surname}}</i></p>

  <div class="container" no-padding>
    <div class="sales">
      <ion-item (click)="goList('sales')">
        <label style="width: 100%">Sales & Specials</label>
        <label slot="end" style="cursor: pointer;">All <ion-icon slot="start" name="arrow-forward"></ion-icon></label>
      </ion-item>

      <div class="saleitems">

        <div class="image" *ngIf="sales.length === 0">
          <img src="https://i.pinimg.com/564x/7a/1c/b7/7a1cb7327a150b3441defdd37b7c3605.jpg">


          <div class="itemname" *ngIf="sales.length === 0">
            <p>NO SALES FOR NOW</p>
          </div>
          <div class="itemname" *ngIf="sales.length !== 0">
            <p>SALES AND PROMOTIONS</p>
          </div>
        </div>

        <div class="image" *ngFor="let s of sales">
          <img src="{{s.data.pictureLink}}" (click)="viewitem(s.id,s.data)">

          <div class="percentage">
            <p>{{s.data.discount}}% OFF</p>
          </div>
          <div class="itemname">
            <p>{{s.data.name}}<br> <span>by {{s.data.brand}}</span></p>
          </div>
        </div>

      </div>

      <div class="saleitems" id="defSale" *ngIf="sales.length >= 1">



      </div>


    </div>

    <div class="buttonz">
      <ion-button expand="full" color="transparent" (click)="categories('summer')">
        <span>Summer Gear <ion-icon slot="end" name="arrow-forward"></ion-icon></span>
      </ion-button>
      <ion-button expand="full" color="transparent" style="border-top: none !important;" (click)="categories('winter')">
        <span>Winter Gear <ion-icon slot="end" name="arrow-forward"></ion-icon></span>
      </ion-button>
    </div>

    <div class="Kwanga">
      <ion-item (click)="categories('kwanga')">
        <label style="width: 100%">Kwanga Apparel</label>
        <label slot="end" style="cursor: pointer;">All <ion-icon slot="start" name="arrow-forward"></ion-icon></label>
      </ion-item>

      <div class="apparel">

        <div class="image">
          <img src="https://i.pinimg.com/564x/32/fb/62/32fb6222fbeffad7edf7f98fce091ce2.jpg" (click)="list('Smart Casual')">

          <div class="itemname">
            <p>Smart Casual</p>
          </div>
        </div>

        <div class="image">
          <img src="https://i.pinimg.com/564x/83/bc/9e/83bc9e4b29401a6c984ee23cf530ced9.jpg" (click)="list('Formal')">


          <div class="itemname">
            <p>Formal</p>
          </div>
        </div>

        <div class="image">
          <img src="https://i.pinimg.com/564x/81/a4/8d/81a48d6a1278797de519513e4c3f7fad.jpg"
            (click)="list('Traditional')">


          <div class="itemname">
            <p>Traditional</p>
          </div>
        </div>

        <div class="image">
          <img src="https://i.pinimg.com/564x/db/ea/43/dbea433b162d79fe176700e61778fd4f.jpg" (click)="list('Sports')">

          <div class="itemname">
            <p>Sport</p>
          </div>
        </div>


      </div>
    </div>

  </div>




  <div class="web_view">

    <div class="sales">
      <ion-item (click)="goList('sales')" >
        <label slot="end" style="cursor: pointer;">All <ion-icon slot="start" name="arrow-forward"></ion-icon></label>
      </ion-item>

      <div class="saleitems">

        <div class="image1">
          <div class="message">
            <h4>SALES AND <br> SPECIALS --</h4><br>
            <p>
              We understand that the economy is holding us on a choke hold, because of
              that, we have a little something for you on Sales and Specials.
              Find your ideal clothing items at lowered prices here.</p><br>
            <p class="p">By <i>Dankie Jesu & Kwanga Apparel</i></p>
          </div>
        </div>

        <div class="image" *ngIf="sales.length <= 1">
          <img src="https://i.pinimg.com/564x/7a/1c/b7/7a1cb7327a150b3441defdd37b7c3605.jpg">


          <div class="itemname">
            <p>SALES AND PROMOTIONS</p>
          </div>
        </div>

        <div class="image" *ngFor="let s of sales">
          <img src="{{s.data.pictureLink}}" (click)="viewitem(s.id,s.data)">

          <div class="percentage">
            <p>{{s.data.discount}}% OFF <br></p>
          </div>
          <div class="itemname">
            <p>{{s.data.name}}<br> <span>by {{s.data.brand}}</span></p>
          </div>
        </div>



      </div>

    </div>

    <div class="buttonz">
      <div class="summer_gear">
        <ion-item (click)="categories('summer')">
     
          <label slot="end" style="cursor: pointer;">All <ion-icon slot="start" name="arrow-forward"></ion-icon></label>
        </ion-item>

        <div class="all_summer">
          <div class="image">
            <img src="https://i.pinimg.com/564x/46/71/e9/4671e912bfa5bea8fd52d872d0e03b3e.jpg"
              (click)="listDankie('Vests')">

            <div class="itemname">
              <p>Vests</p>
            </div>
          </div>

   

          <div class="image">
            <img src="https://i.pinimg.com/564x/c6/9c/60/c69c6023851a3aa9560ac006d24b88ea.jpg"
              (click)="listDankie('Tshirts')">

            <div class="itemname">
              <p>T-shirts</p>
            </div>
          </div>

          <div class="image">
            <img src="https://i.pinimg.com/564x/18/50/2d/18502da8476e0dc0253464a3f103dd55.jpg"
              (click)="listDankie('Crop Tops')">

            <div class="itemname">
              <p>Crop Tops</p>
            </div>
          </div>

          <div class="image">
            <img src="https://i.pinimg.com/564x/15/55/83/155583188fcc9072c0f22b7478bd9453.jpg"
              (click)="listDankie('Shorts')">

            <div class="itemname">
              <p>Shorts</p>
            </div>
          </div>

          <div class="image1" style="margin: 5px">
            <div class="message">
              <h4> -- SUMMER GEAR</h4><br>
              <p>
                For a wide range of summery, sunny and bright summer clothing to keep you
                cool in this heat, check our wide range out.</p><br>
              <p class="p">By <i>Dankie Jesu</i></p>
            </div>
          </div>
        </div>
        <br>
      </div>

      <div class="winter_gear">
        <ion-item (click)="categories('winter')">

          <label slot="end" (click)="categories('winter')" style="cursor: pointer;">All <ion-icon slot="start" name="arrow-forward"></ion-icon>
          </label>
        </ion-item>



        <div class="all_winter">

          <div class="image1" style="margin: 5px">
            <div class="message">
              <h4> WINTER GEAR -- </h4><br>
              <p>
                For those cold days, frosty days and the cozy days, we've got your back
                with put range of winter gear that will have you and your loved ones nice and warm.</p><br>
              <p class="p">By <i>Dankie Jesu</i></p>
            </div>
          </div>

          <div class="image">
            <img src="https://i.pinimg.com/564x/da/46/aa/da46aa8612c3691091c96720ff8a2985.jpg"
              (click)="listDankie('Hoodies')">

            <div class="itemname">
              <p>Hoodies</p>
            </div>
          </div>

          <div class="image">
            <img src="https://i.pinimg.com/564x/a3/a1/8b/a3a18b4c3a78b3187d70b456cc09ad7e.jpg"
              (click)="listDankie('Sweaters')">

            <div class="itemname">
              <p>Sweaters</p>
            </div>
          </div>

          <div class="image">
            <img src="https://i.pinimg.com/564x/7e/82/1a/7e821a6ab104dfc0d6cfe83104bbf51e.jpg"
              (click)="listDankie('Beanies')">

            <div class="itemname">
              <p>Beanies</p>
            </div>
          </div>

          <div class="image">
            <img src="https://i.pinimg.com/564x/6f/85/3e/6f853e216ad9a18302338c5c2d596ff9.jpg"
              (click)="listDankie('Track Suits')">

            <div class="itemname">
              <p>Track suits</p>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="Kwanga">
      <ion-item (click)="categories('kwanga')">
        <label>kwanga Apparel</label>
        <label slot="end" style="cursor: pointer;">All <ion-icon slot="start" name="arrow-forward"></ion-icon></label>
      </ion-item>
      <p style="font-size: 13px; color: rgb(168, 168, 168); font-family: 'Raleway'; margin-left: 10px;">Shop Kwanga and find your ideal
        outfit for every occasion, for every event and even just to look your best. DAILY</p>
      <div class="apparel">

        <div class="image">
          <img src="https://i.pinimg.com/564x/32/fb/62/32fb6222fbeffad7edf7f98fce091ce2.jpg" (click)="list('Smart Casual')">

          <div class="itemname">
            <p>Smart Casual</p>
          </div>
        </div>

        <div class="image">
          <img src="https://i.pinimg.com/564x/83/bc/9e/83bc9e4b29401a6c984ee23cf530ced9.jpg" (click)="list('Formal')">


          <div class="itemname">
            <p>Formal</p>
          </div>
        </div>

        <div class="image">
          <img src="https://i.pinimg.com/564x/81/a4/8d/81a48d6a1278797de519513e4c3f7fad.jpg"
            (click)="list('Traditional')">


          <div class="itemname">
            <p>Traditional</p>
          </div>
        </div>

        <div class="image">
          <img src="https://i.pinimg.com/564x/db/ea/43/dbea433b162d79fe176700e61778fd4f.jpg" (click)="list('Sports')">

          <div class="itemname">
            <p>Sport</p>
          </div>
        </div>



      </div>
    </div>
  </div>



  <div class="backdrop1" *ngIf="viewBackdrop"></div>
  <div id="wish" [ngClass]="{'viewreviews': viewReviews, 'closereviews': !viewReviews}">

    <div class="heading">
      <p>Wishlist ({{myWishlist.length}})</p>

      <ion-icon slot="icon-only" name="close" (click)="reviewed()"></ion-icon>

    </div>


    <div class="wishlist_items">
      <div class="div">
        <div class="items" *ngFor="let w of myWishlist; let i = index">
          <div class="left">
            <div class="img">
              <img src="{{w.info.image}}" alt="">
            </div>

            <div class="item_details">
              <p> {{w.info.name}} </p>
              <p>{{w.info.price | currency:'R'}}</p>
              <p style="color: rgb(77, 1, 1)"><i>{{itemAvailable[i] }}</i></p>
            </div>
          </div>

          <div class="right">
            <div class="trash_icon" (click)="delete(w.id)">
              <ion-icon slot="start" name="trash"></ion-icon>
            </div>

            <div class="add_to_basket">
              <ion-button [disabled]="itemAvailable[i]==='Out of stock'" (click)="addtoBusket(w.info.id, w.info, w.id, itemAvailable[i])" color="transparent">
                Add<ion-icon slot="end" name="basket"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>

        <div class="items" id="noItems" *ngIf="myWishlist.length===0">
          <p>Wishlist Empty</p>
          <img src="../../assets/sad_smile.svg" alt="">
        </div>


      </div>

    </div>
  </div>

  <div id="cart" [ngClass]="{'viewcart': viewCart, 'closecart': !viewCart}">

    <div class="heading">
      <p>Basket ({{prodCart.length}})</p>

      <ion-icon slot="icon-only" name="close" (click)="gotocart()"></ion-icon>

    </div>


    <div class="wishlist_items">
      <div class="div">


        <div class="items" *ngFor="let c of prodCart; let i of index">
          <div class="left" *ngFor="let p of c.data.product">
            <div class="img">
              <img src="{{p.picture}}" alt="">
            </div>

            <div class="item_details">
              <p> <b>{{p.product_name}} &nbsp; {{p.cost | currency:'R'}}</b><br>
                size: {{p.size}} &nbsp; color: {{p.color}} <br>
                jan 23, 2020</p>

              <p>
                <ion-icon slot="start" name="remove-circle-outline" (click)="minuss(p, i)"></ion-icon>
                {{p.quantity}} <ion-icon slot="end" name="add-circle-outline" (click)="pluss(p, i)"></ion-icon>
              </p>

            </div>
          </div>

          <div class="right">
            <div class="trash_icon" (click)="removeProd(c.id)">
              <ion-icon slot="start" name="trash"></ion-icon>
            </div>


          </div>
        </div>

        <div class="items" id="noItems" *ngIf="prodCart.length === 0">
          <p>Basket Empty</p>
          <img src="../../assets/empty-cart.svg" alt="">
        </div>


        <div class="add_to_basket">

          <div class="delivery_options">
            <ion-button (click)="switchView('d')" color="transparent"
              [ngClass]="{'delivery':buttonActive, 'delivery-inactive': !buttonActive}">
              Delivery
            </ion-button>
            <ion-button (click)="switchView('c')" color="transparent"
              [ngClass]="{'collection': !buttonActive, 'collection-inactive': buttonActive}">
              Collection
            </ion-button>
          </div>
          <p style="width: 100%; text-align: right; font-size: 13px;" *ngIf="!delType"><i>Cart Total -
              {{getTotal() | currency:'R'}}</i></p>
          <p *ngIf="delType==='Delivery'" style="width: 100%; text-align: right; font-size: 13px;"><i>Cart Total -
              {{Delivery(getTotal()) | currency:'R'}} Incl delivery</i></p>
              <p *ngIf="delType==='Delivery'" style="width: 100%; text-align: right; font-size: 13px; color: maroon"><i>Please Note: Delivery will take up to four days
               </i></p>
          <p *ngIf="delType==='Collection'" style="width: 100%; text-align: right; font-size: 13px;"><i>Cart Total -
              {{notDelivery(getTotal()) | currency:'R'}} Excl delivery</i></p>

              <p *ngIf="delType==='Collection'" style="width: 100%; text-align: right; font-size: 13px; color: maroon"><i>Please Note:  You can collect your items at any time
               </i></p>
          <ion-button color="transparent" [disabled]="prodCart.length==0" (click)="presentAlertConfirm()">
            PLACE ORDER
          </ion-button>
        </div>

      </div>

    </div>
  </div>

  <div id="sidezzz" [ngClass]="{'viewMenu': viewSideMenu, 'closeMenu': !viewSideMenu}">
    <div class="heading">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </div>

    <div class="side_buttons">

      <ion-button (click)="profile()" color="transparent">
        Profile
      </ion-button>


      <ion-button id="icon" routerLink= "/home" class="active" color="transparent">
        Home
      </ion-button>

      <ion-button id="icon" (click)="goList('sales')" color="transparent">
        Sales and Specials
      </ion-button>

      <ion-button id="icon" (click)="categories('summer')" color="transparent">
        Summer Gear
      </ion-button>

      <ion-button id="icon" (click)="categories('winter')" color="transparent">
        Winter Gear
      </ion-button>

      <ion-button id="icon" (click)="categories('kwanga')" color="transparent">
        Kwanga Apparel
      </ion-button>

      <ion-button id="icon" href="https://broken-stool.firebaseapp.com/home/About%20Company" color="transparent">
        About Us
      </ion-button>

     
    </div>
  </div>


  <ion-footer id="webview">
    <div class="footer">
      <div class="heading">
        <img src="../../assets/NoPath - Copy.svg" alt="">
      </div>

      <div class="contact_details">
        <h1>CONTACT US</h1>
        <p>dankiejesu@brokenstool.co.za</p>
        <p>061 446 4674</p>
        <p class="address">5630 Moilwa Drive <br>
          Kagiso <br>
          MOGALE CITY <br>
          1754</p>
          <p>Splash Screen Photo by Keagan Henman on Unsplash 
            
          </p>
      </div>

      <div class="info">
        <h1>INFO</h1>
        <ion-button href="https://broken-stool.firebaseapp.com/home/FAQs" color="transparent">
          <span>FAQs</span>
        </ion-button>
        <ion-button href="https://broken-stool.firebaseapp.com/home/Terms%20and%20Privacy%20Policy" color="transparent">
          <span>Terms and Privacy Policy</span>
        </ion-button>
        <ion-button href="https://broken-stool.firebaseapp.com/home/Disclaimer" color="transparent">
          <span>Disclaimer</span>
        </ion-button>
        <ion-button href="https://broken-stool.firebaseapp.com/home/Payment%20Process" color="transparent">
          <span>Payment Process</span>
        </ion-button>
        <ion-button href="https://broken-stool.firebaseapp.com/home/About%20Company" color="transparent">
          <span>Developers</span>
        </ion-button>
      </div>

      <div class="connect">
        <h1>CONNECT</h1>
        <ion-button href="https://www.facebook.com/brokenstoolbrand/" color="transparent">
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
          Facebook
        </ion-button>
        <ion-button href="https://www.instagram.com/dankiejesu/" color="transparent">
          <ion-icon slot="start" name="logo-instagram"></ion-icon>
          Instagram
        </ion-button>
      </div>

      <div class="app_store">
        <img src="../../assets/android.png" alt="App Store">
      </div>
      
    </div>
  </ion-footer>



  <ion-fab id="mobile1" vertical="bottom" horizontal="end" slot="fixed" size="small"
 >
    <ion-fab-button (click)="busket()" #cart color="transparent" >
      <ion-icon name="basket" class="cart-icon"></ion-icon>
      <p id="number" *ngIf="prodCart.length>0">{{prodCart.length}}</p>
    </ion-fab-button>
  </ion-fab>
</ion-content> -->




<ion-header no-border id="nav">

  <ion-toolbar>
    <img src="../../assets/navylogo.jpg " width="150px" height="90px">

    <ion-buttons slot="end">
      <div class="icon1">

        <ion-button id="icon" routerLink="/home" class="active">
          Home
        </ion-button>

        <ion-button id="icon" (click)="goList('sales')">
          Sales and Specials
        </ion-button>

        <ion-button id="icon" (click)="categories('summer')">
          Summer Gear
        </ion-button>

        <ion-button id="icon" (click)="categories('winter')">
          Winter Gear
        </ion-button>

        <ion-button id="icon" (click)="categories('kwanga')">
          Kwanga Apparel
        </ion-button>

        <ion-button id="icon" href="https://broken-stool.firebaseapp.com/home/About%20Company">
          About Us
        </ion-button>

      </div>


      <ion-button id="icon" (click)="gotocart()" class="notification">
        <ion-icon slot="icon-only" name="basket"></ion-icon>
        <span class="badge" *ngIf="prodCart.length>0">{{prodCart.length}}</span>

      </ion-button>

      <ion-button (click)="profile()" class="icon2" id="icon">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>

      <ion-button id="icon" (click)="search('Dankie Jesu')">
        <ion-icon slot="icon-only" name="search" id="search1"></ion-icon>
      </ion-button>


      <ion-button id="icon" (click)="reviewed()" class="notification">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
        <span class="badge" *ngIf="myWish>0">{{myWish}}</span>

      </ion-button>

      <ion-button id="icon" (click)="getSideMenu()" class="sidemenu">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-header no-border id="mobile">

  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button id="icon" (click)="search('Dankie Jesu')">
        <ion-icon slot="icon-only" name="search" id="search1"></ion-icon>
      </ion-button>
      <ion-button id="icon" (click)="wishlist()" class="notification">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
        <span class="badge" *ngIf="myWish>0">{{myWish}}</span>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="profile()" id="icon">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>DankieJesu
    </ion-title>


  </ion-toolbar>


</ion-header>
<div [ngClass]="{'loader': loaderAnimate, 'loader-hide': !loaderAnimate}">
  <div class="loader">
    <span>Loading...</span>
  </div>
</div>

<ion-content fullscreen>

  <div id="background">
    <div class="b_left">


    </div>

    <div class="b_middle">

    </div>

    <div class="b_right">

    </div>

  </div>
  <p style="margin: 10px ; font-family: 'Poppins'" id="welcome">Welcome <i>{{name}} {{surname}}</i></p>

  <div class="container" no-padding>
    <div class="sales">
      <ion-item (click)="goList('sales')">
        <label style="width: 100%">Sales & Specials</label>
        <label slot="end" style="cursor: pointer;">All <ion-icon slot="start" name="arrow-forward"></ion-icon></label>
      </ion-item>

      <div class="saleitems">

        <div class="image" *ngIf="sales.length === 0">
          <img src="https://i.pinimg.com/564x/7a/1c/b7/7a1cb7327a150b3441defdd37b7c3605.jpg">


          <div class="itemname" *ngIf="sales.length === 0">
            <p>NO SALES FOR NOW</p>
          </div>
          <div class="itemname" *ngIf="sales.length !== 0">
            <p>SALES AND PROMOTIONS</p>
          </div>
        </div>

        <div class="image" *ngFor="let s of sales">
          <img src="{{s.data.pictureLink}}" (click)="viewitem(s.id,s.data)">

          <div class="percentage">
            <p>{{s.data.discount}}% OFF</p>
          </div>
          <div class="itemname">
            <p>{{s.data.name}}<br> <span>by {{s.data.brand}}</span></p>
          </div>
        </div>

      </div>

      <div class="saleitems" id="defSale" *ngIf="sales.length >= 1">



      </div>


    </div>

    <div class="buttonz">
      <ion-button expand="full" color="transparent" (click)="categories('summer')">
        <span>Summer Gear <ion-icon slot="end" name="arrow-forward"></ion-icon></span>
      </ion-button>
      <ion-button expand="full" color="transparent" style="border-top: none !important;" (click)="categories('winter')">
        <span>Winter Gear <ion-icon slot="end" name="arrow-forward"></ion-icon></span>
      </ion-button>
    </div>

    <div class="Kwanga">
      <ion-item (click)="categories('kwanga')">
        <label style="width: 100%">Kwanga Apparel</label>
        <label slot="end" style="cursor: pointer;">All <ion-icon slot="start" name="arrow-forward"></ion-icon></label>
      </ion-item>

      <div class="apparel">
        <div class="card" *ngFor="let cat of prodArr">
          <div class="image">
            <img src="https://i.pinimg.com/564x/32/fb/62/32fb6222fbeffad7edf7f98fce091ce2.jpg"
              (click)="listDankie(cat.category)">
            <div class="itemname">
              <p>{{cat.category}}</p>
            </div>
          </div>
        </div>

        <!-- <div class="image">
          <img src="https://i.pinimg.com/564x/83/bc/9e/83bc9e4b29401a6c984ee23cf530ced9.jpg" (click)="list('Formal')">


          <div class="itemname">
            <p>Formal</p>
          </div>
        </div>

        <div class="image">
          <img src="https://i.pinimg.com/564x/81/a4/8d/81a48d6a1278797de519513e4c3f7fad.jpg"
            (click)="list('Traditional')">


          <div class="itemname">
            <p>Traditional</p>
          </div>
        </div>

        <div class="image">
          <img src="https://i.pinimg.com/564x/db/ea/43/dbea433b162d79fe176700e61778fd4f.jpg" (click)="list('Sports')">

          <div class="itemname">
            <p>Sport</p>
          </div>
        </div> -->


      </div>
    </div>

  </div>




  <div class="web_view">

    <div class="sales">
      <ion-item (click)="goList('sales')">
        <!-- <label>Sales & Specials</label> -->
        <label slot="end" style="cursor: pointer;">All <ion-icon slot="start" name="arrow-forward"></ion-icon></label>
      </ion-item>

      <div class="saleitems">

        <div class="image1">
          <div class="message">
            <h4>SALES AND <br> SPECIALS --</h4><br>
            <p>
              We understand that the economy is holding us on a choke hold, because of
              that, we have a little something for you on Sales and Specials.
              Find your ideal clothing items at lowered prices here.</p><br>
            <p class="p">By <i>Dankie Jesu & Kwanga Apparel</i></p>
          </div>
        </div>

        <div class="image" *ngIf="sales.length <= 1">
          <img src="https://i.pinimg.com/564x/7a/1c/b7/7a1cb7327a150b3441defdd37b7c3605.jpg">


          <div class="itemname">
            <p>SALES AND PROMOTIONS</p>
          </div>
        </div>

        <div class="image" *ngFor="let s of sales">
          <img src="{{s.data.pictureLink}}" (click)="viewitem(s.id,s.data)">

          <div class="percentage">
            <p>{{s.data.discount}}% OFF <br></p>
          </div>
          <div class="itemname">
            <p>{{s.data.name}}<br> <span>by {{s.data.brand}}</span></p>
          </div>
        </div>



      </div>

    </div>

    <div class="buttonz">
      <div class="summer_gear">
        <ion-item (click)="categories('summer')">
          <label slot="end" style="cursor: pointer;">All <ion-icon slot="start" name="arrow-forward"></ion-icon></label>
        </ion-item>
        <div class="all_summer">
          <div class="card" *ngFor="let cat of prodArray">
            <div class="image" *ngIf="cat.isSummer===true">
              <img src="https://i.pinimg.com/564x/46/71/e9/4671e912bfa5bea8fd52d872d0e03b3e.jpg"
                (click)="listDankie(cat.category)">
              <div class="itemname">
                <p>{{cat.category}}</p>
              </div>
            </div>
          </div>

          <div class="image1" style="margin: 5px">
            <div class="message">
              <h4> -- SUMMER GEAR</h4><br>
              <p>
                For a wide range of summery, sunny and bright summer clothing to keep you
                cool in this heat, check our wide range out.</p><br>
              <p class="p">By <i>Dankie Jesu</i></p>
            </div>
          </div>
        </div>



        <br>
      </div>

      <div class="winter_gear">
        <ion-item (click)="categories('winter')">
          <label slot="end" (click)="categories('winter')" style="cursor: pointer;">All <ion-icon slot="start"
              name="arrow-forward"></ion-icon>
          </label>
        </ion-item>

        <div class="all_winter">

          <div class="image1" style="margin: 5px">
            <div class="message">
              <h4> WINTER GEAR -- </h4><br>
              <p>
                For those cold days, frosty days and the cozy days, we've got your back
                with put range of winter gear that will have you and your loved ones nice and warm.</p><br>
              <p class="p">By <i>Dankie Jesu</i></p>
            </div>
          </div>

          <div class="card" *ngFor="let cat of prodArray">
            <div class="image" *ngIf="cat.isSummer===false">
              <img src="https://i.pinimg.com/564x/da/46/aa/da46aa8612c3691091c96720ff8a2985.jpg"
                (click)="listDankie(cat.category)">
              <div class="itemname">
                <p>{{cat.category}}</p>
              </div>
            </div>
          </div>


        </div>
      </div>

    </div>

    <div class="Kwanga">
      <ion-item (click)="categories('kwanga')">
        <label>kwanga Apparel</label>
        <label slot="end" style="cursor: pointer;">All <ion-icon slot="start" name="arrow-forward"></ion-icon></label>
      </ion-item>
      <p style="font-size: 13px; color: rgb(168, 168, 168); font-family: 'Raleway'; margin-left: 10px;">Shop Kwanga and
        find your ideal
        outfit for every occasion, for every event and even just to look your best. DAILY</p>
      <div class="apparel">
        <div class="card" *ngFor="let cat of prodArr">
          <div class="image">
            <img src="https://i.pinimg.com/564x/32/fb/62/32fb6222fbeffad7edf7f98fce091ce2.jpg"
              (click)="listDankie(cat.category)">
            <div class="itemname">
              <p>{{cat.category}}</p>
            </div>
          </div>
        </div>
        <!-- <div class="image">
          <img src="https://i.pinimg.com/564x/32/fb/62/32fb6222fbeffad7edf7f98fce091ce2.jpg"
            (click)="list('Smart Casual')">

          <div class="itemname">
            <p>Smart Casual</p>
          </div>
        </div> -->

        <!-- <div class="image">
          <img src="https://i.pinimg.com/564x/83/bc/9e/83bc9e4b29401a6c984ee23cf530ced9.jpg" (click)="list('Formal')">


          <div class="itemname">
            <p>Formal</p>
          </div>
        </div>

        <div class="image">
          <img src="https://i.pinimg.com/564x/81/a4/8d/81a48d6a1278797de519513e4c3f7fad.jpg"
            (click)="list('Traditional')">


          <div class="itemname">
            <p>Traditional</p>
          </div>
        </div>

        <div class="image">
          <img src="https://i.pinimg.com/564x/db/ea/43/dbea433b162d79fe176700e61778fd4f.jpg" (click)="list('Sports')">

          <div class="itemname">
            <p>Sport</p>
          </div>
        </div> -->



      </div>
    </div>
  </div>



  <div class="backdrop1" *ngIf="viewBackdrop"></div>
  <div id="wish" [ngClass]="{'viewreviews': viewReviews, 'closereviews': !viewReviews}">

    <div class="heading">
      <p>Wishlist ({{myWishlist.length}})</p>

      <ion-icon slot="icon-only" name="close" (click)="reviewed()"></ion-icon>

    </div>


    <div class="wishlist_items">
      <div class="div">
        <div class="items" *ngFor="let w of myWishlist; let i = index">
          <div class="left">
            <div class="img">
              <img src="{{w.info.image}}" alt="">
            </div>

            <div class="item_details">
              <p> {{w.info.name}} </p>
              <p>{{w.info.price | currency:'R'}}</p>
              <p style="color: rgb(77, 1, 1)"><i>{{itemAvailable[i] }}</i></p>
            </div>
          </div>

          <div class="right">
            <div class="trash_icon" (click)="delete(w.id)">
              <ion-icon slot="start" name="trash"></ion-icon>
            </div>

            <div class="add_to_basket">
              <ion-button [disabled]="itemAvailable[i]==='Out of stock'"
                (click)="addtoBusket(w.info.id, w.info, w.id, itemAvailable[i])" color="transparent">
                Add<ion-icon slot="end" name="basket"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>

        <div class="items" id="noItems" *ngIf="myWishlist.length===0">
          <p>Wishlist Empty</p>
          <img src="../../assets/sad_smile.svg" alt="">
        </div>


      </div>

    </div>
  </div>

  <div id="cart" [ngClass]="{'viewcart': viewCart, 'closecart': !viewCart}">

    <div class="heading">
      <p>Basket ({{prodCart.length}})</p>

      <ion-icon slot="icon-only" name="close" (click)="gotocart()"></ion-icon>

    </div>


    <div class="wishlist_items">
      <div class="div">


        <div class="items" *ngFor="let c of prodCart; let i of index">
          <div class="left" *ngFor="let p of c.data.product">
            <div class="img">
              <img src="{{p.picture}}" alt="">
            </div>

            <div class="item_details">
              <p> <b>{{p.product_name}} &nbsp; {{p.cost | currency:'R'}}</b><br>
                size: {{p.size}} &nbsp; color: {{p.color}} <br>
                jan 23, 2020</p>

              <p>
                <ion-icon slot="start" name="remove-circle-outline" (click)="minuss(p, i)"></ion-icon>
                {{p.quantity}} <ion-icon slot="end" name="add-circle-outline" (click)="pluss(p, i)"></ion-icon>
              </p>

            </div>
          </div>

          <div class="right">
            <div class="trash_icon" (click)="removeProd(c.id)">
              <ion-icon slot="start" name="trash"></ion-icon>
            </div>


          </div>
        </div>

        <div class="items" id="noItems" *ngIf="prodCart.length === 0">
          <p>Basket Empty</p>
          <img src="../../assets/empty-cart.svg" alt="">
        </div>


        <div class="add_to_basket">

          <div class="delivery_options">
            <ion-button (click)="switchView('d')" color="transparent"
              [ngClass]="{'delivery':buttonActive, 'delivery-inactive': !buttonActive}">
              Delivery
            </ion-button>
            <ion-button (click)="switchView('c')" color="transparent"
              [ngClass]="{'collection': !buttonActive, 'collection-inactive': buttonActive}">
              Collection
            </ion-button>
          </div>
          <p style="width: 100%; text-align: right; font-size: 13px;" *ngIf="!delType"><i>Cart Total -
              {{getTotal() | currency:'R'}}</i></p>
          <p *ngIf="delType==='Delivery'" style="width: 100%; text-align: right; font-size: 13px;"><i>Cart Total -
              {{Delivery(getTotal()) | currency:'R'}} Incl delivery</i></p>
          <p *ngIf="delType==='Delivery'" style="width: 100%; text-align: right; font-size: 13px; color: maroon">
            <i>Please Note: Delivery will take up to four days
            </i></p>
          <p *ngIf="delType==='Collection'" style="width: 100%; text-align: right; font-size: 13px;"><i>Cart Total -
              {{notDelivery(getTotal()) | currency:'R'}} Excl delivery</i></p>

          <p *ngIf="delType==='Collection'" style="width: 100%; text-align: right; font-size: 13px; color: maroon">
            <i>Please Note: You can collect your items at any time
            </i></p>
          <ion-button color="transparent" [disabled]="prodCart.length==0" (click)="presentAlertConfirm()">
            PLACE ORDER
          </ion-button>
        </div>

      </div>

    </div>
  </div>

  <div id="sidezzz" [ngClass]="{'viewMenu': viewSideMenu, 'closeMenu': !viewSideMenu}">
    <div class="heading">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </div>

    <div class="side_buttons">

      <ion-button (click)="profile()" color="transparent">
        Profile
      </ion-button>


      <ion-button id="icon" routerLink="/home" class="active" color="transparent">
        Home
      </ion-button>

      <ion-button id="icon" (click)="goList('sales')" color="transparent">
        Sales and Specials
      </ion-button>

      <ion-button id="icon" (click)="categories('summer')" color="transparent">
        Summer Gear
      </ion-button>

      <ion-button id="icon" (click)="categories('winter')" color="transparent">
        Winter Gear
      </ion-button>

      <ion-button id="icon" (click)="categories('kwanga')" color="transparent">
        Kwanga Apparel
      </ion-button>

      <ion-button id="icon" href="https://broken-stool.firebaseapp.com/home/About%20Company" color="transparent">
        About Us
      </ion-button>


    </div>
  </div>


  <ion-footer id="webview">
    <div class="footer">
      <div class="heading">
        <img src="../../assets/NoPath - Copy.svg" alt="">
      </div>

      <div class="contact_details">
        <h1>CONTACT US</h1>
        <p>dankiejesu@brokenstool.co.za</p>
        <p>061 446 4674</p>
        <p class="address">5630 Moilwa Drive <br>
          Kagiso <br>
          MOGALE CITY <br>
          1754</p>
        <p>Splash Screen Photo by Keagan Henman on Unsplash

        </p>
      </div>

      <div class="info">
        <h1>INFO</h1>
        <ion-button href="https://broken-stool.firebaseapp.com/home/FAQs" color="transparent">
          <span>FAQs</span>
        </ion-button>
        <ion-button href="https://broken-stool.firebaseapp.com/home/Terms%20and%20Privacy%20Policy" color="transparent">
          <span>Terms and Privacy Policy</span>
        </ion-button>
        <ion-button href="https://broken-stool.firebaseapp.com/home/Disclaimer" color="transparent">
          <span>Disclaimer</span>
        </ion-button>
        <ion-button href="https://broken-stool.firebaseapp.com/home/Payment%20Process" color="transparent">
          <span>Payment Process</span>
        </ion-button>
        <ion-button href="https://broken-stool.firebaseapp.com/home/About%20Company" color="transparent">
          <span>Developers</span>
        </ion-button>
      </div>

      <div class="connect">
        <h1>CONNECT</h1>
        <ion-button href="https://www.facebook.com/brokenstoolbrand/" color="transparent">
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
          Facebook
        </ion-button>
        <ion-button href="https://www.instagram.com/dankiejesu/" color="transparent">
          <ion-icon slot="start" name="logo-instagram"></ion-icon>
          Instagram
        </ion-button>
      </div>

      <div class="app_store">
        <img src="../../assets/android.png" alt="App Store">
      </div>

    </div>
  </ion-footer>

  <ion-fab id="mobile1" vertical="bottom" horizontal="end" slot="fixed" size="small">
    <ion-fab-button (click)="busket()" #cart color="transparent">
      <ion-icon name="basket" class="cart-icon"></ion-icon>
      <p id="number" *ngIf="prodCart.length>0">{{prodCart.length}}</p>
    </ion-fab-button>
  </ion-fab>
</ion-content>