ion-fab-button {
  background: maroon;
  border-radius: 50%;
  color: white;
  box-shadow: 5px 5px 10px rgb(104, 104, 104);
}

.cart-icon {
  font-size: 30px;
}

.cart-length {
  color: var(--ion-color-primary);
  position: absolute;
  top: 18px;
  left: 25px;
  font-weight: 600;
  min-width: 25px;
  z-index: 10;
}

ion-toolbar {
  --background: white;
  #icon {
    color: maroon;
  }
  font-family: "Raleway";
  letter-spacing: 2px;

  #number {
    font-size: 0.8em;
    position: relative;
    top: 8px;
    right: 5px;
  }
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  // height: 100%;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;

  .sales {
    display: flex;
    flex-flow: column;
    position: relative;

    .saleitems {
      width: 100vw;
      // height: 65vw;
      display: flex;
      overflow-x: auto;
      // margin: 5px;

      .image {
        margin: 8px;
        margin-bottom: 10px;
        min-width: 50vw;
        height: 35vh;
        border-radius: 5px;
        position: relative;

        box-shadow: 2px 2px 10px grey;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
        }

        .percentage {
          position: absolute;
          top: 0%;
          right: 10px;
          z-index: 5;
          color: white;
          p {
            font-size: 0.7em;
            text-shadow: 2px 2px 5px black;
          }
        }

        .itemname {
          position: absolute;
          bottom: 0;
          right: 5px;
          color: white;
          p {
            font-size: 0.7em;
            text-align: right;
            text-shadow: 2px 2px 5px black;
            span {
              font-size: 0.5em;
            }
          }
        }
      }
    }

    #defSale {
      .itemname {
        position: absolute;
        bottom: 40%;

        right: 60px;
        color: white;
        p {
          font-size: 5vw;
          text-align: center;
          text-shadow: 2px 2px 5px black;
        }
      }
    }
  }

  .buttonz {
    display: flex;
    flex-flow: column;
    width: 100vw;
    margin: 10px 0px;
    ion-button {
      margin: 0;
      padding: 0;
      height: 7vh;
      border-radius: 0 !important;
      text-align: left;
      border-bottom: 0.1px solid rgb(212, 212, 212);
      border-top: 0.1px solid rgb(212, 212, 212);
      background: rgb(236, 236, 236);
      // background: #f2f2f2;
      color: black;
      font-weight: lighter;

      letter-spacing: 1px;
      span {
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
      }
    }
  }

  .Kwanga {
    display: flex;
    flex-flow: column;
    position: relative;
    .apparel {
      width: 100vw;
      // height: 65vw;
      display: flex;
      overflow-x: auto;
      .image {
        margin: 8px;
        min-width: 52vw;
        height: 35vh;
        border-radius: 5px;
        position: relative;
        box-shadow: 2px 2px 10px grey;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
        }

        .percentage {
          position: absolute;
          top: 0%;
          right: 10px;
          z-index: 5;
          color: white;
          p {
            font-size: 0.7em;
            text-shadow: 2px 2px 5px black;
          }
        }

        .itemname {
          position: absolute;
          bottom: 0;
          right: 5px;
          color: white;
          p {
            font-size: 0.7em;
            text-align: right;
            text-shadow: 2px 2px 5px black;
            span {
              font-size: 0.5em;
            }
          }
        }
      }
    }
  }
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: rgb(0, 27, 63);
  background-repeat: repeat-x;
  transform: scale(1);
  overflow: hidden;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: backgroundmover 30s linear infinite;
  .maploader {
    .lds-ellipsis {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-ellipsis div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #fff;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }
  }
}
.loading-text {
  // color: yellow;
  position: absolute;
  bottom: 50vh;
  left: 0px;
  width: 100vw;
  text-align: center;
  // background: red;
  height: 50vh;
  //z-index: 90;
  margin: auto;
}
.loader-hide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  background: rgb(255, 255, 255);
  transform: scale(0);
  overflow: hidden;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  .maploader {
    .lds-ellipsis {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-ellipsis div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #fff;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }
  }
}
@keyframes maploader {
  0% {
    // transform: rotate(0deg);
    border-color: rgb(182, 70, 95);
    // background: rgb(255, 192, 192);
  }
  50% {
    // background: rgb(206, 206, 255);
    // transform: rotate(360deg);
    border-color: rgb(42, 50, 75);
  }
  100% {
    border-color: rgb(250, 182, 43);
    // background: rgb(255, 167, 167);
    // transform: rotate(360deg);
  }
}

@media only screen and (min-width: 1330px) {
  ion-content {
    background: grey;
  }

  #background {
    width: 100%;
    height: 300px;
    background: url("https://images.unsplash.com/photo-1490481651871-ab68de25d43d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    align-items: center;
    h1 {
      color: rgb(192, 192, 192);
      text-transform: uppercase;
      font-size: 50px;
      font-family: "Poiret One";
      margin: 20px;
      font-weight: 500;
      span {
        font-size: 20px;
      }
    }
  }

  #welcome {
    display: none;
    width: 0 !important;
    height: 0 !important;
  }
  .container {
    display: none;
    width: 0 !important;
    height: 0 !important;
  }

  #mobile {
    display: none;
    width: 0 !important;
    height: 0 !important;
  }

  ion-toolbar {
    --background: rgb(255, 255, 255);
    width: 100%;
    // height: 25vh;
    // display: grid;
    // align-items: center;
    // z-index: 20000000000000000000000000;
    #icon {
      color: rgb(131, 131, 131);
    }
    font-family: "Raleway";
    letter-spacing: 2px;
    color: rgb(131, 131, 131);
    #number {
      font-size: 0.8em;
      position: relative;
      top: 8px;
      right: 5px;
    }

    .icon1 {
      margin: 0 20vw;
    }
  }

  .welcome {
    width: 100%;
    height: 100px;
    --background: rgb(104, 104, 104);
    #welcome {
      font-size: 20px;
    }
  }

  .web_view {
    min-width: 850px;
    max-width: 1200px;
    margin: auto;
    .saleitems {
      display: flex;
      flex-flow: row;
      width: 100%;
      height: 43vh;
      margin: 10px;

      .image1 {
        min-width: 15vw;
        h4 {
          font-weight: bolder;
          font-family: "Poiret One";
          letter-spacing: 2px;
          color: grey;
        }
        p {
          font-weight: lighter;
          font-size: 14px;
          color: rgb(148, 147, 147);
        }
        .p {
          font-size: 13px;
          color: rgb(194, 194, 194);
        }
      }
      .image {
        display: flex;
        flex-flow: column;
        position: relative;
        width: 30vw;
        height: 30vh;
        margin: 10px;
        img {
          width: 100%;
          height: 25vh;
          object-fit: cover;
          box-shadow: 5px 5px 10px rgb(177, 177, 177);
        }

        .percentage {
          position: absolute;
          z-index: 10;
          top: 1px;
          right: 1px;
          // margin: 5px;
          // text-shadow: 5px 5px 10px rgb(0, 0, 0);
        
          p{
            color: rgb(255, 255, 255);
            font-size: 14px;
            background: maroon;
            padding: 3px;
          }
        }

        .itemname {
          font-size: 13px;
          height: 5vh;
          span {
            font-size: 11px;
            color: black;
          }
        }
      }
    }

    .Kwanga {
      ion-item {
        color: black !important;
      }
      .apparel {
        display: flex;
        flex-flow: row;
        width: 100%;
        overflow-x: auto;

        .image {
          display: flex;
          flex-flow: column;
          position: relative;
          min-width: 20vw;
          height: 35vh;
          border-radius: 10px;
          box-shadow: 5px 5px 10px rgb(177, 177, 177);
          margin: 10px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 5px 5px 10px rgb(177, 177, 177);
          }

          .itemname {
            position: absolute;
            // z-index: 10;
            top: 10px;
            right: 10px;
            text-shadow: 5px 5px 10px rgb(0, 0, 0);
            color: white;
          }
        }
      }
    }

    .buttonz {
      margin-top: -50px;
      .all_summer {
        display: flex;
        flex-flow: row;
        width: 100%;
      
        .image {
          display: flex;
          flex-flow: column;
          position: relative;
          width: 30vw;
          height: 30vh;
          margin: 10px;

          img {
            width: 100%;
            height: 25vh;
            object-fit: cover;
            box-shadow: 5px 5px 10px rgb(177, 177, 177);
          }

          .itemname {
            height: 5vh;
            font-size: 13px;
          }
        }

        .image1 {
          min-width: 15vw;
          text-align: right;
          h4 {
            font-weight: bolder;
            font-family: "Poiret One";
            letter-spacing: 2px;
            color: grey;
          }
          p {
            font-weight: lighter;
            font-size: 14px;
            color: rgb(148, 147, 147);
          }
          .p {
            font-size: 13px;
            color: rgb(194, 194, 194);
          }
        }
      }

      .all_winter {
        display: flex;
        flex-flow: row;
        width: 100%;
    
        .image {
          display: flex;
          flex-flow: column;
          position: relative;
          width: 30vw;
          height: 30vh;
          margin: 10px;

          img {
            width: 100%;
            height: 25vh;
            object-fit: cover;
          
            box-shadow: 5px 5px 10px rgb(177, 177, 177);
          }

          .itemname {
           height: 5vh;
           font-size: 13px;
          }
        }

        .image1 {
          min-width: 15vw;
          h4 {
            font-weight: bolder;
            font-family: "Poiret One";
            letter-spacing: 2px;
            color: grey;
          }
          p {
            font-weight: lighter;
            font-size: 14px;
            color: rgb(148, 147, 147);
          }
          .p {
            font-size: 13px;
            color: rgb(194, 194, 194);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .web_view {
    display: none;
    width: 0%;
    height: 0%;
  }
  #nav {
    display: none;
    width: 0%;
    height: 0%;
  }

  #background{
    display: none;
    width: 0%;
    height: 0%;
  }

  .container {
    width: 100% !important;
    height: 100% !important;
    ion-fab-button {
      background: maroon;
      border-radius: 50%;
      color: white;
      box-shadow: 5px 5px 10px rgb(104, 104, 104);
    }

    .cart-icon {
      font-size: 30px;
    }

    .cart-length {
      color: var(--ion-color-primary);
      position: absolute;
      top: 18px;
      left: 25px;
      font-weight: 600;
      min-width: 25px;
      z-index: 10;
    }

    ion-toolbar {
      --background: white;
      #icon {
        color: maroon;
      }
      font-family: "Raleway";
      letter-spacing: 2px;

      #number {
        font-size: 0.8em;
        position: relative;
        top: 8px;
        right: 5px;
      }
    }

    .container {
      .sales {
        display: flex;
        flex-flow: column;
        position: relative;

        .saleitems {
          width: 100%;
          // height: 65vw;
          display: flex;
          overflow-x: auto;
          // margin: 5px;

          .image {
            margin: 8px;
            margin-bottom: 10px;
            min-width: 45vw;
            height: 35vh;
            border-radius: 5px;
            position: relative;

            box-shadow: 2px 2px 10px grey;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 5px;
            }

            .percentage {
              position: absolute;
              top: 0%;
              right: 10px;
              z-index: 5;
              color: white;
              p {
                font-size: 0.7em;
                text-shadow: 2px 2px 5px black;
              }
            }

            .itemname {
              position: absolute;
              bottom: 0;
              right: 5px;
              color: white;
              p {
                font-size: 0.7em;
                text-align: right;
                text-shadow: 2px 2px 5px black;
                span {
                  font-size: 0.5em;
                }
              }
            }
          }
        }

        #defSale {
          .itemname {
            position: absolute;
            bottom: 40%;

            right: 60px;
            color: white;
            p {
              font-size: 5vw;
              text-align: center;
              text-shadow: 2px 2px 5px black;
            }
          }
        }
      }

      .buttonz {
        display: flex;
        flex-flow: column;
        width: 100vw;
        margin: 10px 0px;
        ion-button {
          margin: 0;
          padding: 0;
          height: 7vh;
          border-radius: 0 !important;
          text-align: left;
          border-bottom: 0.1px solid rgb(212, 212, 212);
          border-top: 0.1px solid rgb(212, 212, 212);
          background: rgb(236, 236, 236);
          // background: #f2f2f2;
          color: black;
          font-weight: lighter;

          letter-spacing: 1px;
          span {
            width: 100%;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
          }
        }
      }

      .Kwanga {
        display: flex;
        flex-flow: column;
        position: relative;
        .apparel {
          width: 100%;
          // height: 65vw;
          display: flex;
          overflow-x: auto;
          .image {
            margin: 8px;
            min-width: 52vw;
            height: 35vh;
            border-radius: 5px;
            position: relative;
            box-shadow: 2px 2px 10px grey;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 5px;
            }

            .percentage {
              position: absolute;
              top: 0%;
              right: 10px;
              z-index: 5;
              color: white;
              p {
                font-size: 0.7em;
                text-shadow: 2px 2px 5px black;
              }
            }

            .itemname {
              position: absolute;
              bottom: 0;
              right: 5px;
              color: white;
              p {
                font-size: 0.7em;
                text-align: right;
                text-shadow: 2px 2px 5px black;
                span {
                  font-size: 0.5em;
                }
              }
            }
          }
        }
      }
    }
  }
}
